[2018-03-30 16:42] hxrofo opened #1 "good suggestion"
hi
great tool, i like it. i think it would be great if you edit the poll technique to include for example 10 questions, as a quiz or personality test etc... after the victim answers the questions, he is redirected to a new page "quiz completed successfully... please login to facebook to see your results" and then he gets redirected to the login page...after he logs in, he gets the answers...and th

[2018-03-31 05:57] An0nUD4Y commented on #1
Thank you hxrofo .... for your suggestion.....

[2018-03-31 06:00] An0nUD4Y commented on #1
Thanks again...
I like your suggestion......
Just for you and others. I am working on your suggestion....

You will get a update in few days.

[2018-04-23 09:39] Ublimjo opened #7 "SocialFishTermux NGROK issue with architecture."
Traceback (most recent call last):
File "SocialFishTermux.py", line 214, in <module>
    runNgrok()
File "SocialFishTermux.py", line 205, in runNgrok
    print('\n {0}[{1}*{0}]{1} Ngrok URL: {2}' + url.readlines()[0] + '{1}').format(CYAN, END, GREEN) IndexError:
list index out of range

[2018-04-24 09:13] An0nUD4Y commented on #7
wait, i am trying to resolve this issue,,,,

[2018-04-24 09:43] #1 closed

[2018-04-25 04:34] usama7628674 commented on #7
@Ublimjo This isn't a issue.I guess you're trying to use termux version in linux.Actually you can't cuz termux use arm version of ngrok (not amd64 or i386) which won't run in linux machine so you have to run it in your android device.Here is the screenshot of termux version running in my android device.
![screenshot_2018-04-25-09-26-00](https://user-images.githubusercontent.com/29252277/39226396-b

[2018-04-25 04:56] Ublimjo commented on #7
No, I use termux

[2018-04-25 05:03] Ublimjo commented on #7
![](https://i.imgur.com/MIpMoQA.jpg)

[2018-04-25 05:32] usama7628674 commented on #7
@Ublimjo Did you execute python2 SocialFishTermux.py in your device?

[2018-04-25 06:05] Ublimjo commented on #7
What!!    Is it possible?!?
[code]

[2018-04-25 06:40] Ublimjo commented on #7
No!, look
[code]

[2018-04-25 06:45] An0nUD4Y commented on #7
@Ublimjo Try to run ngrok with this command..
     ./ngrok http 8080

[2018-04-25 06:51] Ublimjo commented on #7
Same error
[code]

[2018-04-25 06:56] usama7628674 commented on #7
@Ublimjo Go to official ngrok website download ngrok for your architecture and rerun it

[2018-04-25 07:04] Ublimjo commented on #7
arm or i686 ?
Because my device is i686

[2018-04-25 07:12] An0nUD4Y commented on #7
@Ublimjo  Please verify your architecture .... use this command ..
dpkg --print-architecture

[2018-04-25 07:14] usama7628674 commented on #7
@that's what I'm trying to say your device isn't arm

[2018-04-25 07:15] Ublimjo commented on #7
i686

[2018-04-25 07:25] usama7628674 commented on #7
@Ublimjo Yeah find arm based device.

[2018-04-25 07:30] Ublimjo commented on #7
* download ngrok-stable-linux-arm.zip
* unzip it
* copy ngrok to socialFish/ServerTermux/
* cd socialFish/ServerTermux/

Same error

[code]

[2018-04-25 07:40] An0nUD4Y commented on #7
@Ublimjo

What is the difference between i686 and x86_64

Short answer:

i686 = 32-bit Intel x86 arch
x86_64 = 64-bit Intel x86 arch

I think this one will work for you....

https://bin.equinox.io/a/iVLSfdAz1X4/ngrok-2.2.8-linux-amd64.tar.gz --> (x86_64)

https://bin.equinox.io/a/bAxP1reZDmJ/ngrok-2.2.8-linux-386.tar.gz ----> (i686)

Please recomment if it doesn't help you ...

[2018-04-25 07:47] Ublimjo commented on #7
ngrok is working
What's the next step

[2018-04-25 07:51] An0nUD4Y commented on #7
1. Replace the ServerTermux/ngrok with the downloaded one.
2. Then try to rerun the ./SocialFishTermux.py.

[2018-04-25 07:52] An0nUD4Y commented on #7
And please verify the newly downloaded ngrok. If it is working or not.
Try to run this command..
./ngrok http 8080

[2018-04-25 08:03] Ublimjo commented on #7
Looks like I can not connect
I already did
[code]

but

[code]

[2018-04-25 08:13] An0nUD4Y commented on #7
@Ublimjo Please try to run this ...

'$ ./ngrok http 8080 '

AND GIVE THE OUTPUT

[2018-04-25 08:26] Ublimjo commented on #7
![](https://i.imgur.com/o2QuPHr.jpg)

[2018-04-25 08:29] An0nUD4Y commented on #7
Now try to rerun the ngrok...

./ngrok http 80

& Give me the output.

[2018-04-25 08:33] Ublimjo commented on #7
![](https://i.imgur.com/E9BCp46.jpg)

[2018-04-25 08:36] An0nUD4Y commented on #7
@Ublimjo
Try to put this ngrok into the ServerTermux/ngrok  .

Then rerun the SocialFishTermux script.

[2018-04-25 08:42] Ublimjo commented on #7
[code]

[2018-04-25 08:43] An0nUD4Y commented on #7
Please give me the Output.... I am waiting...

[2018-04-25 08:47] Ublimjo commented on #7
![](https://i.imgur.com/4obKeUo.jpg)

[2018-04-25 08:49] An0nUD4Y commented on #7
@Ublimjo  THIS IS NOT THE REPO ISSUE.

I think you should clone this repo.
https://github.com/Lexiie/SocialFish.git

And Do the same ... move your own ngrok in the server/ngrok place...
And try to run the script...

And if it work...

I will provide you another method to run any of the webpage.

[2018-04-25 08:49] An0nUD4Y commented on #7
And share your output......

[2018-04-25 09:09] #7 closed

[2018-04-28 06:36] usama7628674 opened #13 "about live information"
The script is showing wrong ip address
[1]IP-ADDRESS = 127.0.0.1   [2]HOSTNAME = localhost

It has to show public ip of victim and the following fields are empty
[5]LATITUDE-LONGITUDE =    [6]ISP =    [7]CITY =    [8]STATE =    [9]COUNTRY =

Also Undefined index and property PHP notice.
Here is the screenshot
![image](https://user-images.githubusercontent.com/29252277/39392925-277466b4-4ad8-11e8-8

[2018-04-28 08:34] usama7628674 commented on #13
Should I try it one same network(LAN) or outside(WAN)?

[2018-04-28 08:46] usama7628674 opened #14 "Off-topic"
I need your help...
I want to contact you...
plzz leave your instagram Profile...
It's Me :- https://www.instagram.com/its_udy

I'm replying here since you locked the coversation between collaborators and I'm just a contributor so I can't reply there.

I don't have any social media acoount but  whatsapp is possible.Leave here your number so that I might add you.

[2018-04-28 11:37] An0nUD4Y commented on #13
Your suggestion works well for me..?
But dude, its working at its best.
I don't think that it should be removed completely.
But if i found any other issues with it, we both will remove it from the upcoming phishing pages.

AND THANK YOU @usama7628674  FOR YOUR GREAT CONTRIBUTION.

[2018-04-28 11:37] #13 closed

[2018-04-28 11:39] An0nUD4Y commented on #14
Thanks dude...
You may join instagram, or facebook, or any other socialnetwork.
Because i am not a regular whatsapp user...

Ok wait I am Unlocking conversation....

[2018-04-28 11:39] #14 closed

[2018-05-07 12:35] ashutoshtiwari13 opened #17 "Curl Not found"
Kindly help with this Buddy! I tried my best to resolve the Error but could not!

you have done an Excellent Work  improvising the SocialFish :)

[2018-05-07 12:42] #17 closed

[2018-05-24 14:19] alexmozzhakov opened #19 "Standard Facebook broken by fbcdn"
Chrome console
[code]

also console shows:
[code]

Any help?

[2018-05-24 14:55] usama7628674 commented on #19
Are you using termux version?

[2018-05-24 14:56] alexmozzhakov commented on #19
@usama7628674 nope

[2018-05-25 00:12] usama7628674 commented on #19
@alexmozzhakov Are you getting page without css like in image following?
![screenshot from 2018-05-25 05-04-16](https://user-images.githubusercontent.com/29252277/40519670-2f1ca3ce-5fda-11e8-8040-4e95b4beba81.png)

[2018-05-25 01:38] usama7628674 commented on #19
Clone from the following repo
https://github.com/usama7628674/socialfish

[2018-05-25 08:07] alexmozzhakov commented on #19
@usama7628674 at first I do have no-CSS page, but then it makes the page completely blank. Actually, I've just checked and seems like uBlock've blocked it... Anyways, now it seems good, ty for PR. I will go and check some other pages too. And open an issue or maybe a PR.

[2018-05-25 09:55] usama7628674 commented on #19
@alexmozzhakov Yes we're always looking for new developers.Feel free to open an issue or PR.

[2018-05-26 09:09] #19 closed

[2018-05-26 11:50] usama7628674 opened #21 "Info about yahoo page"
@An0nUD4Y You have changed index1.html as index.html and deleted previous index.html page.Actually index1.html was mobile page while previous index.html was desktop version.I put a javascrit in desktop page to detect width of victim device and if the victim tries to open ngrok link on mobile he'll get index1.html page and if on desktop pc he'll get index.html page.Now we've only mobile page.Could

[2018-05-30 09:55] An0nUD4Y commented on #21
@usama7628674  Dear ,

I was tested that desktop version of yahoo page but i found that some of css was not working correctly, And also that the script which redirects a mobile user to yahoo mobile page was not working.
So please Test That Script, If you made them working Then it's Great.
I hope you have understand that why i made change.

Please reply back I am Waiting......

[2018-05-30 09:58] usama7628674 commented on #21
@An0nUD4Y Ok I'll check it.

[2018-05-30 10:51] usama7628674 commented on #21
@Just added a PR see [here](https://github.com/An0nUD4Y/SocialFish/pull/26)

[2018-05-31 17:47] #21 closed

[2018-06-01 11:33] alexmozzhakov opened #31 "A leftover?"
https://github.com/An0nUD4Y/SocialFish-1

[2018-06-01 11:44] usama7628674 commented on #31
@An0nUD4Y It's the fork of original repository for a backup I guess.

[2018-06-01 12:54] alexmozzhakov commented on #31
@usama7628674 We have a VCS 🤔

[2018-06-02 16:04] alexmozzhakov opened #32 "Login.php refactorings"
`login.php` files are the same throughout the project, so we can just copy them into server root during initiation process from the root of web pages, not each folder separately, such that changes to `login.php` file will be consistent. A location header and target headers could probably be passed by appending last lines during initiation. (I could work on it, just wanna know what you think). Also

[2018-06-03 02:15] usama7628674 commented on #32
@alexmozzhakov Delete `protect.html` from all folders.We don't need it.Also I've created a phishing page of live.com but it's not posting user and pass.Tried changing the `{ action: postUrl }" action="https://login.live.com/ppsecure/post.srf?contextid=678C226A5F2AD852&amp;bk=1527904469&amp;uaid=d9c1b58bf69145d98c0dddf2c55abe77&amp;pid=0` to `post.php` but still not working.Could you please take a

[2018-06-03 03:49] usama7628674 commented on #32
@alexmozzhakov Yeah delete those `protect.html` files from all folders

[2018-06-03 06:47] usama7628674 commented on #32
@alexmozzhakov Twitch has two php files.I put one for facebook and the other one for twitch to keep track of which method victim will use to sign-in.For facebook it's fb_email and fb_pass and for twitch it's twitch_user and twitch_pass.

[2018-06-03 08:53] alexmozzhakov commented on #32
@usama7628674 another idea: we subtract all the logic to `base.php`, then include it in each post/login file. Makes sense?

[2018-06-03 09:33] usama7628674 commented on #32
@alexmozzhakov Yeah makes sense.You could  open a new PR so we can merge it.

[2018-06-03 09:37] alexmozzhakov commented on #32
@usama7628674 and by 'we' you refer to An0nUD4Y who is the only one with a right to merge? 😄

[2018-06-03 09:39] alexmozzhakov commented on #32
@usama7628674 okay, I will postpone Snapchat update and submit a PR for this issue first

[2018-06-03 09:47] usama7628674 commented on #32
@alexmozzhakov What change you've for snapchat?Isn't it working correctly?

[2018-06-03 09:49] alexmozzhakov commented on #32
@usama7628674 some scripts aren't loaded. There was no folder for assets and favicon, but unless #33 is merged added assets folder isn't copied. 🤔

[2018-06-03 09:51] usama7628674 commented on #32
@alexmozzhakov Okay sounds good.I uploaded live_web can you review it?

[2018-06-03 09:59] usama7628674 commented on #32
@alexmozzhakov #33 Not working on kali linux
![image](https://user-images.githubusercontent.com/29252277/40885384-a8997f22-673e-11e8-8f68-73c188b7aec8.png)

[2018-06-03 10:12] alexmozzhakov commented on #32
@usama7628674 strange... could you test cp -R ?

[2018-06-03 10:14] usama7628674 commented on #32
@alexmozzhakov you mean without rm -rf

[2018-06-03 10:16] alexmozzhakov commented on #32
@usama7628674 ok, I've tested your PR and i get
[code]
Seems like macOS and linux differences in cp command

[2018-06-03 10:18] usama7628674 commented on #32
@alexmozzhakov Should we revert things back to default?

[2018-06-03 10:28] usama7628674 commented on #32
here's the output on `man cp`
CP(1)                                                              User Commands                                                             CP(1)

NAME
       cp - copy files and directories

SYNOPSIS
       cp [OPTION]... [-T] SOURCE DEST
       cp [OPTION]... SOURCE... DIRECTORY
       cp [OPTION]... -t DIRECTORY SOURCE...

DESCRIPTION
       Copy SOURCE to DEST, o

[2018-06-03 10:29] alexmozzhakov commented on #32
@usama7628674 ty. the thing is
macOS -R is:
[code]
and kali is simply:
[code]

[2018-06-03 10:31] usama7628674 commented on #32
@alexmozzhakov So there is difference

[2018-06-03 10:43] alexmozzhakov commented on #32
@usama7628674 we can use [Python](https://docs.python.org/2/distutils/apiref.html#distutils.dir_util.copy_tree) to handle folder copy

[2018-06-04 07:51] alexmozzhakov commented on #32
@usama7628674 ok, u can check out [this branch](https://github.com/alexmozzhakov/SocialFish/tree/login.php_refactorings)
I will wait for #35 with a PR

[2018-06-04 09:53] usama7628674 commented on #32
@alexmozzhakov Just checked the branch and everything is fine.

[2018-06-04 10:12] #31 closed

[2018-06-04 10:30] alexmozzhakov commented on #32
@An0nUD4Y same here 😄

[2018-06-04 10:31] usama7628674 commented on #32
@alexmozzhakov Ok submit the branch so that I can resubmit live_web page.

[2018-06-04 10:32] An0nUD4Y commented on #32
Hey guys you are the real Hero's......

[2018-06-04 10:32] #32 closed

[2018-06-04 10:32] alexmozzhakov commented on #32
@usama7628674 just a sec, I'm on it

[2018-06-04 10:35] alexmozzhakov commented on #32
@usama7628674 my commits are a complete mess... sorry

[2018-06-04 10:39] usama7628674 commented on #32
@alexmozzhakov Yeah but it's okay now.

[2018-06-04 10:43] An0nUD4Y commented on #32
Guys Please Test & Update the Termux Version Also..
@alexmozzhakov  @usama7628674
Guys I hope you will update it..

[2018-06-04 10:45] An0nUD4Y commented on #32
Currently, I am Busy in Studies.

[2018-06-04 13:36] alexmozzhakov opened #37 "What is the difference between WebPages and WebPagesTermux?"
I cannot understand the difference...

[2018-06-04 13:56] usama7628674 commented on #37
@alexmozzhakov No difference just for distinguishing.We should delete it and use webpages folder for both termux and linux.

[2018-06-04 14:01] alexmozzhakov commented on #37
@usama7628674 nice. I will commit changes soon.

[2018-06-04 14:04] alexmozzhakov commented on #37
@usama7628674 should we use a different folder for server root? I don't think so...

[2018-06-04 15:54] usama7628674 commented on #37
@alexmozzhakov You mean for termux sever or both

[2018-06-04 19:04] alexmozzhakov commented on #37
@usama7628674 I mean ServerTermux directory

[2018-06-04 20:13] An0nUD4Y commented on #37
Make sure you have tested before making changes...

[2018-06-05 01:31] usama7628674 commented on #37
@alexmozzhakov Termux version uses arm version of ngrok while linux uses amd64 version.If we don't use
different directory then one version will overwrite the second version and vice versa cuz name is same in both version.

[2018-06-05 01:32] usama7628674 commented on #37
I think we should leave it as it is now and focus on webpages of termux.

[2018-06-05 05:18] usama7628674 commented on #37
@alexmozzhakov Yeah it'll be a addition.

[2018-06-05 09:07] #37 closed

[2018-06-05 17:14] alexmozzhakov commented on #37
@usama7628674 exactly.

[2018-06-06 01:13] usama7628674 commented on #37
@alexmozzhakov I'll test the changes you've made in your own repo.

[2018-06-06 03:39] usama7628674 commented on #37
@alexmozzhakov Submit your commit here so that I'll create server/www folder and make small changes for it to work on both platforms.

[2018-06-06 15:00] Micrafast opened #38 "Ngrok IP is not shown"
Have you noticed that you cannot get the real IP while using ngrok? It's always 127.0.0.1

[2018-06-06 15:49] alexmozzhakov commented on #38
Whaaat. It's the IP of your web server running locally, the real address is a domain name given by ngrok, not an IP.

[2018-06-06 23:01] Micrafast commented on #38
oh, I means the victim's ip is always 127.0.0.1

[2018-06-07 09:27] alexmozzhakov commented on #38
Also, he seems to be first to come up with it #13

[2018-06-07 09:28] usama7628674 commented on #38
But it does not work that way

[2018-06-07 09:29] alexmozzhakov commented on #38
Maybe this is due to the way ngrok is set up?

[2018-06-07 09:32] usama7628674 commented on #38
@alexmozzhakov Ngrok does show public ip after server is started browse to http://127.0.0.1:4040/inspect/http then open ngrok link you'll see ip at top right of page.

[2018-06-07 09:33] Micrafast commented on #38
thanks!

[2018-06-07 09:35] alexmozzhakov commented on #38
@usama7628674 can't you merge ip.php into base.php or include it so we just pass an IP into the resolver?

[2018-06-07 09:40] usama7628674 commented on #38
@alexmozzhakov I've included ip.php in base.php but merging isn't working for me

[2018-06-07 09:59] alexmozzhakov commented on #38
@usama7628674 I'm sorry, I cannot write code for 2 weeks from now, so it will take some time.

[2018-06-07 10:05] usama7628674 commented on #38
@alexmozzhakov Don't worry take all the time you need.When you're ready to change it then also make a PR from your repo which is 1 commit ahead of this repo and I'll make some changes which will make it compatible with termux as well.

[2018-06-07 14:22] Micrafast commented on #38
I sent a [pull request](https://github.com/An0nUD4Y/SocialFish/pull/39) about this now, @usama7628674 , you can see if it can be merged

[2018-06-08 09:15] #38 closed

[2018-06-08 14:28] Micrafast opened #42 "The termux version has not fixed the victim's public ip problem"
I found that the problem of the termux version of the victim's public IP has not been solved yet. I tried it once, but I found that I had to make many modifications on PHP. However, my PHP is not good. If you have time, you can solve it. Thank you.

[2018-06-08 15:06] usama7628674 commented on #42
@Micrafast Last time I tried termux version it was complete mess I'll look into it soon.

[2018-06-09 04:38] usama7628674 commented on #42
@Micrafast @alexmozzhakov @An0nUD4Y socialfish updated and fixed to work in termux.Closing now

[2018-06-09 07:39] An0nUD4Y commented on #42
@usama7628674  it seems that there is still some issues present in SocialFishTermux version,  Please make sure you have tested it,  Because its not working for me....

[2018-06-09 07:46] An0nUD4Y commented on #42
SF-An0nUD4Y > 1
touch: Server/www/usernames.txt: No such file or directory
sh: ./Server/ngrok: not found

 [*] Ngrok URL:
[*] Hi Hacker Everything has been completed.............. Start HAcking

   _.-=-._     .-,
 .'       "-.,' /
(  AnonUD4Y_  ~.<
 `=.____.="  `._\

 [*] NOW YOU WILL GET YOUR VICTIM'S LIVE INFORMATION .
 [*] GET VICTIM'S IP ADDRESS, ISP, GEOLOCATION, CITY, COUNTRY, AND MANY MORE

[2018-06-09 07:48] An0nUD4Y commented on #42
@usama7628674  Please check it out ....

[2018-06-09 07:51] sandman4812av opened #44 "traceback error and php error"
Hi
when using facebook security alert page
first happened this
Traceback (most recent call last):
  File "SocialFish.py", line 273, in <module>
    waitCreds()
  File "SocialFish.py", line 136, in waitCreds
    with open('Server/www/usernames.txt') as creds:
IOError: [Errno 2] No such file or directory: 'Server/www/usernames.txt'
PHP 7.0.25 Development Server started at Sat Jun  9 11:45:52 2018
Li

[2018-06-09 07:59] sandman4812av commented on #44
and it does not make ngrok subdomain
this doen't work also with fb standart page can't give me creds and instagram gives that error
Traceback (most recent call last):
  File "SocialFish.py", line 273, in <module>
    waitCreds()
  File "SocialFish.py", line 154, in waitCreds
    matchObj = re.match('^(.*?),(.*)$', ipinfo['loc'])
KeyError: 'loc'

did u test this on linux fedora ?

[2018-06-09 08:03] An0nUD4Y commented on #42
@usama7628674  I found the problem,

The problem is with Usernames.txt in Server/www
But when i manually created a file named usernames.txt .... It starts working for me... So please resolve it ...

Thank You !

[2018-06-09 08:04] An0nUD4Y commented on #44
Hey @sandman4812av  refer to #42

[2018-06-09 09:28] usama7628674 commented on #44
@An0nUD4Y @sandman4812av I believe it's fixed now try pulling latest commit and rerun the script.

[2018-06-09 09:30] usama7628674 commented on #42
@An0nUD4Y Fixed please retest

[2018-06-09 13:40] #44 closed

[2018-06-09 13:41] #42 closed

[2018-06-19 09:50] xuserxresu opened #49 "pls advice"
Traceback (most recent call last):
  File "SocialFish.py", line 14, in <module>
    from wget import download
ModuleNotFoundError: No module named 'wget'
==========================================
while when i install requirements.txt it says:

Requirement already satisfied: wget==3.2 in /usr/local/lib/python2.7/dist-packages (from -r requirements.txt (line 1)) (3.2)

[2018-06-19 10:14] usama7628674 commented on #49
@xuserxresu We have ported code to python 3 see installation details in readme.md

[2018-06-19 10:20] xuserxresu commented on #49
i did install python3.6 and im still getting the same error

[2018-06-19 10:22] usama7628674 commented on #49
Which commands did you use to install socialfish?List all of them.

[2018-06-19 10:28] xuserxresu commented on #49
i used pip instead of pip3.. my bad
thanks man.. up & running now

[2018-06-19 10:31] #49 closed

[2018-06-20 15:43] alexmozzhakov opened #50 "Some creds resolution error"
[code]

[2018-06-20 15:52] alexmozzhakov commented on #50
P.S. IP was `127.0.0.1` (not a bug)

[2018-06-20 16:02] #50 closed

[2018-06-23 05:20] usama7628674 opened #54 "Suggestion and improvement"
@alexmozzhakov @An0nUD4Y We should use apache2 as php server is really slow as I was testing Snapchat and the file main.js took a long time to load.Similarly with other pages taking long to load completely.I then tested with apache2 and it was much faster and pages took less then half time to load completely.What do you guys suggest?

[2018-06-23 09:32] An0nUD4Y commented on #54
Simply Update it bro... NO need for suggestions...? If You Wants to make it more Useful & Fast Then just Do it..

[2018-06-23 15:02] alexmozzhakov commented on #54
@usama7628674 do a good testing though. I've compared to nginx and I'm not getting much difference (~40 ms)

[2018-06-24 01:09] usama7628674 commented on #54
@alexmozzhakov I tested snapchat both on php and nginx server and I can confirm both are dead slow but on apache2 it was much fast.I'll push a PR soon to use apache2 as a server .

[2018-06-24 04:18] p1r4t3AJ opened #56 "Facebook Standard Page Css not working And Fb_mobile isnt available now"
Hey Thanks For Your Contribution to Undeadsec socialfish But Due to recent Updates Facebook standard page css is not working and you have deleted fb_mobile can you please make it right

[2018-06-24 08:29] usama7628674 opened #57 "using apache2 in termux does not wok"
@alexmozzhakov Socailfish is working fine using apache server but termux version isn't working for me.I managed to install apache2 in termux and I can host index.html file but after filling all the fields when I click on sign-in it doesn't read login.php instead it shows raw php code in browser.Can you take a look at it.You can take a look at the code here  https://github.com/usama7628674/SocialFi

[2018-06-24 12:40] Allespro opened #58 "Updating repo"
Hi, i have small update, i added vk.com page

[2018-06-24 12:40] Allespro commented on #58
how can i send it to you?

[2018-06-24 13:00] usama7628674 commented on #58
@Allespro Just make a PR or if you don't know about creating PR then make .zip of vk and drag and drop here.I'll upate the repo after then.

[2018-06-24 14:43] usama7628674 commented on #58
@alexmozzhakov I'll review and merge it in.

[2018-06-24 14:44] usama7628674 commented on #57
There's no apache php mod so I'm thinking about lighttpd server.

[2018-06-24 15:10] alexmozzhakov commented on #58
@usama7628674 ty 👍

[2018-06-24 15:10] #58 closed

[2018-06-24 15:46] alexmozzhakov commented on #57
@usama7628674 w8, is it in master now?

[2018-06-24 15:48] usama7628674 commented on #57
@alexmozzhakov I'm thinking about lighttpd server and it's in master branch on my repo

[2018-06-24 15:51] alexmozzhakov commented on #57
@usama7628674 I'm talking about apache version without working PHP. Also, there is a problem with such configuration you did. You cannot just rm -rf from public folders. You should only remove files from local folders and use local folders to run servers. I could set up nginx in such a way, I'm sure you can setup apache like this too.

[2018-06-24 15:54] usama7628674 commented on #57
@alexmozzhakov What about lighttpd?I think it's the best option.

[2018-06-24 16:01] alexmozzhakov commented on #57
@usama7628674 if you get into config, there is mod_php in some place. Also, I have no experience using lighttpd. Try and test 😄

[2018-06-24 16:22] usama7628674 commented on #57
@alexmozzhakov Just tested lighttpd very fast and easy to use.

[2018-06-24 18:57] BasharAG opened #59 "Traceback when collecting creds"
The pages work just fine. But the minute creds are submitted, the console shows this error:

Traceback (most recent call last):
  File "SocialFish.py", line 283, in <module>
    waitCreds()
  File "SocialFish.py", line 155, in waitCreds
    ipinfo = json.loads(resp)
  File "/usr/lib/python3.5/json/__init__.py", line 312, in loads
    s.__class__.__name__))
TypeError: the JSON object must be str, n

[2018-06-24 19:04] alexmozzhakov commented on #59
can you access `ipinfo.io` from your machine? do you have any proxies/firewall?

[2018-06-24 19:12] BasharAG commented on #59
im using an ubuntu cli... i was able to run the original version of SF just fine, but the modified version sends back this error.

[2018-06-24 19:33] alexmozzhakov commented on #59
try running `ping google.com` just in case.

[2018-06-24 19:47] BasharAG commented on #59
PING google.com (172.217.7.14) 56(84) bytes of data.
64 bytes from lga25s56-in-f14.1e100.net (172.217.7.14): icmp_seq=1 ttl=57 time=2.28 ms
64 bytes from lga25s56-in-f14.1e100.net (172.217.7.14): icmp_seq=2 ttl=57 time=1.46 ms
64 bytes from lga25s56-in-f14.1e100.net (172.217.7.14): icmp_seq=3 ttl=57 time=1.25 ms
64 bytes from lga25s56-in-f14.1e100.net (172.217.7.14): icmp_seq=4 ttl=57 time=1.26 ms

[2018-06-24 21:48] alexmozzhakov commented on #59
@BasharAG absolutely. It works on my machine fine, though. Please test [this repo](https://github.com/alexmozzhakov/SocialFish) first. If no success, then please check downloaded file from `wget https://ipinfo.io/json` and if it's ok provide me with your `uname -a`.

[2018-06-25 01:12] usama7628674 commented on #59
@BasharAG Can't reproduce it tru updating your python to 3.6 and run socialfish as `python3 SocialFish.py`

[2018-06-25 06:16] usama7628674 commented on #57
@alexmozzhakov Ok I've seen a strange behaviour.If I use lighttpd in kali it works very fast but termux lighttpd is very slow just like php so I'm revering back to apache as I figured it out a way to execute php files correctly.

[2018-06-25 07:50] BasharAG commented on #59
@alexmozzhakov The new repo worked. Thank you. Any idea what the issue may have been? Also, when run in tmux, where do the creds get stored?

[2018-06-25 11:53] usama7628674 commented on #57
@alexmozzhakov Ngrok is causing slowdown so I might use external cdn (uploadcare.com) to host .js files and see if it makes any difference

[2018-06-25 12:49] alexmozzhakov commented on #59
@BasharAG sure. There was an issue with decoding charset, I've set up the script to use utf-8 by default if it couldn't be detected. You can see the diff in the [PR](https://github.com/An0nUD4Y/SocialFish/pull/60/files).

[2018-06-25 12:49] #59 closed

[2018-06-26 15:45] ming123245 opened #61 "add to the list"
please add to the list VK ***vk.com***

[2018-06-26 15:59] ming123245 commented on #61
and https://www.icloud.com/  for APPLE

[2018-06-26 15:59] usama7628674 commented on #61
@ming123245 I'll in the upcoming days.Hang tight.

[2018-06-26 16:04] ming123245 commented on #61
Thank you

[2018-06-26 16:05] ming123245 commented on #61
I'm really looking forward to VK and icloud

[2018-06-27 08:46] An0nUD4Y commented on #61
@ming123245  We will work on that.! Stay Tuned ?

[2018-06-27 08:46] #61 closed

[2018-06-28 05:32] usama7628674 commented on #61
@ming123245 Added VK in the list of webpages.

[2018-06-28 08:17] alexmozzhakov opened #63 "Traceback error"
[code]

[2018-06-28 08:24] alexmozzhakov commented on #63
This is strange, because
[code]
gives no error

[2018-06-28 08:30] alexmozzhakov commented on #63
I will assume indentation error https://github.com/An0nUD4Y/SocialFish/blob/400cd69d0ce4ac18139d83bf211489947aad107c/SocialFish.py#L154-L157

[2018-06-28 08:37] #63 closed

[2018-06-29 13:51] hxrofo opened #65 "unicode encode error"
hi guys
older versions worked like charm for me on nethunter. today i wanted to git clone the updated version, but when I run python3 SocialFish.py or ./SocialFish.py, it gives me this error. Any fixes? thanks
![36394591_10216836699492743_6322963734054567936_n](https://user-images.githubusercontent.com/17935737/42095911-ddc2d064-7bab-11e8-9dfe-4750ebe8255b.png)

[2018-06-29 16:51] alexmozzhakov commented on #65
@hxrofo why not to use termux?

[2018-06-29 17:45] #65 closed

[2018-06-30 04:09] usama7628674 opened #66 "enhancement/improvement"
@alexmozzhakov I'm thinking about as in the following image
![image](https://user-images.githubusercontent.com/29252277/42121274-edec0a98-7c44-11e8-929f-9a41b32de54c.png)

If the user doesn't fill the required fields we should display an error.What do you say?

[2018-06-30 05:59] usama7628674 commented on #66
I've applied it on snapchat page and it was working

[2018-07-01 13:01] An0nUD4Y commented on #66
Great Idea @usama7628674  This is wht i was waiting for !!!
Thank You For a great contribution.....

I think you should add it to all the available pages...
As it will make the attack more Dramatic...

[2018-07-01 15:14] An0nUD4Y commented on #66
I am Waiting For the improvements....???

[2018-07-08 07:51] #66 closed

[2018-07-13 03:15] adaghma opened #69 "google_advanced_web page error"
Hi!
There is a bit of an issue in google_advanced_web page.
When submitting username and password the page redirects to:
http://localhost/login.php
and no data is received at SocialFish terminal.
Also the web page loads very slow at times, any idea why?

Kindly advise
Thanks

[2018-07-13 05:42] usama7628674 commented on #69
@adaghma Which browser did you use to open the page?

[2018-07-13 05:58] usama7628674 commented on #69
@adaghma fixed in https://github.com/An0nUD4Y/SocialFish/commit/1b39a019aade2830f9ade27f3eb7b36e8f212e3c

[2018-07-13 09:46] #69 closed

[2018-07-25 21:19] NikolasTh90 opened #72 "Error"
sh: ./base/Server/ngrok: not executable: 64-bit ELF file

how do i fix that o termux

[2018-07-26 01:42] usama7628674 commented on #72
Which os you are using?

[2018-07-26 13:03] shivgori opened #73 "not install"
1) when i type python SocialFish.py then i got error
Traceback (most recent call last):
  File "SocialFish.py", line 12, in <module>
    from urllib.request import urlopen, quote, unquote
ImportError: No module named request
2) when i type sudo apt install python3-pip i got error
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package py

[2018-07-26 14:36] usama7628674 commented on #73
@alexmozzhakov Either your sources.list is messed up or you didn't do `apt update`.

[2018-07-26 14:36] #73 closed

[2018-07-27 08:41] usama7628674 commented on #72
No response closing.

[2018-07-27 08:42] #72 closed

[2018-07-28 14:30] An0nUD4Y opened #76 "Add both Servers Ngrok/Serveo As choice ....."
@usama7628674 @alexmozzhakov Guys you Don't think that we Should add Both Of the servers in case if one of them doesn't work . When i was tested the updated script it took me a lot to feel it...
But even after that for me it doesn't working as it should..? #74 #75

[2018-07-28 14:57] An0nUD4Y commented on #76
I am thinking something like this ...
[https://github.com/thelinuxchoice/shellphish/blob/master/shellphish.sh](https://github.com/thelinuxchoice/shellphish/blob/master/shellphish.sh)

[2018-07-28 15:18] alexmozzhakov commented on #76
@An0nUD4Y Yeah, I saw it in my discovery, but having 2 versions can confuse and may cause difficulties with maintaining termux. Sometimes it's forgotten to be updated and idk may confuse someone

[2018-07-28 15:21] An0nUD4Y opened #78 "Add an option to choose a desirable serveo link...."
@alexmozzhakov @usama7628674 @Micrafast  We should add an option in serveo ...
By which anyone can choose a link according to him...
[Read These Features](http://serveo.net)

[2018-07-29 02:11] usama7628674 commented on #78
@alexmozzhakov You are right custom link only change starting words of link rest will remain the same like
*.serveo.net

[2018-07-29 02:12] usama7628674 commented on #78
And serveo doesn't generate same link again and again.

[2018-07-29 02:13] usama7628674 commented on #78
This will not improve anything related to this tool.Closing now

[2018-07-29 02:19] usama7628674 commented on #76
@An0nUD4Y @alexmozzhakov I can work on it and add both serveo and ngrok and make it compatible with termux as well.

[2018-07-29 05:38] alexmozzhakov commented on #78
@usama7628674 "starting words of link" is called subdomain. And you can generate "same link" again and again, thats the point of manually selecting it. I was asking @An0nUD4Y, and I'm still waiting for his response.

[2018-07-29 05:46] alexmozzhakov commented on #76
@usama7628674 @An0nUD4Y the question is if we actually need both if serveo will work on termux. The main advantage of not having ngrok is not having to download binaries (except ssh in rare cases) and also the advantage of not having to maintain 2 almost the same files.

[2018-07-29 05:58] usama7628674 commented on #76
@alexmozzhakov We can use two at the same time and using just one file to maintain it on termux and linux.

[2018-07-29 06:02] usama7628674 commented on #76
@alexmozzhakov Who said seveo isn't working in termux?

[2018-07-30 06:41] alexmozzhakov commented on #76
@usama7628674 [An0nUD4Y did](https://github.com/An0nUD4Y/SocialFish/pull/75#issuecomment-408611061)

[2018-07-30 06:52] usama7628674 commented on #76
@An0nUD4Y It's working as it should.

[2018-07-30 09:13] An0nUD4Y commented on #78
@alexmozzhakov @usama7628674 Adding a custom subdomain in link will make that link trustful...
& And it helps a lot in Social-Engineering... Whenever i got some time i will try it..???

[2018-07-30 09:13] #78 closed

[2018-07-30 09:22] #76 closed

[2018-08-07 05:02] shan0501 opened #80 "Ngrok URL is empty"
after selecting Ngrok as the option,

Ngrok URL : (empty)

[2018-08-07 05:57] usama7628674 commented on #80
@shan0501 Go to Server folder and execute `./ngrok http 80` to see if ngrok is working properly.

[2018-08-07 06:02] shan0501 commented on #80
@usama7628674 i'm using kali linux, I'm facing same issue in Serveo also.

[2018-08-07 08:25] usama7628674 commented on #80
@shan0501 Did you execute the command that I wrote above?

[2018-08-09 04:49] usama7628674 commented on #80
@shan0501 reclone and try again.

[2018-08-09 12:50] #80 closed

[2018-08-19 12:41] steve01101 opened #82 "Site is Black"
A victim opened the site and saw everything black, but if I open it I can see it well

[2018-08-19 23:54] alexmozzhakov commented on #82
Which one? What victim 👀?

[2018-08-20 10:11] steve01101 commented on #82
Instagram's site but now it's ok, I don't know why.

[2018-08-20 12:40] usama7628674 commented on #82
@steve01101 It does happen with serveo try ngrok.

[2018-08-20 12:40] #82 closed

[2018-08-21 18:51] mcsariyandi commented on #82
ngrok.url is not visible.
Why.?

[2018-08-21 19:03] mcsariyandi opened #83 "Ngrok URL blank"
Ngrok URL and serveo blank, why.?

[2018-08-22 04:47] usama7628674 commented on #83
@mcsariyandi It maybe a networking issue.Check your connection.

[2018-08-22 05:03] mcsariyandi commented on #83
the problem has been resolved ... it turns out I have to use a VPN 😅

[2018-08-22 05:42] #83 closed

[2018-08-22 11:50] steve01101 commented on #82
Usama I used ngrok

[2018-08-22 12:27] usama7628674 commented on #82
But you said "now it's okay".

[2018-08-22 13:08] steve01101 opened #84 "is it possible to see the saved passwords?"
hi. I closed the terminal before seeing the password, can I see it in another way?

[2018-08-22 14:48] Micrafast commented on #84
As I know it's impossible now hmmmm....... in fact if you close the terminal, the victim will be not able to see your fishing page

[2018-08-22 15:20] steve01101 commented on #84
sure? does not a way exist?

[2018-08-22 15:26] alienwaresoldier opened #85 "How to remove SocialFish after install"
Hi,
Which command must I use to completly remove SocialFish from my computer.

Thanks

[2018-08-22 23:51] Micrafast commented on #85
rm -rf SocialFish && sudo apt remove php && pip3 remove wget

[2018-08-22 23:52] Micrafast commented on #85
I think it's enough to compeletly remove SocialFish from your computer

[2018-08-22 23:59] Micrafast commented on #84
no way exist but.... I made a pull request to prevent this again #86

[2018-08-23 00:59] #85 closed

[2018-08-23 01:15] #84 closed

[2018-08-23 01:52] darkmidus opened #87 "Unable to setup"
I attempt to put in the command sudo apt install python3-pip
and it gives me the error
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package python3-pip

[2018-08-23 02:54] usama7628674 commented on #87
@darkmidus Do `apt update` then `apt install python3-pip`

[2018-08-23 02:57] darkmidus commented on #87
I have done what you have told me but i still get the same error

[2018-08-23 03:01] usama7628674 commented on #87
@darkmidus Can you share sources.list file?

[2018-08-23 03:02] darkmidus commented on #87
Sure

#

# deb cdrom:[Debian GNU/Linux 2017.3 _Kali-rolling_ - Official Snapshot amd64 LIVE/INSTALL Binary 20171109-13:49]/ kali-rolling contrib main non-free

#deb cdrom:[Debian GNU/Linux 2017.3 _Kali-rolling_ - Official Snapshot amd64 LIVE/INSTALL Binary 20171109-13:49]/ kali-rolling contrib main non-free

[2018-08-23 03:04] usama7628674 commented on #87
@darkmidus Open your sources.list file and remove everything then paste the following
[code]

[2018-08-23 03:04] usama7628674 commented on #87
Save it then do `apt update`

[2018-08-23 03:07] darkmidus commented on #87
Doing apt update gives me this error now

root@kali:~# apt update
Get:1 https://archive-7.kali.org/kali kali-rolling InRelease [30.5 kB]
Err:1 https://archive-7.kali.org/kali kali-rolling InRelease
  The following signatures were invalid: EXPKEYSIG ED444FF07D8D0BF6 Kali Linux Repository <devel@kali.org>
Reading package lists... Done
W: GPG error: https://archive-7.kali.org/kali kali-rolling InRele

[2018-08-23 03:08] usama7628674 commented on #87
execute the following in terminal
[code]

[2018-08-23 03:13] darkmidus commented on #87
python3-pip is installing now, thanks for all your help

[2018-08-23 03:13] usama7628674 commented on #87
No problem.

[2018-08-23 03:13] #87 closed

[2018-08-30 05:25] lordcharlx opened #88 "SERVEO URL"
the serveo url is not stable ... at times it shows sometimes it doesn't  and most times it shows it doesn't work

[2018-08-30 07:10] usama7628674 commented on #88
I'll look into it later.

[2018-08-30 08:59] usama7628674 commented on #88
@lordcharlx Reclone it cuz I can't reproduce it.

[2018-08-30 08:59] #88 closed

[2018-08-30 13:07] lordcharlx commented on #88
correct .... now blazing hot    7 bottles of beer for you

[2018-09-06 12:42] atroxGhost opened #89 "Serveo link issue"
Some Serveo links doesn't load in browser termux

[2018-09-06 12:58] usama7628674 commented on #89
@atroxGhost You mean only white page after serveo link loads.

[2018-09-06 12:59] usama7628674 commented on #89
If it is then it's only a problem of serveo cuz it does occur to me sometimes.

[2018-09-06 14:20] usama7628674 commented on #89
make sure you're updated to latest commit and if this happens again then just rerun socialfish.

[2018-09-06 14:30] atroxGhost commented on #89
Everything is updated on the fifth attempt it worked hopefully it's just a today issue and if it isn't let's hope it can get fixed :/

[2018-09-06 14:33] usama7628674 commented on #89
@atroxGhost You could use ngrok if seveo does not work.

[2018-09-06 14:33] #89 closed

[2018-09-19 17:47] toxub23 opened #90 "New site"
It would be useful to add a website support https://www.gg.pl/

[2018-09-20 03:07] usama7628674 commented on #90
@toxub23 That site is polish.What is it used for?

[2018-09-20 14:40] #90 closed

[2018-10-14 22:56] darkmidus opened #91 "How to redirect"
I am using termux, and I was wondering if it was possible to make the login page redirect after submit was clicked.

[2018-10-15 02:03] usama7628674 commented on #91
@darkmidus It'll redirect to original site.

[2018-10-15 02:07] darkmidus commented on #91
I know, but could I get it to redirect to something I wanted.

[2018-10-15 09:47] usama7628674 commented on #91
@darkmidus You can change header location in login.php of the phishing page you want to use.For example navigate to webpages/snapchat_web directory then change header location in login.php file.

[2018-10-15 13:18] darkmidus commented on #91
I knew that, but I'm on termux (Android) and you can't really get to that folder.

[2018-10-15 13:30] usama7628674 commented on #91
@darkmidus okay I may add this when I've time.

[2018-10-17 02:37] #91 closed

[2018-10-17 21:35] darkmidus opened #93 "Ngrok URL not showing up termux"
On termux, when you choose ngrok, nothing happens. That's why I have been using Serveo.

[2018-10-18 01:09] usama7628674 commented on #93
Well it's working fine on my side.

[2018-10-18 01:14] darkmidus commented on #93
When I choose ngrok nothing happens, is it possible to send pictures on GitHub

[2018-10-18 02:08] usama7628674 commented on #93
Just drag and drop pictures in this section.

[2018-10-18 02:37] darkmidus commented on #93
![screenshot_20181017-213611](https://user-images.githubusercontent.com/39868305/47127906-b7f25d00-d254-11e8-99ad-a47ea377a49d.png)

[2018-10-18 02:38] darkmidus commented on #93
It just does this, nothing happens. Serveo works perfectly, but Ngrok dosen't.

[2018-10-18 10:02] usama7628674 commented on #93
Run ngrok manually and post the pic here.Navigate to Server/www and run `ngrok http 80`

[2018-10-18 12:31] An0nUD4Y commented on #93
I think issue has been solved ... I AM CLOSING....!

[2018-10-18 12:31] #93 closed

[2018-10-22 02:37] sTiKyt opened #94 "Problem after choice anything"
touch: cannot touch 'Server/www/usernames.txt': No such file or directory
Traceback (most recent call last):
  File "SocialFish/SocialFish.py", line 339, in <module>
    runPEnv()
  File "SocialFish/SocialFish.py", line 298, in runPEnv
    runPhishing('VK', option2)
  File "SocialFish/SocialFish.py", line 125, in runPhishing
    copy_tree("WebPages/VK/", "Server/www/")
  File "/usr/lib/python3.7/d

[2018-10-22 18:41] #94 closed

[2018-10-22 18:48] sTiKyt opened #95 "Steam Bad Quality"
- [ ] Add Steam Guard when Login:Pass complete.
- [ ] Fix text:

| FAKE  | ORIGINAL |
| ------------- | ------------- |
| ![image](https://user-images.githubusercontent.com/35602029/47312041-f23c6f80-d643-11e8-8859-75302a8b23e1.png)  | ![image](https://user-images.githubusercontent.com/35602029/47312083-0f713e00-d644-11e8-9171-120c8878aa15.png) |

[2018-10-22 18:56] sTiKyt opened #96 "Tested on Arch Linux"
My system:
Platform: linux x86_64
Distribution: Arch Linux
Kernel Release: 4.18.14-arch1-1-ARCH
CPU Model: Intel(R) Core(TM) i3-7100U CPU
CPU Core: 4
CPU Speed: 2.40GHz
RAM: 4GB

Tested:
VK - blank page.
Instagram - all right.
Steam - all right.

[2018-10-22 19:08] sTiKyt opened #97 "VK Blank Page"
When i'm trying to start VK Fishing:
![image](https://user-images.githubusercontent.com/35602029/47313203-ff0e9280-d646-11e8-9c47-faba22233e25.png)

[2018-10-22 19:13] sTiKyt opened #98 "Instagram Outdated Page"
| Fake | Original |
| ----- | ----- |
| ![image](https://user-images.githubusercontent.com/35602029/47313375-79d7ad80-d647-11e8-9461-3e08e896eae6.png) | ![image](https://user-images.githubusercontent.com/35602029/47313420-94aa2200-d647-11e8-9d10-c99fcf2d2f67.png) |

[2018-10-22 19:36] sTiKyt opened #99 "Facebook Damaged Page"
Pure HTML, probably outdated version.

| Fake | Original |
| --------------- | ---------------|
| ![image](https://user-images.githubusercontent.com/35602029/47314601-ca9cd580-d64a-11e8-8265-f8f46ad102cd.png) | ![image](https://user-images.githubusercontent.com/35602029/47314637-e56f4a00-d64a-11e8-8ca5-01bbf4463c46.png) |

[2018-10-22 19:41] sTiKyt opened #100 "Gmail(Google) Outdated Page"
Very old Google Mail page.

|Fake|Original|
|-|-|
|![image](https://user-images.githubusercontent.com/35602029/47314839-81995100-d64b-11e8-8de2-dc2ce4cb2b54.png)|![image](https://user-images.githubusercontent.com/35602029/47314863-937af400-d64b-11e8-9f77-1512005d4a93.png)|

[2018-10-22 19:45] sTiKyt opened #101 "LinkedIn Damaged Page"
Pure HTML, probably outdated version.

|Fake|Original|
|-|-|
|![image](https://user-images.githubusercontent.com/35602029/47314996-f8364e80-d64b-11e8-902e-299f6724812e.png)|![image](https://user-images.githubusercontent.com/35602029/47315024-0f753c00-d64c-11e8-8029-1b3bce2bfbd3.png)|

[2018-10-22 19:56] sTiKyt opened #102 "Stack Overflow Outdated Page"
Seems very strange, like damaged.

|Fake|Original|
|-|-|
|![image](https://user-images.githubusercontent.com/35602029/47315528-865f0480-d64d-11e8-9013-0dc2587f72cf.png)|![image](https://user-images.githubusercontent.com/35602029/47315557-9840a780-d64d-11e8-99f6-b366d6c359d7.png)|

[2018-10-22 19:59] sTiKyt opened #103 "Wordpress Outdated Page"
I'm not sure about it.

|Fake|Original|
|-|-|
|![image](https://user-images.githubusercontent.com/35602029/47315715-09805a80-d64e-11e8-8baa-6c5bfcb2b7bc.png)|![image](https://user-images.githubusercontent.com/35602029/47315740-1735e000-d64e-11e8-8766-94d4947cc159.png)|

[2018-10-22 20:03] sTiKyt opened #104 "Twitter Damaged Page"
Probably outdated, pure HTML.

 |Fake|Original|
|-|-|
| ![image](https://user-images.githubusercontent.com/35602029/47315873-654ae380-d64e-11e8-9b33-bef39e2fe992.png) | ![image](https://user-images.githubusercontent.com/35602029/47315938-8e6b7400-d64e-11e8-971a-cdb49587ac1d.png) |

[2018-10-22 20:09] sTiKyt opened #105 "Snapchat Wrong fonts on page"
Wrong fonts!

|Fake|Original|
|-|-|
|![image](https://user-images.githubusercontent.com/35602029/47316195-3c771e00-d64f-11e8-9d5e-3c2bf3519f73.png)|![image](https://user-images.githubusercontent.com/35602029/47316292-6e888000-d64f-11e8-9f58-c57d34807455.png)|

[2018-10-22 20:12] sTiKyt opened #106 "Yahoo Outdated Page"
Now Yahoo don't have Description text, and have one-string login space.

|Fake|Original|
|-|-|
|![image](https://user-images.githubusercontent.com/35602029/47316477-e8b90480-d64f-11e8-8718-d8365027b390.png)|![image](https://user-images.githubusercontent.com/35602029/47316507-f66e8a00-d64f-11e8-822d-39f882763ccf.png)|

[2018-10-22 20:17] sTiKyt opened #107 "Twitch Page Doesn't Exist"
Now Twitch don't have special login page.

|Fake|Original|
|-|-|
|![image](https://user-images.githubusercontent.com/35602029/47316728-75fc5900-d650-11e8-9008-917776a39947.png)|![image](https://user-images.githubusercontent.com/35602029/47316758-87456580-d650-11e8-8654-6b5d8d865718.png)|

[2018-10-22 20:20] sTiKyt opened #108 "Microsoft Outdated Page"
Microsoft have new one-string login module.

|Fake|Original|
|-|-|
|![image](https://user-images.githubusercontent.com/35602029/47316912-ef944700-d650-11e8-842e-bee8340bfa38.png)|![image](https://user-images.githubusercontent.com/35602029/47316957-020e8080-d651-11e8-8536-aab83e0df30c.png)|

[2018-10-24 00:07] An0nUD4Y commented on #98
i think some of the files are not correctly loading..?
Please try to reload those pages And provide another screenshot..?

[2018-10-24 00:07] #98 closed

[2018-10-24 00:08] An0nUD4Y commented on #100
We will update it soon ??

[2018-10-24 00:08] sTiKyt commented on #98
@An0nUD4Y I tried already, on some devices

[2018-10-24 00:10] sTiKyt commented on #100
@An0nUD4Y but why you closed issue? Maybe someone will fix it xD

[2018-10-24 00:10] An0nUD4Y commented on #95
Its looking Perfect... But still We will update all our pages..?
Stay Tuned..?

[2018-10-24 00:10] #95 closed

[2018-10-24 00:12] sTiKyt commented on #95
@An0nUD4Y cause of this I started to learn Html & Css xD

[2018-10-24 00:12] An0nUD4Y commented on #96
Thanks for testing the SocialFish. You can contribute with us. To make SocialFish more advanced.

[2018-10-24 00:12] #96 closed

[2018-10-24 00:15] An0nUD4Y commented on #108
Ok we will shortly Provide An updated Version of all Webpages.
STAY TUNED.
or
You can contribute.

[2018-10-24 00:15] #108 closed

[2018-10-24 00:15] An0nUD4Y commented on #107
Ok we will shortly Provide An updated Version of all Webpages.
STAY TUNED.
or
You can contribute.

[2018-10-24 00:16] An0nUD4Y commented on #107
Thanks For Giving your Time to test all the pages..

[2018-10-24 00:16] #107 closed

[2018-10-24 00:17] An0nUD4Y commented on #106
Ok we will shortly Provide An updated Version of all Webpages.
STAY TUNED.
or
You can contribute.

[2018-10-24 00:17] #106 closed

[2018-10-24 00:17] An0nUD4Y commented on #105
Ok we will shortly Provide An updated Version of all Webpages.
STAY TUNED.
or
You can contribute.

[2018-10-24 00:17] #105 closed

[2018-10-24 00:17] An0nUD4Y commented on #104
Ok we will shortly Provide An updated Version of all Webpages.
STAY TUNED.
or
You can contribute.

[2018-10-24 00:17] #104 closed

[2018-10-24 00:18] An0nUD4Y commented on #103
Ok we will shortly Provide An updated Version of all Webpages.
STAY TUNED.
or
You can contribute.

[2018-10-24 00:18] #103 closed

[2018-10-24 00:18] An0nUD4Y commented on #102
Ok we will shortly Provide An updated Version of all Webpages.
STAY TUNED.
or
You can contribute.

[2018-10-24 00:18] #102 closed

[2018-10-24 00:19] An0nUD4Y commented on #101
Ok we will shortly Provide An updated Version of all Webpages.
STAY TUNED.
or
You can contribute.

[2018-10-24 00:19] #101 closed

[2018-10-24 00:19] An0nUD4Y commented on #97
Ok we will shortly Provide An updated Version of all Webpages.
STAY TUNED.
or
You can contribute.

[2018-10-24 00:19] #97 closed

[2018-10-24 00:20] An0nUD4Y commented on #99
Ok we will shortly Provide An updated Version of all Webpages.
STAY TUNED.
or
You can contribute.

[2018-10-24 00:20] #99 closed

[2018-10-25 17:10] An0nUD4Y commented on #100
@sTiKyt You can help fixing these pages..?? Maybe??

[2018-10-25 18:32] sTiKyt commented on #100
@An0nUD4Y I really want, that why I learn Html and Css right now...

[2018-10-26 00:18] usama7628674 commented on #100
@sTiKyt Submit a PR.I'll work on it when I have time.

[2018-10-26 02:29] sTiKyt opened #110 "Update version for all webpages"
Just to remember what we need to do:

- [ ] Microsoft
- [ ] Twitch
- [ ] Yahoo
- [ ] Snapchat
- [ ] Twitter
- [ ] Wordpress
- [ ] Stack Overflow
- [ ] LinkedIn
- [x] Facebook
- [x] Instagram
- [ ] VK
- [ ] Steam
- [ ] Gmail
- [ ] iCloud
- [x] Google

[2018-10-26 02:31] usama7628674 commented on #110
Currently I don't have enough time.Maybe you can work on it.

[2018-10-26 02:32] sTiKyt commented on #100
@usama7628674 how can i contact with you?

[2018-10-26 02:32] sTiKyt commented on #110
@usama7628674 i really want, and have some time but i have some questions, how i can contact with you?

[2018-10-26 02:33] usama7628674 commented on #100
Why?

[2018-10-26 02:34] usama7628674 commented on #100
I don't use social media.

[2018-10-26 02:34] sTiKyt commented on #100
@usama7628674 i have some questions, there just no place for it :(
Maybe we can connect using any Linux software?

[2018-10-26 02:35] usama7628674 commented on #110
Where are you form?

[2018-10-26 02:36] sTiKyt commented on #110
@usama7628674 from Ukraine

[2018-10-26 02:36] usama7628674 commented on #100
What software?

[2018-10-26 02:37] usama7628674 commented on #110
What about whatsapp

[2018-10-26 02:38] sTiKyt commented on #100
@usama7628674 ssh-chat

[2018-10-26 02:39] sTiKyt commented on #110
@usama7628674 i don't have whatsapp because this unsecure app xD

[2018-10-26 02:39] usama7628674 commented on #100
yes that would be good

[2018-10-26 02:40] usama7628674 commented on #110
Yes I know ssh-chat is good.

[2018-10-26 02:58] sTiKyt commented on #110
@usama7628674 ok, who will be server? xD

[2018-10-26 02:59] usama7628674 commented on #110
You

[2018-10-26 03:00] usama7628674 commented on #110
Time

[2018-10-26 03:07] sTiKyt commented on #110
@usama7628674 sorry, need little time to open ssh port

[2018-10-26 03:19] sTiKyt commented on #110
@usama7628674 , oh that impossible to do today, sorry xD

[2018-10-26 03:20] usama7628674 commented on #110
why

[2018-10-26 03:53] usama7628674 commented on #110
okay wait for a minute

[2018-10-26 03:54] usama7628674 commented on #110
@sTiKyt I did

[2018-10-26 03:55] sTiKyt commented on #110
@usama7628674 something went wrong?

[2018-10-26 03:56] usama7628674 commented on #110
![image](https://user-images.githubusercontent.com/29252277/47543690-f0510580-d8fc-11e8-8e6d-1e00f911eb68.png)

[2018-10-26 03:57] sTiKyt commented on #110
@usama7628674 allow firewall to use 2022 port

[2018-10-26 03:58] usama7628674 commented on #110
firewall is off

[2018-10-26 03:59] usama7628674 commented on #110
how to check on windows

[2018-10-26 04:00] sTiKyt commented on #110
@usama7628674 If you have Wifi router - you need to unlock ports in it.

[2018-10-26 04:00] usama7628674 commented on #110
I don't have a wifi router.

[2018-10-26 04:01] usama7628674 commented on #110
what about 80 port since it's open always.

[2018-10-26 04:02] usama7628674 commented on #110
I can do it using utorrent

[2018-10-26 04:02] usama7628674 commented on #110
wait

[2018-10-26 04:02] sTiKyt commented on #110
@usama7628674 now i can use only 2022, you can try to open

[2018-10-26 04:12] sTiKyt commented on #110
@usama7628674 oh.. maybe next time. I need to sleep a little

[2018-10-26 04:12] usama7628674 commented on #110
And I'm very busy right now studying.

[2018-10-26 04:12] usama7628674 commented on #110
tomorrow I guess.

[2018-10-26 04:33] An0nUD4Y commented on #110
@sTiKyt  We can use instagram... ???

[2018-10-26 04:34] sTiKyt commented on #110
@An0nUD4Y yep xD

[2018-10-26 04:44] usama7628674 commented on #110
@An0nUD4Y @sTiKyt I think we can discuss in this section anything.

[2018-10-26 04:44] usama7628674 commented on #110
@sTiKyt You can ask any question you want.

[2018-10-26 04:45] sTiKyt commented on #110
@you have any recommendations what I should learn firstly to be useful here?

[2018-10-26 04:46] usama7628674 commented on #110
Just basic python,html and css.

[2018-10-26 04:47] sTiKyt commented on #110
@usama but I know basics of it, how to use it? XD

[2018-10-26 04:51] usama7628674 commented on #110
Well it depends upon your imagination what functionality you want to implement in any project considering the nature of the tool for example Socialfish you can add new pages using html and css or email the credentials to the attacker's email address using python.

[2018-10-26 04:52] usama7628674 commented on #110
It can be anything.

[2018-10-26 04:52] sTiKyt commented on #110
@usama7628674,ok today I'll try to do something xD

[2018-10-26 05:01] An0nUD4Y commented on #110
@sTiKyt  Ideas are endless , You can work on Keylogger, To make it more Useful.
)( or )(
Anthing you can do to make the phishing more advanced from classical ways of phishing.

[2018-10-26 05:05] An0nUD4Y commented on #110
@sTiKyt  You can add Your Language , To make it useful for your brothers..?

[2018-10-26 05:06] sTiKyt commented on #110
@An0nUD4Y idk how to add language xD

[2018-10-26 05:08] sTiKyt commented on #110
@An0nUD4Y I'll try

[2018-10-26 05:36] sTiKyt opened #111 "SocialFish.py [REQUEST]"
Please add some comments to code, what some parts should do, etc. Thank you.

[2018-10-26 11:20] usama7628674 commented on #111
@sTiKyt You can learn python from this site.
w3schools.com

[2018-10-27 00:58] sTiKyt commented on #100
I'm closing it because we have #110

[2018-10-27 00:58] #100 closed

[2018-10-27 19:43] sTiKyt opened #113 "Create config file for SocialFish"
Create config file where users will be able to:

- [ ] Change language
- [ ] Set Default answers and add  --noconfirm
- [ ] Something else xD (Will be edited)

[2018-10-27 19:43] sTiKyt commented on #113
Assign me to this one please  @An0nUD4Y @usama7628674

[2018-10-27 19:50] sTiKyt opened #114 "Translation to ru_RU and uk_UA"
- [x] Russian full translation

- [x] Ukrainian full translation

 - [x] Configuration system (Ask user's language)

[2018-10-27 19:50] sTiKyt commented on #114
Assign me to this one @usama7628674 @An0nUD4Y

[2018-10-28 01:29] usama7628674 commented on #114
I assigned it.

[2018-10-28 01:30] sTiKyt commented on #114
@usama7628674 thanks

[2018-10-28 01:32] usama7628674 commented on #113
You don't have to raise an issue for a new feature just submit a PR and I'll review it and merge it.

[2018-10-28 01:33] sTiKyt commented on #113
@usama7628674 I doing it because wanna have public to do list right here :D

[2018-10-28 01:35] usama7628674 commented on #113
Okay but you can add this as a description in a PR instead of raising an issue.

[2018-10-28 01:36] sTiKyt commented on #113
@usama7628674 know it xD

[2018-10-28 01:36] usama7628674 commented on #113
Okay I assigned it

[2018-10-28 01:37] sTiKyt commented on #113
@usama7628674 what do you think, what properties I must add to config?

[2018-10-28 01:38] usama7628674 commented on #113
Anything you want.

[2018-10-28 01:39] sTiKyt commented on #113
@usama7628674 you don't have any ideas? I just need someone's opinion xD

[2018-10-28 01:40] usama7628674 commented on #113
Language I guess.

[2018-10-28 01:41] usama7628674 commented on #113
You mentioned it

[2018-10-28 01:41] sTiKyt commented on #113
Nothing else?

[2018-10-28 01:42] usama7628674 commented on #113
I marked the check boxes

[2018-10-28 01:43] sTiKyt commented on #113
Ok, i got it

[2018-10-28 01:43] usama7628674 commented on #113
Personally I'm out of ideas will get back to you after breakfast.

[2018-10-28 01:44] sTiKyt commented on #113
Can we use Telegram app to chat? This very protected and private.

[2018-10-28 02:15] usama7628674 commented on #113
Yeah

[2018-10-28 02:18] sTiKyt commented on #113
ok, write to me, i'm @sTiKyt

[2018-10-28 02:34] An0nUD4Y commented on #113
Closing here! @sTiKyt  Please create issues with some labels.!

[2018-10-28 02:34] #113 closed

[2018-10-28 02:37] sTiKyt commented on #113
@An0nUD4Y seems like I just can't add labels

[2018-10-28 02:43] An0nUD4Y opened #115 "ADD NEW SCREENSHOTS ?"
Hey Guys ? If anyone can help to add new screenshots.
Create A PR .. I am waiting right there..?

[2018-10-28 02:44] sTiKyt commented on #115
@An0nUD4Y OK, just a moment

[2018-10-28 02:44] sTiKyt commented on #115
@An0nUD4Y what kind of screenshots do you want to be created?

[2018-10-28 02:49] An0nUD4Y commented on #115
@sTiKyt   Thanks for reply

You can add the screeshots same as available here.

& if you can , then please change the youtube video demo link and add a New demo.
I don't have enough time . I hope you will?

[2018-10-28 02:50] sTiKyt commented on #115
@An0nUD4Y yep

[2018-10-28 02:51] sTiKyt commented on #115
@An0nUD4Y today

[2018-10-28 02:53] sTiKyt commented on #113
I cant add labels..You closed unfinished issue...

[2018-10-28 03:07] An0nUD4Y commented on #115
KK

[2018-10-28 03:07] #115 closed

[2018-10-28 03:08] sTiKyt commented on #115
@An0nUD4Y I can't understand, why you closing unfixed issues?

[2018-10-28 03:53] sTiKyt opened #116 "There too much of your nickname"
@An0nUD4Y, can I remove your name from some places in this script?
This just feels terrible when you're working for open source but anywhere nickname of repo creator.
I really wanna help to create best web fishing application, but I don't want to create your brand, @An0nUD4Y
I think people from pentesting repositories never add branded apps like this, maybe this app must have better future, and mu

[2018-10-28 04:04] An0nUD4Y commented on #116
@sTiKyt  HAhah You can surely remove them all, I was added them on startup, & never looked again.

So just make it as like you want . After all ITS OPEN SOURCE PROJECT.

[2018-10-28 04:04] #116 closed

[2018-10-28 04:09] sTiKyt opened #117 "SocialFish - outdated name"
Everyone knows SocialFish as old, outdated phishing app by UndeadSec
Repositories like Black Arch and Kali Linux already added old, outdated SocialFish, so, this version never replace old one.

But if we rename it, this will become not just fork, but another app!
Maybe we must discuss about new name and change for it?
I'll do all boring works like replacing name in code, creating new video, new sc

[2018-10-28 04:12] sTiKyt commented on #117
And, probably, after renaming we must move this Repository into organization, to make somethng like:

NewSocialFishName/NewSocialFishName instead of An0nUD4Y/NewSocialFishName

[2018-10-28 04:16] An0nUD4Y commented on #117
@sTiKyt  Make Sure if you can update it on regular basis.
You can Do everything You want.

[2018-10-28 04:17] sTiKyt commented on #117
Only you can move repo to organization , https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/

[2018-10-28 04:17] An0nUD4Y commented on #117
@sTiKyt  I think this repo should be renamed and should have a new look. Work on it if you can.??

[2018-10-28 04:17] sTiKyt commented on #117
I can create organization, and imagine new look

[2018-10-28 04:18] An0nUD4Y commented on #117
Ok i'll do it , But What should it be named..?

[2018-10-28 04:19] sTiKyt commented on #117
That why we have this discussion

[2018-10-28 04:28] An0nUD4Y commented on #117
Any name ?

[2018-10-28 04:28] usama7628674 commented on #117
@sTiKyt @An0nUD4Y maybe cleverfish

[2018-10-28 04:29] usama7628674 commented on #117
hiddeneye

[2018-10-28 04:29] sTiKyt commented on #117
Maybe SatFish? (Sat -  inteligency  in Latin)

[2018-10-28 04:30] An0nUD4Y commented on #117
HACKBYPHISH ?

[2018-10-28 04:30] usama7628674 commented on #117
@sTiKyt @An0nUD4Y I think hiddeneye is best

[2018-10-28 04:31] An0nUD4Y commented on #117
HIDDENEYE ?    done

[2018-10-28 04:31] sTiKyt commented on #117
yep, maybe hiddeneye, i'll create organization

[2018-10-28 04:32] usama7628674 commented on #117
@An0nUD4Y Okay change it now since you'e the owner of this repo

[2018-10-28 04:32] sTiKyt commented on #117
Or we'll use ANitel?

[2018-10-28 04:32] usama7628674 commented on #117
okay

[2018-10-28 04:32] An0nUD4Y commented on #117
oK But @sTiKyt  Organisation name should be renamed

[2018-10-28 04:33] sTiKyt commented on #117
ok

[2018-10-28 04:33] sTiKyt commented on #117
So, any ideas about arganization name?

[2018-10-28 04:33] usama7628674 commented on #117
opensea I guess

[2018-10-28 04:34] An0nUD4Y commented on #117
I think all Customizations should be made here .

[2018-10-28 04:34] sTiKyt commented on #117
I'll rename anitel to anything we want

[2018-10-28 04:34] sTiKyt commented on #117
Organization more good, cause we will be available to create other projects, not only this one

[2018-10-28 04:34] usama7628674 commented on #117
opensea - name of organization

[2018-10-28 04:34] sTiKyt commented on #117
Why this one? xD

[2018-10-28 04:35] usama7628674 commented on #117
just a random name

[2018-10-28 04:35] sTiKyt commented on #117
hmm maybe just
"Darkness"

[2018-10-28 04:35] sTiKyt commented on #117
I very like darkness xD

[2018-10-28 04:36] An0nUD4Y commented on #117
DARKSEC ? It should be

[2018-10-28 04:37] usama7628674 commented on #117
Yes DARKSEC done
so hiddeneye name and DARKSEC organization

[2018-10-28 04:37] sTiKyt commented on #117
What SEC means?

[2018-10-28 04:37] An0nUD4Y commented on #117
Security (SEC)

[2018-10-28 04:38] sTiKyt commented on #117
Maybe DarknessSec?

[2018-10-28 04:38] sTiKyt commented on #117
Or dark?

[2018-10-28 04:38] usama7628674 commented on #117
@sTiKyt I think DARKSEC is good

[2018-10-28 04:39] sTiKyt commented on #117
ok, this must be named like CAPS or DarkSec?

[2018-10-28 04:39] usama7628674 commented on #117
yes it should be

[2018-10-28 04:39] sTiKyt commented on #117
CAPS?

[2018-10-28 04:40] usama7628674 commented on #117
DarkSec for organization and hiddeneye for name

[2018-10-28 04:40] An0nUD4Y commented on #117
OK @usama7628674  @sTiKyt  Please ReCustomize Repo Here If you have time.
Organisation Name : DarkSec
REPO NAME : HIDDENEYE

[2018-10-28 04:40] usama7628674 commented on #117
I can't since only owner can do this.

[2018-10-28 04:41] An0nUD4Y commented on #117
Ok I know but You can customize here?

[2018-10-28 04:42] sTiKyt commented on #117
Ok, i'll recustomize, you should move repo to this organization https://github.com/DarkSecDevelopers

Guide how to move right here:
https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/

[2018-10-28 04:44] usama7628674 commented on #117
@An0nUD4Y Go to main page of this repo and then click settings there you'll find every setting to change name and transferring the repo to organization.

[2018-10-28 04:44] sTiKyt commented on #117
@An0nUD4Y @usama7628674
i invited you like Owners to organization
Just visit this link: https://github.com/DarkSecDevelopers

[2018-10-28 04:46] usama7628674 commented on #117
@sTiKyt accepted your invitation

[2018-10-28 04:46] sTiKyt commented on #117
And don't invite other guys like owners please :3

[2018-10-28 04:48] sTiKyt commented on #117
@An0nUD4Y it's guide for you if need:
![image](https://user-images.githubusercontent.com/35602029/47612167-69776680-da7d-11e8-9ba7-9873c5ce2bcb.png)

[2018-10-28 04:49] sTiKyt commented on #117
Name of the new owner shoud be DarkSecDevelopers @An0nUD4Y @An0nUD4Y @An0nUD4Y
that important

[2018-10-28 04:50] #117 closed

[2018-10-28 04:50] usama7628674 commented on #117
It's done

[2018-10-28 04:51] sTiKyt opened #118 "Organization and HiddenEye logo"
What do you think? I can do anything in my Vector graphic editor, i just need ideas

|HiddenEye|DarkSec|
|-|-|
|<img src="https://user-images.githubusercontent.com/35602029/47612319-025bb100-da81-11e8-8769-fed19eec183d.png" alt="HiddenEye" width ="512">|<img src="https://user-images.githubusercontent.com/35602029/47757618-e38f3180-dcaf-11e8-9081-9b38ee3225a7.png" alt="DarkSec" width="512">|

[2018-10-28 04:52] An0nUD4Y commented on #118
I''ll come back at 2:30 PM . Please make changes.

[2018-10-28 04:52] sTiKyt commented on #118
Idk your timeline xD

[2018-10-28 04:52] usama7628674 commented on #118
maybe black and white eye

[2018-10-28 04:53] usama7628674 commented on #118
The name should resemble with the repo

[2018-10-28 04:53] sTiKyt commented on #118
Any references please. designers always works with references :D

[2018-10-28 04:56] usama7628674 commented on #118
![image](https://user-images.githubusercontent.com/29252277/47612213-aa7c7480-da97-11e8-8e2c-87b609435f4b.png)

[2018-10-28 04:56] sTiKyt commented on #118
Organization name - just name of team. Or what about you?

[2018-10-28 04:56] sTiKyt commented on #118
I can do something like this in 1 minute
but what about original ideas? xxD

[2018-10-28 04:58] sTiKyt commented on #118
i thank i can do something, i'll post example here in a 5 minutes

[2018-10-28 04:59] usama7628674 commented on #118
okay

[2018-10-28 05:05] sTiKyt commented on #118
@usama7628674 what about this one?
![image](https://user-images.githubusercontent.com/35602029/47612263-e9063500-da7f-11e8-812d-78f72e996e6b.png)

[2018-10-28 05:08] usama7628674 commented on #118
yes it's good

[2018-10-28 05:09] sTiKyt commented on #118
@usama7628674 or this one
![image](https://user-images.githubusercontent.com/35602029/47612290-6631aa00-da80-11e8-8784-61e06e69bc3f.png)

[2018-10-28 05:11] sTiKyt commented on #118
What do u think? @usama7628674 First or Second?

[2018-10-28 05:13] usama7628674 commented on #118
second is good

[2018-10-28 05:15] sTiKyt commented on #118
Ok, i'll make organization logo later, now i'll redesign page

[2018-10-28 05:28] sTiKyt commented on #118
@An0nUD4Y @usama7628674 WOW chek this cool autogenerated thing! https://darksecdevelopers.github.io/HiddenEye/
Now we have website, we just must learn how to edit it xD

[2018-10-28 05:29] usama7628674 commented on #118
please change SocialFish image from readme.md

[2018-10-28 05:30] sTiKyt commented on #118
@usama7628674 don't worry about things like this, I told, I'll do all boring things today

[2018-10-28 07:32] An0nUD4Y commented on #118
@sTiKyt  Dude Its great..

GREAT TO BE WITH YOU..!

[2018-10-28 07:33] An0nUD4Y commented on #118
Ok now it comes to Script , Please Customize That !

[2018-10-28 11:58] An0nUD4Y commented on #118
@sTiKyt I think its time to make changes .,,,, So apply the New Look... I am waiting.????

[2018-10-28 16:08] sTiKyt opened #120 "Please don't add commits directly"
Please create dev branches and them merge it using pull requests

[2018-10-28 16:12] #120 closed

[2018-10-28 17:19] sTiKyt commented on #118
Seems ok?
![image](https://user-images.githubusercontent.com/35602029/47619347-58167480-dae6-11e8-8dbb-9f15a1e71a4e.png)

[2018-10-28 17:36] sTiKyt commented on #118
@usama7628674
![image](https://user-images.githubusercontent.com/35602029/47619565-b8a6b100-dae8-11e8-823c-ca61f41388c2.png)

[2018-10-28 18:32] darkmidus commented on #118
Wow you guys have been on top of things

[2018-10-28 18:33] sTiKyt commented on #118
Hi

[2018-10-28 18:33] darkmidus commented on #118
Hey

[2018-10-28 18:34] sTiKyt commented on #118
Let's contribute here? Now this not just fork :D

[2018-10-28 18:37] darkmidus commented on #118
Great, Can I help.

[2018-10-28 18:38] sTiKyt commented on #118
If you can, please update some web-pages to new version.

[2018-10-28 18:40] darkmidus commented on #118
Any ones in particular I should start with

[2018-10-28 18:41] sTiKyt commented on #118
Try Maybe Steam can be first? You just must fix fonts

[2018-10-28 18:42] darkmidus commented on #118
Ok, I got it

[2018-10-28 18:46] darkmidus commented on #118
I'm in the car, when I get home I'll fix some webpages

[2018-10-28 18:47] sTiKyt commented on #118
nice

[2018-10-28 20:37] sTiKyt opened #125 "Can't use Serveo with slow connection"
After reorganization i can't fix Serveo error, that why i started dev branch:
`Traceback (most recent call last):
  File "HiddenEye.py", line 38, in <module>
    selectServer()
  File "/home/stikyt/Documents/GitHub/HiddenEye/Defs/Actions.py", line 78, in selectServer
    runServeo()
  File "/home/stikyt/Documents/GitHub/HiddenEye/Defs/Actions.py", line 100, in runServeo
    output = check_output("

[2018-10-28 20:43] sTiKyt commented on #125
Sorry for this bug but i can't understand waht am i doing wrong.

[2018-10-29 02:05] usama7628674 commented on #125
@sTiKyt Run it again.

[2018-10-29 16:42] An0nUD4Y commented on #118
@sTiKyt  Please apply the themes in script.... I am waiting..

[2018-10-29 16:44] sTiKyt commented on #118
@An0nUD4Y what about you?

[2018-10-29 21:33] sTiKyt opened #129 "Program works when i'm offline"
checkConnection() always seems like true.
Please fix it in Checks.py

[2018-10-29 21:35] sTiKyt commented on #125
Im sure that i'm downloaded your fix but this seems like this:
![image](https://user-images.githubusercontent.com/35602029/47681843-3e069000-dbd3-11e8-8f52-c181c0af2c1b.png)

[2018-10-29 21:35] sTiKyt commented on #125
@usama7628674

[2018-10-29 21:40] sTiKyt commented on #125
And please don't close issues before this get approved @An0nUD4Y

[2018-10-30 01:00] usama7628674 commented on #125
I'll check dev branch

[2018-10-30 01:01] sTiKyt commented on #125
@usama7628674 nice

[2018-10-30 01:02] sTiKyt commented on #118
@darkmidus hi, what's up? Waiting for your contribution :D

[2018-10-30 01:02] usama7628674 commented on #125
And merge it in master branch

[2018-10-30 01:03] sTiKyt commented on #125
@usama7628674 I'll merge after bug fix, and always work with dev branch. Master branch must be stable.

[2018-10-30 01:06] usama7628674 commented on #125
The problem is if you're having latency or internet timeout issue then you get that error above in screenshot.

[2018-10-30 01:11] darkmidus commented on #118
My bad, I've had stuff to do lately. I may do it in the morning. In my area it is late.

[2018-10-30 01:36] sTiKyt commented on #118
@darkmidus I'm my area It's 3:36AM xD

[2018-10-30 01:37] darkmidus commented on #118
XD

[2018-10-30 01:44] usama7628674 commented on #118
Here 6:43AM xD

[2018-10-30 01:51] sTiKyt commented on #118
@usama7628674 good morning xD

[2018-10-30 01:51] sTiKyt commented on #129
@usama7628674

[2018-10-30 01:52] darkmidus commented on #118
Good night XD what country do y'all live in

[2018-10-30 01:53] sTiKyt commented on #118
@darkmidus I'm live on Earth, and you, also, can find my Facebook if really wanna know 😁

[2018-10-30 01:54] darkmidus commented on #118
Wow I didn't expect you to live on Earth

[2018-10-30 02:04] usama7628674 commented on #118
We all live on earth.

[2018-10-30 02:05] usama7628674 commented on #129
I'll look into it.I'm going to university now.

[2018-10-30 02:05] darkmidus commented on #118
Thanks for clarifying usama

[2018-10-30 02:06] sTiKyt commented on #118
I'll create discord server for you, guys xD

[2018-10-30 02:07] darkmidus commented on #118
You probably shouldn't should

[2018-10-30 04:19] An0nUD4Y opened #130 "Merge Dev Branch !"
@sTiKyt  I think You should merge the Dev branch with Master.
Because till now we don't have a valid script as the name.
So if you have made sufficient changes & tested them , Then The codes Should be Here.!

[2018-10-30 04:20] sTiKyt commented on #130
I'll merge it after we fix main bugs

[2018-10-30 04:32] usama7628674 commented on #130
Will check once I get back home.

[2018-10-30 05:47] 0verd0se opened #131 "New Insta Web page with login with facebook button"
I have a instagram page with the login with fb button you can add it to this rep https://github.com/0verd0se/SocialFish

[2018-10-30 05:49] sTiKyt commented on #131
I'll check it very soon, thank you!

[2018-10-30 05:52] sTiKyt commented on #131
Maybe you want to contribute it yourself? @0verd0se

[2018-10-30 06:03] 0verd0se commented on #131
I have my exams on November will be free from December that's why just gave an idea xD

[2018-10-30 06:04] 0verd0se opened #132 "Where can i contribute logos?"
![darkeye1](https://user-images.githubusercontent.com/43747211/47699063-b2731a80-dc37-11e8-9b94-97a6f0021ebf.png)

[2018-10-30 06:04] sTiKyt commented on #131
@0verd0se oh, OK I'll try to do it myself. I hope I'll be able to mark you as co-contributor

[2018-10-30 06:05] sTiKyt commented on #132
That core from Naruto? @0verd0se

[2018-10-30 06:07] sTiKyt commented on #132
https://fanparty.ru/fanclubs/uzumaki/articles/121327/119930_tribune_uzumaki.jpg

[2018-10-30 06:07] sTiKyt commented on #132
I can't accept this one :D

[2018-10-30 06:07] 0verd0se commented on #132
![eye2](https://user-images.githubusercontent.com/43747211/47699217-34fbda00-dc38-11e8-88c3-052b31789130.png)

[2018-10-30 06:07] 0verd0se commented on #132
yeah i like naruto lol xD

[2018-10-30 06:08] sTiKyt commented on #132
But you can't steal art

[2018-10-30 06:08] sTiKyt commented on #132
All must be made by your hands

[2018-10-30 06:09] 0verd0se commented on #132
ooh well sorry

[2018-10-30 06:10] sTiKyt commented on #132
Wait, I'll create directory for art, probably this will be named "presskit"

[2018-10-30 06:11] sTiKyt commented on #132
You will be able to do pull requests with art and I'll check it

[2018-10-30 06:14] #132 closed

[2018-10-30 06:36] sTiKyt commented on #131
@0verd0se i don't have enough experience to do it right, so, maybe someone else will add your page into project.

[2018-10-30 06:46] 0verd0se opened #133 "Key logger works only when site is accessed by PC does not work on mobile chrome browser."
Key logger does not work when site is accessed from mobile browsers

[2018-10-30 09:51] usama7628674 commented on #133
@0verd0se Which site are you talking about?

[2018-10-30 09:52] usama7628674 commented on #131
@0verd0se @sTiKyt I can do it

[2018-10-30 09:58] usama7628674 commented on #133
@0verd0se Did you include the following lines in code?
```<script src="keylogger.js"></script>```
```<script src="keylogger.php"></script>```

[2018-10-30 10:12] 0verd0se commented on #133
@usama7628674  Instagram one it works perfect when accessed on PC but when I open the link from my mobile browser no keystrokes are recorded expect the id pass .

and I guess keylogger is not a good idea as ngrok limits connections on free hosting and if I spam my keyboard and then type my is and password I don't get redirected I get an error page on ngrok saying I exceeded my connections

[2018-10-30 10:20] usama7628674 commented on #133
yes it's limit of ngrok for free version but you can use serveo.

[2018-10-30 10:30] usama7628674 commented on #133
@0verd0se Make sure your internet connection stable cuz  it's working fine on my side.

[2018-10-30 10:31] 0verd0se commented on #133
Let me try again i just tried it once though

[2018-10-30 10:37] 0verd0se commented on #133
@usama7628674 Does serveo creates a file like ngrok in Server folder? I tried multiple times but the link is not being created and there is no file for serveo like ngrok

[2018-10-30 10:44] usama7628674 commented on #131
@0verd0se The fb page does not resemble with what instagram dumps on the screen.Closing now.I'll change that later when I've free time.

[2018-10-30 10:44] #131 closed

[2018-10-30 10:45] usama7628674 commented on #133
It'll create link.url in main directory.

[2018-10-30 10:49] 0verd0se commented on #133
Yeah i got it the link.url ts blank even after waiting 5 mins no error shown

[2018-10-30 11:02] usama7628674 commented on #133
Did you clone master branch?

[2018-10-30 11:30] 0verd0se opened #134 "Integrating spear phishing in HiddenEye"
It would be awesome if https://github.com/WeebSec/PhishX gets added to HiddenEye.

[2018-10-30 11:31] usama7628674 commented on #129
@sTiKyt Fixed

[2018-10-30 11:31] #129 closed

[2018-10-30 11:33] usama7628674 commented on #133
I'll look into it later.Currently busy studying.

[2018-10-30 11:43] usama7628674 commented on #134
You can use it.What's the point of adding other tool in hiddeneye since it'll work the same as it's working now.

[2018-10-30 11:48] usama7628674 commented on #125
@sTiKyt fixed

[2018-10-30 14:33] Micrafast commented on #118
Nice logo! I like it 😊

[2018-10-30 14:37] usama7628674 commented on #118
@Micrafast We should add you as member  since you've contributed significantly.

[2018-10-30 14:41] usama7628674 commented on #118
@Micrafast You can join here https://github.com/DarkSecDevelopers

[2018-10-30 14:42] sTiKyt commented on #129
Yep, fixed :D

[2018-10-30 14:44] usama7628674 commented on #125
@sTiKyt Yes it does if your internet is not stable

[2018-10-30 14:45] sTiKyt commented on #118
@usama7628674 seems like him already joined.

[2018-10-30 14:45] usama7628674 commented on #129
@sTiKyt Please be careful with indentation next time.

[2018-10-30 14:48] sTiKyt commented on #125
That was working earlier, so, now people can't use it if have 1Mbyte/sec?

[2018-10-30 14:49] sTiKyt commented on #130
Merged.

[2018-10-30 14:49] #130 closed

[2018-10-30 14:50] usama7628674 commented on #118
@sTiKyt Yes he did.

[2018-10-30 14:50] sTiKyt commented on #129
Sorry, this my FIRST programming project ever xD I'm noob as programmer here, but can organize and make art xD

[2018-10-30 14:56] usama7628674 commented on #129
no problem

[2018-10-30 23:53] sTiKyt commented on #118
Heyo, i have new logo for DarkSec , i hope you'll like it xD @usama7628674 @An0nUD4Y

[2018-10-31 02:46] An0nUD4Y commented on #133
@0verd0se  The keylogger works using javascript codes , As I have tested in mobile chrome, That keylogger file of java script was not loading. So currently its not recording the keystrokes  for Android chrome, Because chrome Don't allow to background javascript as it thought, So wait sometime ,whenever i got time, I'll search for its solution. And if you want you use the tool then  you can use it

[2018-10-31 02:49] 0verd0se commented on #133
@An0nUD4Y No issues, i just wanted to inform that its not working :D

[2018-10-31 03:50] usama7628674 commented on #118
@sTiKyt I do like it

[2018-10-31 14:39] An0nUD4Y commented on #133
@0verd0se  Thanks to inform !! You can Help, By making some contribution.?

[2018-10-31 14:39] #133 closed

[2018-10-31 14:49] An0nUD4Y commented on #118
@sTiKyt  I thought You have another one also...!

[2018-10-31 14:51] An0nUD4Y commented on #118
@sTiKyt  Dude, Its Ultimate, I really appreciate Your Contribution.??

[2018-10-31 15:22] Micrafast opened #141 "The ascii picture can't display correctly in Termux"
The terminal width is not enough for the ascii picture.

[2018-10-31 15:29] Micrafast commented on #141
Hmmmm... I didn't have possibility to send a screenshot on my phone,please forgive me!

[2018-10-31 15:39] An0nUD4Y commented on #141
@Micrafast  Please Try to capture a screenshot..?

[2018-10-31 18:31] usama7628674 commented on #141
@Micrafast Well the screnshot from my lg g3 device works perfectly.
https://www.sendspace.com/file/tkgvzl

[2018-11-01 15:21] Micrafast commented on #141
Sorry, I don't have time to use computer until tomorrow afternoon,I will send the screenshot on tomorrow afternoon if i remember to send screenshot.

[2018-11-02 14:11] Micrafast commented on #141
![image](https://user-images.githubusercontent.com/13199993/47920099-26d5e400-deec-11e8-9776-ba00175a15fb.png)
@An0nUD4Y @usama7628674 Just like this

[2018-11-02 19:18] usama7628674 commented on #141
Maybe due to the small width of your device.

[2018-11-03 04:57] usama7628674 commented on #118
This thread has done its job closing now.

[2018-11-03 04:57] #118 closed

[2018-11-03 04:58] usama7628674 commented on #141
@Micrafast Try to zoom-in and zoom-out and check again.

[2018-11-03 05:01] Micrafast commented on #141
@usama7628674 It works. Thanks.

[2018-11-03 05:01] #141 closed

[2018-11-08 18:06] An0nUD4Y commented on #134
I think its a good idea.  I will work on that.

[2018-11-09 05:04] An0nUD4Y commented on #134
Sorry Dude, I have Checked it's not gonna to be useful.?
But Thanks for Giving time..

[2018-11-09 05:04] #134 closed

[2018-11-15 18:02] sTiKyt commented on #125
This was working, please fix it

[2018-11-15 18:02] sTiKyt opened #142 "Ngrok images bug"
![image](https://user-images.githubusercontent.com/35602029/48572197-68fe1d00-e911-11e8-8f28-19f81b1a3c3b.png)

[2018-11-16 03:04] usama7628674 commented on #142
@sTiKyt Reload the page.Sometimes page does not load properly.

[2018-11-16 03:48] usama7628674 commented on #125
@sTiKyt Please do `git pull` and give me output of `git log`.You should be on latest commit.This was fixed earlier.

[2018-11-16 04:52] usama7628674 commented on #142
@bosci works fine.

[2018-11-16 14:51] sTiKyt commented on #114
Working version will be finished soon :D

[2018-11-16 17:13] sTiKyt commented on #142
I'm still have this bug, reloading don't helps

[2018-11-17 01:12] usama7628674 commented on #142
Check with serveo

[2018-11-17 02:06] usama7628674 commented on #142
try on firefox-esr.

[2018-11-17 03:11] usama7628674 commented on #142
@sTiKyt It's working fine on firefox and chromium.

[2018-11-19 05:57] sTiKyt commented on #142
See, if it don't works on my, how can i be sure about it on targets pc?

[2018-11-19 05:58] sTiKyt commented on #142
That must work in any browser where works all popular web pages..

[2018-11-19 06:03] sTiKyt commented on #142
I don't have any issues with any web pages.. Instead of fake ones..

[2018-11-19 10:39] usama7628674 commented on #142
What can I say about it?It must've been a problem on your side.I loaded instagram page on firefox and chromium and it's fine on either of these browsers.

[2018-11-19 16:23] sTiKyt commented on #114
@usama7628674 @An0nUD4Y Sorry for long waiting! I GOT HOW IT WORKS XD

There example of Russian translation:
![image](https://user-images.githubusercontent.com/35602029/48720342-2d709500-ec28-11e8-96d1-4a1b39446119.png)

[2018-11-20 01:10] usama7628674 commented on #114
@sTiKyt What about ukrainian language?

[2018-11-20 02:40] sTiKyt commented on #114
That can be done in 10 minutes, I don't have enough time this week (that why I don't contribute) xD

[2018-11-25 09:35] sms72 opened #145 "Fb standard phishing page"
In fb standard phishing page when we click on login button after enter id password nothing will happen and it's doesn't send the victim's information.

[2018-11-25 09:38] An0nUD4Y commented on #145
ok ,, But which device ??? you are using.

[2018-11-25 12:49] sms72 commented on #145
Bro I am using Redmi Note 5

[2018-11-25 16:36] sTiKyt commented on #145
@sms72 we will check it.

[2018-11-26 04:44] sms72 commented on #145
Okk @sTiKyt please check it as soon as possible.

[2018-11-26 09:18] usama7628674 commented on #145
@sms72 Make sure you've cloned `master` branch,stable one.

[2018-11-26 10:47] sms72 commented on #145
@usama7628674 what bro???
What is master branch???

[2018-11-26 10:49] usama7628674 commented on #145
@sms72 I mean the `HEAD` should be on master branch as the branch is stable one.

[2018-11-26 11:19] sms72 commented on #145
🤔 don't understand.😔

[2018-11-26 11:33] usama7628674 commented on #145
@sms72 It's working fine.I just checked it.Closing now.

[2018-11-26 11:33] #145 closed

[2018-11-26 12:48] sms72 commented on #145
No bro it's also not working give your whatsapp number I will show you.

[2018-11-26 13:45] usama7628674 commented on #145
@sms72 It does work on my LG-G3.Could've been a problem on your device.You need to figure it out yourself.

[2018-11-26 13:47] usama7628674 commented on #145
Post the picture here.Just drag and drop it here.

[2018-11-28 21:44] #114 closed

[2018-11-29 16:23] An0nUD4Y opened #147 "Instructions on readme about lang."
Add the proper instructions on read me file about the language ... ???

[2018-11-29 22:40] lordcharlx commented on #147
![screenshot_20181129-233155](https://user-images.githubusercontent.com/5570136/49256669-0be58980-f430-11e8-8187-6713fdc1ea56.png)
Error on termux

[2018-11-29 22:42] sTiKyt commented on #147
@lordcharlx please create new issue.

[2018-11-29 22:42] sTiKyt commented on #147
@An0nUD4Y i'll create -h (--help)

[2018-11-29 22:46] lordcharlx opened #148 "This showing on termux"

[2018-11-29 22:47] lordcharlx commented on #148
![screenshot_20181129-233155](https://user-images.githubusercontent.com/5570136/49256998-2409d880-f431-11e8-844a-009342442e8a.png)

[2018-11-29 22:48] sTiKyt commented on #148
@lordcharlx are you sure that latest version of HiddenEye?

[2018-11-29 22:50] lordcharlx commented on #148
@sTiKyt yes everything working fine until I delete and cloned today  update

[2018-11-29 22:51] sTiKyt commented on #148
@lordcharlx wait a little, i'll check and fix it just right now! Just a minute. Thank you for feedback.

[2018-11-29 22:52] lordcharlx commented on #148
Thanks in advance !

[2018-11-29 23:24] sTiKyt commented on #148
@lordcharlx please check, this problem was solved. If problem fixed - close this issue. Thank you.

[2018-11-29 23:42] sTiKyt commented on #148
@lordcharlx probably solved, i need your approvement to close issue.

[2018-11-30 05:54] #147 closed

[2018-11-30 09:37] #148 closed

[2018-11-30 10:52] thelinuxchoice opened #151 "HiddeEye is a copy from ShellPhish/Blackeye"
It uses the same engine: Ngrok, Serveo, TinyURL, Location.

Some parts of the code is the same, is like a port to python.

Give me the credits man!

[https://github.com/thelinuxchoice/shellphish](https://github.com/thelinuxchoice/shellphish)
[https://github.com/thelinuxchoice/blackeye](https://github.com/thelinuxchoice/blackeye)

[2018-11-30 12:21] #151 closed

[2018-12-01 01:21] sTiKyt commented on #148
@lordcharlx Now i'm creating Discord server for DarkSec, you can chat here: https://discord.gg/Ugxfw5c

[2018-12-01 01:38] sTiKyt commented on #151
@thelinuxchoice all code here was created by our team, you can't slave all phishing genre because of your tool. You used bash - we python. See any problems? You can report.

[2018-12-01 01:39] sTiKyt commented on #151
@thelinuxchoice o my god, Opera,Chrome,Firefox,Brave, Tor seems like similar browsers!!! Report! REPORT!

[2018-12-01 01:40] usama7628674 commented on #151
@sTiKyt That's why I blocked him

[2018-12-01 14:03] Cyb3rG0D7 opened #152 "Advanced Method Ranking facebook bug"
143/5000
When using the ranking link, and when capturing the credentials HIddenEye closes and does not show the credentials, an error comes out, use Parrotsec 4.4.

[2018-12-01 15:58] usama7628674 commented on #152
@Colocho7 Please upload screenshot here.It's very hard to debug it form here.

[2018-12-01 18:07] An0nUD4Y commented on #142
@sTiKyt  Have you Tried to open real website. Does all the content of that is properly loading in your browser. And Wait sometime, i will create a new instagram page ...

[2018-12-01 18:07] An0nUD4Y commented on #142
I Think it's not a Bug .

[2018-12-01 18:07] #142 closed

[2018-12-02 02:49] Colocho7 commented on #152
![logoerror](https://user-images.githubusercontent.com/35184132/49335035-d7e6a180-f5b2-11e8-86af-bd5513a9047f.png)
The logo no look at start.

[2018-12-02 02:52] Colocho7 commented on #152
![captura de pantalla -2018-12-01 21-50-49](https://user-images.githubusercontent.com/35184132/49335047-327ffd80-f5b3-11e8-9cfc-16f4cfc2bb7d.png)
After using the option 2 of facebook, when entering the credentials that, in version 0.1.0 works well.

[2018-12-02 19:26] greyxhood opened #153 "facebook standard error"
page works but when i enter credentials this is the output:
Traceback (most recent call last):
  File "HiddenEye.py", line 32, in <module>
    getCredentials()
  File "/root/HiddenEye/Defs/Actions.py", line 304, in getCredentials
    ip = re.match('User Public IP: (.*?)\n', lines).group(1)
AttributeError: 'NoneType' object has no attribute 'group'

[2018-12-03 12:37] alienwaresoldier commented on #153
Same issue Traceback (most recent call last):
  File "HiddenEye.py", line 32, in <module>
    getCredentials()
  File "/home/aliensoldier/HiddenEye/Defs/Actions.py", line 304, in getCredentials
    ip = re.match('User Public IP: (.*?)\n', lines).group(1)
AttributeError: 'NoneType' object has no attribute 'group'
┌─[✗]─[aliensoldier@parrot]─[~/HiddenEye]

[2018-12-03 16:15] #153 closed

[2018-12-03 16:17] usama7628674 commented on #153
@alienwaresoldier @greyxhood It's fixed.Clone the tool again or do `git pull`

[2018-12-03 16:18] usama7628674 commented on #152
@Cyb3rG0D7 It's fixed now.Reclone the tool again or do `git pull`

[2018-12-03 16:18] #152 closed

[2018-12-03 20:13] lordcharlx opened #154 "VPN issue"
whenever either the link is set up using vpn or victim is running vpn error shows on the hiddeneye

[2018-12-04 00:43] usama7628674 commented on #154
@lordcharlx what error?

[2018-12-04 05:20] lordcharlx commented on #154
![screenshot_20181204-061722](https://user-images.githubusercontent.com/5570136/49420588-7712c100-f78c-11e8-9dd3-7645294dcb17.png)

Whenever any or both party are using VPN this happens

[2018-12-04 05:58] usama7628674 commented on #154
@lordcharlx It's fixed.Reclone the tool again.

[2018-12-04 14:47] Sara123984 opened #155 "New phish"
Can you please make a page for testing amazon with OTP

[2018-12-04 15:19] usama7628674 commented on #155
@Sara123984 What is OTP ?

[2018-12-04 17:34] greyxhood opened #156 "Serveo"
This tool would be awesome if you can host with a custom sub-domain to Serveo!!
like how they did with this phishing tool : https://github.com/M4cs/BlackEye-Python

[2018-12-04 20:56] sTiKyt opened #157 "usama WHAT A F*CK?"
Why you just removed all my translation system? Wtf man? WHY YOU EDITED MAIN BRANCH?WHY WE HAVE F*CKING DEV BRANCH?!! WHAT A F*CK? My work was destroyed...

[2018-12-04 21:00] sTiKyt commented on #152
Don't close issue that you don't sure you fixed.

[2018-12-04 21:05] sTiKyt commented on #157
Sorry for agression :3

[2018-12-04 21:12] sTiKyt commented on #157
And please, google "Python gettext translation"..And edit dev branch only!!

[2018-12-05 02:14] usama7628674 commented on #157
@sTiKyt I fixed it.

[2018-12-05 02:19] #157 closed

[2018-12-05 02:21] usama7628674 commented on #157
@sTiKyt Logo is not working

[2018-12-05 02:35] usama7628674 commented on #157
@sTiKyt Now that is out of the way could you please help me to create ascii logo by going here
https://github.com/DarkSecDevelopers/Keylogger/issues/1
I've added you as collaborator just check your mail.

[2018-12-05 03:07] Edu4rdSHL opened #158 "Please create a new release"
Hello,

I'm packaging it tool for BlackArch but in the latest release I'm getting:

[code]
It was fixed in one latest commit.

Regards.

[2018-12-05 03:08] sTiKyt opened #159 "HiddenEye GUI"
I think our software can be newbie-friendly, right? So, this will be Qt based UI. (Because new Gtk have compatibility problems)

How can you **help me** to create interface? You can:
- Give interface suggestions
- Explain how works our web part of code. (I know only python, idk how fake-pages built)

[2018-12-05 03:10] sTiKyt commented on #158
@Edu4rdSHL oh, you making only BlackArch package? Can you make AUR package please? :3 I don't have enough time to learn how PKGBUILD works...

And yep, just a moment, release will be soon!

[2018-12-05 03:14] Edu4rdSHL commented on #158
@sTiKyt I'm developer of BlackArch and don't have enought time also... but i will just copy/paste the PKGBUILD to AUR. Still waiting for the release.

[2018-12-05 03:16] sTiKyt commented on #158
@Edu4rdSHL thanks. Just a moment

[2018-12-05 03:16] usama7628674 commented on #159
@sTiKyt Please not to use new version of `PyQt5`.You can also use `tkinter` or `GTK3`.

[2018-12-05 03:17] usama7628674 commented on #159
@sTiKyt `PyQt5` is advanced so I think `tkinter` is the way to go

[2018-12-05 03:18] sTiKyt commented on #159
@usama7628674 PyQt5 have app named Qt Designer - visual editor for interface. This will help i think

[2018-12-05 03:21] usama7628674 commented on #159
@sTiKyt Yes I know and used it on windows.This will make work a lot easier.

[2018-12-05 03:34] sTiKyt commented on #158
@Edu4rdSHL sorry for waiting!

[2018-12-05 03:35] #158 closed

[2018-12-05 03:41] sTiKyt opened #160 "Loading string always in English"
**HiddenEye is Opening. Please Wait...%%** always shown in English.

Russian | Ukrainian | English
-- | -- | --
![image](https://user-images.githubusercontent.com/35602029/49488633-177de980-f850-11e8-972b-85875a637a1c.png)| ![image](https://user-images.githubusercontent.com/35602029/49488648-311f3100-f850-11e8-892c-5cd19f641e2e.png)| ![image](https://user-images.githubusercontent.com/35602029/4948

[2018-12-05 03:42] sTiKyt commented on #160
@usama7628674 lol, we always have problems with this line only xD

[2018-12-05 03:50] Edu4rdSHL commented on #158
@sTiKyt and @usama7628674 thank you, the tool was added to BlackArch in https://github.com/BlackArch/blackarch/commit/566de5dc4588ee6db8025d986bd4a40e8fab03ca

[2018-12-05 03:57] usama7628674 commented on #160
@sTiKyt I'll look into it.Currently busy preparing for exam.

[2018-12-05 03:58] sTiKyt commented on #160
@usama7628674 ok

[2018-12-05 06:26] Franchium opened #161 "Mobile fb Phising page not working on mobile phone"
After i click the login button, nothing happen but when im login with using a pc it did work. I think there's a problem for mobile device.

I did also try with another phone and network and its just same

![img_20181205_132406-1](https://user-images.githubusercontent.com/41231953/49494109-69297280-f856-11e8-98b4-94998aa7082f.png)

[2018-12-05 16:01] usama7628674 commented on #161
@Franchium It'll be fixed soon.

[2018-12-06 02:29] usama7628674 commented on #161
@Franchium Fixed.Download the tool again

[2018-12-06 02:43] usama7628674 commented on #160
@sTiKyt I fixed it.Please check again and let me know if it's working for you.

[2018-12-06 02:45] usama7628674 commented on #159
@sTiKyt What about Termux users?GUI won't work on termux.

[2018-12-06 06:44] An0nUD4Y opened #163 "Need Help To clone webpage."
@usama7628674  @sTiKyt  Guys, Can you help me to CLONE this page properly , I need that for further insta phishing attack scenario.

https://www.instagram.com/instagram/

It has already taken a lot of my time, but still not working.
I am uploading my work .

http://www.mediafire.com/file/l45t5mwusb6l0c4/www.instagram.com.rar/file

I hope you will help,

[2018-12-06 09:18] usama7628674 commented on #163
@An0nUD4Y Could you describe what are trying to achieve here.Why do you need official instagram page?Did you clone the above site and by which tool.

[2018-12-06 12:50] An0nUD4Y commented on #163
@usama7628674  i used httrack to clone the required files and html,

I want to make a page that can trick user to click on follow button which will make a prompt to login first.
In most of scenario this will work perfectly.

I hope, it will be a nice idea. Afterall , This script is about advanced phishing .....

[2018-12-06 12:57] usama7628674 commented on #163
@An0nUD4Y First of all you can't clone instagram with httrack or any other tool.Just save the above page then using javascript to route victim to fake instagram login site when he clicks follow.This is very easy for me to do it.

[2018-12-06 13:56] usama7628674 commented on #156
@greyxhood Custom subdomain added. @sTiKyt Please translate the english in UK and RU in this commit
https://github.com/DarkSecDevelopers/HiddenEye/commit/803604b8920809c33bd57adcc35fa80739592816

[2018-12-06 14:44] greyxhood commented on #156
nice job on the update! But can you also make it so that the custom subdomain can include a .com (example: facebook.com.12345678.serveo.net)? When I enter a subdomain like that I get:

Traceback (most recent call last):
  File "/root/HiddenEye/Defs/Actions.py", line 110, in runServeo
    output = check_output("grep -o 'https://[_0-9a-z]*\.serveo.net' link.url",shell=True)
  File "/usr/lib/python3.

[2018-12-06 16:30] usama7628674 commented on #156
@greyxhood I'll add this as well.

[2018-12-06 23:09] sTiKyt commented on #163
@An0nUD4Y i recomment you to use wget, very nice for sites..

[2018-12-06 23:16] sTiKyt commented on #125
@usama7628674 that 2.2.0 release
![image](https://user-images.githubusercontent.com/35602029/49617530-a2302700-f9bd-11e8-9675-c82422c67632.png)

[2018-12-07 01:33] usama7628674 commented on #163
@sTiKyt Nope won't work for instagram.You can't just clone clone sites that have javascript at the backend.
I'll add this phishing method when I've free time.

[2018-12-07 01:55] #161 closed

[2018-12-07 01:56] #160 closed

[2018-12-07 04:00] usama7628674 commented on #156
@greyxhood It's done.Now your custom subdomain will work properly.Grab latest commit and try again.

[2018-12-07 04:02] usama7628674 commented on #125
@sTiKyt Fixed in latest commit will print `Network error` if serveo link does not generate in time.

[2018-12-07 05:45] Franchium commented on #161
I tried to run pacman -Sy hidden-eye but there is no newest update available.

[2018-12-07 08:41] Franchium commented on #161
Its need to get in to the directory to of the folder to run and not installed on the systems i think

[2018-12-07 09:31] usama7628674 commented on #161
@Franchium The recent commits would not be in latest release cuz the latest release is 2 days ago.

[2018-12-07 09:43] Franchium commented on #161
Hufft, i will just wait till the new version

[2018-12-07 09:45] usama7628674 commented on #161
@Franchium Why don't you git clone this repo and use it?

[2018-12-07 09:45] usama7628674 commented on #161
@Franchium No need for next release

[2018-12-07 10:02] #156 closed

[2018-12-07 11:10] Franchium commented on #159
I think thats a bad idea for blackarch users where most of the tools in it run on terminal not gui

[2018-12-07 11:12] usama7628674 commented on #159
@Franchium It'll work if you've PyQt5 module installed for python.

[2018-12-07 12:23] sms72 commented on #163
@An0nUD4Y bro plss check your instagram inbox I want some help..

[2018-12-07 12:30] An0nUD4Y commented on #163
@usama7628674  bro you shuould check the files, i have worked on them. Please give a try to these file, Please compare that webpage with the fake instagram  we have  made ???

[2018-12-07 12:36] usama7628674 commented on #163
@An0nUD4Y Here's what I see when I tried to host your page locally using xampp

![image](https://user-images.githubusercontent.com/29252277/49648113-7b6a0300-fa46-11e8-81b9-47a60f4f5dbe.png)

I know what are trying to achieve here.I'll work on it next week.

[2018-12-07 18:51] An0nUD4Y commented on #155
its one time passwors .

[2018-12-07 18:52] An0nUD4Y commented on #155
@usama7628674  i think its about 2-factor authenication , bypassing ????

[2018-12-09 02:59] sTiKyt commented on #159
@usama7628674 gui will be just addition to console version, why not?

[2018-12-09 04:57] An0nUD4Y commented on #155
@Sara123984  Thnks to Be here , I hope you found your answer. Now you can close the issue. If still any query please recomment.

[2018-12-09 05:45] sTiKyt commented on #155
@Sara123984 we wanna help but now we don't have enough contributors to add new cool features like fake 2 factor auth.

[2018-12-09 05:47] sTiKyt commented on #155
@Sara123984 if you are interested in future of HiddenEye you can post your opinion about it in any social network. Thank you for your choice, HiddenEye always will grow and evolve!

[2018-12-09 05:50] sTiKyt commented on #110
@An0nUD4Y thank you for this suggestion, now I know how gettext language system works, this will be very useful skill :P

[2018-12-09 05:53] An0nUD4Y opened #164 "Bug In Custom Serveo Subdomain url & Tinyurl"
Guys, Whenever I tried to make a custom url like facebook.c0m/.security/.checkpoint/.loginagain.serveo.net
Everything works perfectly, the generated link & the custom subdomain which i provided.

But the problem is this that this long url in real doesn't shown in the terminal , it shows only half of the total link, & also the only half gets redirected by generated tinyurl...

I know its easy to be

[2018-12-09 06:11] #155 closed

[2018-12-09 06:12] usama7628674 commented on #159
@sTiKyt What about termux users GUI won't work?

[2018-12-09 06:14] sTiKyt commented on #159
@usama7628674 they still will be able to use console.. I'll update GUI with console version, parallel..

[2018-12-09 06:18] An0nUD4Y commented on #164
[Fixed Here !!!](https://github.com/DarkSecDevelopers/HiddenEye/commit/efd1a96780e8f85e537a6968cbade051545863d6)

[2018-12-09 06:18] #164 closed

[2018-12-09 06:19] usama7628674 commented on #159
@sTiKyt So you choose GTK+ any reason why?

[2018-12-09 11:40] #125 closed

[2018-12-12 06:44] usama7628674 commented on #163
@An0nUD4Y I've done what you're trying to achieve.Take a look at [here](http://www.mediafire.com/file/avaj45lzfezcg4c/instagram.rar/file) and report back.Click follow button and the page will redirect to fake login page.

[2018-12-12 07:32] An0nUD4Y commented on #163
@usama7628674 Its working perfectly, Can i know ,what was the issue in my edited codes.

[2018-12-12 08:56] usama7628674 commented on #163
@An0nUD4Y Just save the webpage(complete)  then open the html page then change **follow** button link to fake login page.

[2018-12-12 09:00] usama7628674 commented on #163
@An0nUD4Y So should I make a pull request if you want to add this feature in instagram?

[2018-12-12 09:51] An0nUD4Y commented on #163
Wait i am adding ??

[2018-12-12 11:00] #163 closed

[2018-12-13 00:17] yosoyuva opened #165 "Arabic & French translation"
arabic and french

[2018-12-13 01:15] usama7628674 commented on #165
@yosoyuva Submit a PR and I'll merge it.

[2018-12-15 19:00] toxub23 commented on #90
@usama7628674  Yes, it is a polish website and is used as an online messenger.
@An0nUD4Y Is there any chance to add this page?

[2018-12-17 16:18] sTiKyt commented on #165
@An0nUD4Y don't close requests please

[2018-12-19 13:52] HAKRSINGH commented on #83
Why a VPN?

[2018-12-19 15:55] usama7628674 commented on #83
You don't need vpn

[2018-12-20 02:50] HAKRSINGH opened #167 "Blank Page [Ubuntu]"
I'm getting a blank page on Instagram and other sites. Like the website opens properly for 1-2 times but after that blank pages start coming up. I use Ubuntu 18.04 and installed all the required packages. I have 20+ Mbps internet if you guys were wondering.

[2018-12-20 04:45] HAKRSINGH commented on #167
Nevermind updating the packages seem to have resolved this!

[2018-12-20 05:53] HAKRSINGH commented on #167
Still having this issue. Please help

[2018-12-20 05:54] usama7628674 commented on #167
Try with ngrok

[2018-12-20 10:33] usama7628674 commented on #167
@HAKRSINGH Which page are you using?
1. Instagram_web
2.Instagram_autoliker
3.Instagram_advanced_attack

[2018-12-21 10:47] RattlingAmigo opened #168 "Serveo Network Error"
I have good speed of Internet. But 'Serveo' isn't generating link.
Everytime it ends with saying network error.
![issue](https://user-images.githubusercontent.com/33193838/50338896-aa4ca280-0537-11e9-8f1b-7624be7b57a9.PNG)

[2018-12-21 10:52] RattlingAmigo opened #169 "Suggestions"
How about when someone clicks on the link, and we get his location and also get informed that the victim has clicked on the link <Just by now>?

Maybe this helps a lot.

[2018-12-21 12:11] An0nUD4Y commented on #169
@RattlingAmigo its easy to be done. Even it was present in old version. But later removed.
But I will add this feature.

[2018-12-21 12:16] An0nUD4Y commented on #168
Looks like serveo.net is Down Currently.
Check if you can browse https://serveo.net/
OR
Use ngrok .

[2018-12-21 12:54] RattlingAmigo commented on #168
@An0nUD4Y
Obviously, i can visit that. And, i've used ngrok, cool!
But i wanna use serveo.

Any help?

[2018-12-21 13:00] RattlingAmigo commented on #169
@An0nUD4Y
Yeah, thanks.

[2018-12-21 13:00] #169 closed

[2018-12-21 14:58] An0nUD4Y commented on #168
Try to use serveo manually.. `ssh -R 80:localhost:3000 serveo.net`
If works please let us know.

[2018-12-21 15:05] usama7628674 commented on #168
Don't use dots cuz serveo dumps error that's why you can't see any link.

[2018-12-22 09:15] deadfishhackers opened #170 "not working with ngrok neither with ssh"
Failed to complete tunnel connection

The connection to https://f1acfcac.ngrok.io was successfully tunneled to your ngrok client, but the client failed to establish a connection to the local address localhost:1449.

Make sure that a web service is running on localhost:1449 and that it is a valid address.

The error encountered was: dial tcp [::1]:1449: getsockopt: connection refused

[2018-12-22 12:35] usama7628674 commented on #168
@An0nUD4Y Yes change it.

[2018-12-22 19:30] RattlingAmigo commented on #168
It would be loved if you guys give an relate example like:
https://example.serveo.net   ?

[2018-12-23 03:53] usama7628674 commented on #168
@RattlingAmigo Try https://facebook.serveo.net

[2018-12-23 17:57] RattlingAmigo commented on #168
@usama7628674 Yeah!, thanks buddy ;).

[2018-12-23 17:57] #168 closed

[2018-12-25 16:08] usama7628674 commented on #159
@sTiKyt Thank you very much.I'll also join in for GUI development.

[2018-12-25 22:31] sTiKyt commented on #159
cool

[2018-12-26 06:57] sTiKyt commented on #159
@usama7628674 seems like GTK have problems with stability... For example app for Gtk 3.0 can't be opened with Gtk 3.20.. We made bad choice.. I think this will be Qt

[2018-12-26 09:48] usama7628674 commented on #159
@sTiKyt Okay

[2018-12-27 11:01] souriens253 opened #172 "error message need help please"
i received this message what i need to do to solve it thanks you
Traceback (most recent call last):
  File "./HiddenEye.py", line 8, in <module>
    from Defs.Checks import *
  File "/root/HiddenEye/Defs/Checks.py", line 7, in <module>
    from wget import download
ModuleNotFoundError: No module named 'wget'

[2018-12-27 11:04] Micrafast commented on #172
Run this:
pip3 install wget

[2018-12-27 12:06] souriens253 commented on #172
thank but i did it i think is install i get this answer
[code]
i try to lunch again same error message

[2018-12-27 15:46] usama7628674 commented on #172
@souriens253 I think you're installing it for python2.
`pip3 install wget`
This will install for python3

[2018-12-27 17:55] souriens253 commented on #172
thanks you i update it

[2018-12-28 09:01] An0nUD4Y commented on #172
@souriens253 if fixed, Don't forget to close the issue.

[2018-12-28 09:39] #172 closed

[2018-12-29 11:38] softdream1981 opened #173 "Not working over ssh?"
Over ssh i got this error:
Traceback (most recent call last):
  File "HiddenEye.py", line 26, in <module>
    runMainMenu()
  File "/root/HiddenEye/Defs/Actions.py", line 152, in runMainMenu
    ''').format(GREEN, DEFAULT, CYAN, RED))
UnicodeEncodeError: 'ascii' codec can't encode characters in position 174-175: ordinal not in range(128)

[2018-12-29 15:47] CyberTheReape opened #174 "NGROK Connection Failed & Phishing Pages Detected By Chrome"
First of all thank you for this beautiful project.but after several attempts with ngrok, ngrok warns you have tried many times..Please upgrade your ngrok account if you want to use more ..

later I tried to do with the servero.but google gives red page alert.this site is not trusted. What do you think?

ip address writing options need to be. ngrok and servero are distressed

[2018-12-29 16:52] An0nUD4Y commented on #174
@CyberTheReape  , For a effective attack, we are using  a lot of back connections such as keylogger , ip , UA , and many web page css,images. These are require a lot of requests at a time. So basically, at the time we are using a free connection of ngrok. This causes the trouble & occuring such error.

**Solution**
- Try to manually less these connection by inspecting them, you can edit server fil

[2018-12-29 16:57] An0nUD4Y commented on #173
@softdream1981 , Which Platform You are Using ? Please Give More Info ??

[2018-12-29 16:57] CyberTheReape commented on #174
![1](https://user-images.githubusercontent.com/42475284/50540508-0650a000-0ba4-11e9-81bc-d79eba3f2b82.png)

[2018-12-29 17:06] An0nUD4Y commented on #174
@CyberTheReape  , This is due to the Chrome has detected the Phishing attack.
You can Simply continue to the page, click on _Advanced_ Then Click on _Proceed to Website_
PLEASE TELL? WHICH ATTACK YOU ARE USING ?
So that we can make it undetectable.
**OR (worst case)**
It may happen that, chrome had blocked the serveo[.]net certificate.

[2018-12-29 17:08] An0nUD4Y commented on #170
@deadfishhackers  , I think this would help #174

[2018-12-29 17:45] softdream1981 commented on #173
I use Kali linux VPS over SSH.

[2018-12-29 18:39] sTiKyt commented on #173
@softdream1981 i think SSH main problem..

[2018-12-30 02:36] usama7628674 commented on #173
@sTiKyt @softdream1981 I'll fix this soon.

[2018-12-30 02:38] usama7628674 commented on #174
@CyberTheReape The only solution is to host the page on custom domain and use different certificate.

[2018-12-30 05:31] usama7628674 commented on #174
@CyberTheReape just type serveo on google search and at the top you'll see
`This site may harm your computer.`

[2018-12-30 22:26] UnknownBean opened #175 "Network error. Verify your connection."
Upon launching the program with "python3 HiddenEye.py" It immediately exits with the error "Network error. Verify your connection.". I've tried running it as root and everything but it just keeps exiting with the same error before it even tries to load.

[2018-12-31 11:53] argtje99 commented on #173
Same error right here. Working from OneplusOne 64gb Nethunter

Last login: Sun Dec 30 21:59:21 UTC 2018 on pts/5
Linux kali 3.4.112-cyanogenmod-g8fbc62e #3 SMP PREEMPT Fri ATraceback (most recent call last):
  File "HiddenEye.py", line 26, in <module>
    runMainMenu()                                             File "/root/HiddenEye/Defs/Actions.py", line 152, in runMainMenu

[2018-12-31 13:08] An0nUD4Y commented on #175
@unknownBean , please verify if you have a working internet connection ?

[2018-12-31 14:05] CyberTheReape commented on #174
I tried openport program today. openport is working on the external network..

I previously shared a video about the openport program in my youtube channel.

https://www.youtube.com/watch?v=2dvc03P6jXM

this program is nice from ngrok and servero... Set the hiddeneye program to work with the openport program..

[2018-12-31 14:43] An0nUD4Y commented on #174
@CyberTheReape , Thanks To be Here ! && You can help us to do more, By creating a Tutorial on Your Channel.

[2018-12-31 15:12] CyberTheReape commented on #174
I'm thinking about sharing this program on my youtube channel but this way many people will have problems..

It would be better if it worked with the openport program.cancel the servero program.add openport instead

[2018-12-31 17:54] UnknownBean commented on #175
How would I have posted this if I didn't have a working internet connection? But yes I have verified it by deleting hidden eye and redownloading it. I can assure you it works.

[2018-12-31 22:56] An0nUD4Y commented on #174
@CyberTheReape , It may be added later. Currently i don't have enough time to do so.

[2019-01-01 04:37] UnknownBean commented on #175
Pulled latest commit and still same error "Network error. Verify your connection."

[2019-01-01 05:30] UnknownBean commented on #175
No, and neither is duckduckgo, its my default search engine. I've tried numerous commits and running with and without root.

[2019-01-01 18:53] UnknownBean commented on #175
Yeah I've been pretty confused about it as well, it just doesn't add up to me.

[2019-01-02 00:15] sTiKyt commented on #175
@usama7628674 i think better will be to check both, Google and Duckduckgo..And if one of these reachable - accept connetion.

[2019-01-02 00:16] sTiKyt commented on #175
@UnknownBean problem on your side :(

[2019-01-02 01:18] usama7628674 commented on #174
@sTiKyt Yes that will also be another possibility.

[2019-01-02 01:19] usama7628674 commented on #175
@UnknownBean Unfortunately we can't help you cuz it's very hard to debug from here.You've to try on your own.

[2019-01-02 01:20] #175 closed

[2019-01-02 19:16] Phoenix1112 opened #176 "Google phishing pass bug"
hello. I was experimenting with google phishing. I wrote eight 1 for the password.
but the incoming password = 111111118

Why is it write 8 at the end of the password?

![1](https://user-images.githubusercontent.com/42475284/50607910-f60a2f00-0edb-11e9-8545-018c759f22c9.png)
![2](https://user-images.githubusercontent.com/42475284/50607921-fa364c80-0edb-11e9-8977-47242b210c47.png)
![3](https://user

[2019-01-02 21:04] Palmus84 opened #177 "Doesn't work on Android 9"
Android 9 detect ph1sh1ng and doesn't give any username and any pass.

[2019-01-03 01:13] usama7628674 commented on #177
@Palmus84 Which browser gives a warning message?Is it chrome?

[2019-01-03 01:39] sTiKyt commented on #177
@Palmus84 i used it on Android 9 by myself, i'm sure that there chance that you tried to use Google Chrome and Servero on your phone... #174

[2019-01-03 01:42] sTiKyt commented on #176
I'm sorry but there no problem, i tried it myself
I can't reproduce this bug, all works fine
Thank you for using our software @CyberTheReape

[2019-01-03 03:34] usama7628674 commented on #176
@CyberTheReape Yes you're right.It does happen at the end of the password.8 gets printed at the end.I'll look into it later.Thanks for pointing that out.

[2019-01-03 03:37] usama7628674 commented on #177
@Palmus84 see #174

[2019-01-03 03:47] sTiKyt commented on #177
@usama7628674 i told same thing.. xD

[2019-01-03 06:06] Palmus84 commented on #177
Ok I've read #174 just few minutes ago. Thanks!

[2019-01-03 09:45] #177 closed

[2019-01-03 17:33] ironpatro opened #178 "Wget module error"
![screenshot from 2019-01-03 22-58-08](https://user-images.githubusercontent.com/44530586/50652188-b579e680-0fab-11e9-985e-26e2a1f4c703.png)

[2019-01-03 19:12] sTiKyt commented on #178
@ironpatro instead of using "pip install wget" please try "pip3 install wget"

[2019-01-03 19:13] sTiKyt commented on #178
Duplicate #172

[2019-01-04 01:50] usama7628674 commented on #173
@softdream1981 @argtje99 Do what @hxrofo said.

[2019-01-04 02:07] argtje99 commented on #173
Thanks that's the trick 👍 But now python uses the UTF8 codec instead of Ascii? Is there another solution then adding the UTF8 in the .bashrc? Thankyou

[2019-01-06 20:15] sTiKyt opened #179 "Official documentаtion"
We need to write documentаtion.

[2019-01-07 02:02] sTiKyt commented on #179
@usama7628674 right

[2019-01-07 08:58] usama7628674 commented on #179
Okay go ahead and make one.

[2019-01-08 05:00] sTiKyt commented on #179
@usama7628674 my keyboard broken, i told you, are'nt i?

[2019-01-08 08:43] usama7628674 commented on #179
Ok after getting a new keyboard then jump on and make an official wiki page.

[2019-01-09 05:53] sTiKyt commented on #179
@usama7628674 i'll try but there must be someone who will fix grammar errors after me xD

[2019-01-09 12:15] usama7628674 commented on #179
@sTiKyt I got you covered

[2019-01-10 13:30] An0nUD4Y commented on #179
@sTiKyt  Don't worry about that.

[2019-01-10 16:35] argtje99 commented on #173
Found the permanent solution! By running: dpkg-reconfigure locales
Then select: "All locales" Then select "en_US.UTF-8"
After that reboot your machine. Then open terminal and run the command: "locale"
Then you see that "en_US.UTF-8" is the default language. Instead of POSIX.

[2019-01-11 16:03] Pouriyahe opened #181 "SSH issue"
so I was running this on Ubuntu on a remote server with Putty(through port 22 SSH) and after it was done , (after giving me my Serveo.net Link) my SSH connection through putty crashed ( I can't connect anymore but I can see the server is ON !!) and also the Link just shows HTTP 502.
My server provider panel is also unable to restart or power off the server. I'm afraid I can't reach the provider's

[2019-01-12 05:08] sTiKyt commented on #181
@usama7628674

[2019-01-12 05:10] sTiKyt commented on #181
@Pouriyahe sorry for any issues, we'll help you as soon as possible!

[2019-01-12 05:11] usama7628674 commented on #181
@Pouriyahe Please try again with recent commit.

[2019-01-12 05:11] #178 closed

[2019-01-12 05:38] sTiKyt commented on #167
abandoned by user

[2019-01-12 05:38] #167 closed

[2019-01-12 05:41] sTiKyt commented on #174
@usama7628674 isn't this solved?

[2019-01-12 05:54] usama7628674 commented on #174
@CyberTheReape @sTiKyt @An0nUD4Y Google is drunk recently.They lift the malware tag from serveo.I just checked.It's working fine now on all browsers.

[2019-01-12 06:43] sTiKyt commented on #174
@CyberTheReape seems like this works fine now.

[2019-01-12 06:44] #174 closed

[2019-01-12 09:29] An0nUD4Y opened #182 "Permission checking at startup in termux, causing trouble."
Guys, The initial  checking for root permission in termux causing trouble for those who doesn't have sudo as command
OUTPUT LOOK LIKE
_

_> Traceback (most recent call last):

_
--

[2019-01-12 12:07] sTiKyt commented on #182
@An0nUD4Y undo latest commit

[2019-01-12 12:08] sTiKyt commented on #182
@An0nUD4Y this isn't error at all, you must use administrator rights to run correctly

[2019-01-12 14:16] An0nUD4Y commented on #182
@sTiKyt , I know , its not an error ,you should read the title carefully.

[2019-01-12 14:19] An0nUD4Y commented on #182
@sTiKyt , Now their is only one way remained , that is all the termux users have to install sudo in termux.
I found a repo on GitLab to achieve this. https://gitlab.com/st42/termux-sudo

[2019-01-12 14:20] An0nUD4Y commented on #182
@sTiKyt , I This we should add instructions in _instructions.md_

[2019-01-12 14:20] lordcharlx commented on #182
@sTiKyt  i have a project that will interest the whole house in here https://github.com/lordcharlx/curiosus_api

[2019-01-12 14:30] CyberTheReape commented on #174
I haven't tried it yet..Do you plan to use the openport program? alternative to openport ngrok or servero
@sTiKyt

[2019-01-12 14:32] An0nUD4Y commented on #182
@lordcharlx ,  move that project on darksec & join us. I think this will be the best project to be work on.
You should join now.

[2019-01-12 14:37] An0nUD4Y commented on #182
@sTiKyt I think ,installing sudo from the gitlab repo mention above will be tough to get because it required rooted device.
We have to find other way.

[2019-01-12 14:43] lordcharlx opened #183 "Interesting project [Not HiddenEye]"
@sTiKyt  i have a project that will interest the whole house in here https://github.com/lordcharlx/curiosus_api

_Originally posted by @lordcharlx in https://github.com/DarkSecDevelopers/HiddenEye/issues/182#issuecomment-453751300_

[2019-01-12 17:10] lordcharlx commented on #183
in here @Pouriyahe     https://github.com/lordcharlx/curiosus_api

[2019-01-13 01:56] usama7628674 commented on #183
@lordcharlx Could you explain what your is about?

[2019-01-13 01:58] usama7628674 commented on #181
@Pouriyahe Is there any best VPS you can tell us about?

[2019-01-13 02:02] usama7628674 commented on #174
@CyberTheReape Problem is openport won't let you to choose your own subdomain and serveo is now working fine so you should use serveo.

[2019-01-13 02:04] sTiKyt commented on #174
@CyberTheReape so, problem solved ;D Thank you for using our software!

[2019-01-13 02:08] sTiKyt commented on #183
@lordcharlx Explain me what is it xD all screenshots got broken, so, we can't see wtf is it xD

[2019-01-13 02:13] sTiKyt commented on #183
also i tried to google what is C&C....
![image](https://user-images.githubusercontent.com/35602029/51080710-88cf7880-16e9-11e9-8690-965fcfc9705c.png)

[2019-01-13 02:16] sTiKyt commented on #183
@lordcharlx Command &Control? Cool, i always wanted to have botnet xD

[2019-01-13 02:47] usama7628674 commented on #183
@sTiKyt I tried to run it but it's not working.
![screenshot from 2019-01-13 07-46-31](https://user-images.githubusercontent.com/29252277/51080999-72d0b080-1707-11e9-9ffb-d3b8dc1aa82a.png)

[2019-01-13 02:52] sTiKyt commented on #183
@usama7628674 they told there some bugs to fix

[2019-01-13 02:54] usama7628674 commented on #183
@sTiKyt Yes there are some problems in modules but I managed to fix it but still not working.

[2019-01-13 03:01] sTiKyt commented on #183
@usama7628674 i think we can write C&C АPI from blank but use some of "curiosus_api" code xD

[2019-01-13 03:02] usama7628674 commented on #183
@sTiKyt Wait let @lordcharlx explain about the project and screenshots in running form.

[2019-01-13 03:04] sTiKyt commented on #183
@usama7628674 i found screenshots in "screenshots" folder xD

[2019-01-13 04:35] Pouriyahe commented on #181
I think Digital Ocean and Google have some pretty good VP servers but any cheap vps with ubuntu should work pretty much the same way

[2019-01-13 04:43] Pouriyahe commented on #183
I think the app can be found here :
https://github.com/Kopites/curiosus

[2019-01-13 05:42] sTiKyt commented on #183
@Pouriyahe mobile app

[2019-01-13 06:13] usama7628674 commented on #183
@Pouriyahe Yes it an android app mainly for rooted phones

[2019-01-13 06:16] lordcharlx commented on #183
It's a command and control server for an android phone but I want to hybridise it so iOS can be included

[2019-01-13 06:47] usama7628674 commented on #183
@lordcharlx For iOS you need to code app in swift and objective-c cuz java is only for android platform.

[2019-01-13 06:48] usama7628674 commented on #183
@lordcharlx But then again advanced features won't like like getting whatsapp messages without rooted phone.

[2019-01-13 06:52] lordcharlx commented on #183
I need to get the web app running first !

[2019-01-13 06:53] lordcharlx commented on #183
For those looking for c and c I have a some fully armed but not as cool as this in an share if you want

[2019-01-13 06:58] sTiKyt commented on #183
@lordcharlx i hate Whatsapp, what about **Discord**? https://discord.gg/ZTsEre
I started new **Discord** server specially for **DarkSecDevelopers**

[2019-01-13 07:35] An0nUD4Y commented on #182
@sTiKyt , we have to find a way for termux support.

[2019-01-13 08:23] Pouriyahe opened #184 "Possible Enhancements"
I think there are 2 possible improvements :
1. Save Logs from user info
2. make the keylogger feature optional - it makes the page load so slow and the browser gets suspicious

[2019-01-13 08:54] Pouriyahe commented on #184
so I just found out that logs were in fact being saved so that's my bad.
let me know when you add the option for the keylogger

[2019-01-13 12:43] #184 closed

[2019-01-13 17:39] #165 closed

[2019-01-13 20:10] #182 closed

[2019-01-14 19:54] daredevil12345 opened #186 "Termux issues (no module wget)"
upon running HiddenEye.py on termux it show an error

 ` $ python2 HiddenEye.py
Traceback (most recent call last):
  File "HiddenEye.py", line 8, in <module>
    from Defs.Checks import *
  File "/data/data/com.termux/files/home/HiddenEye/Defs/Checks.py", line 3, in <module>
    from urllib.request import urlopen
ImportError: No module named request
$ python HiddenEye.py
Traceback (most recent cal

[2019-01-14 19:56] daredevil12345 opened #187 "How to continue a session"
Here is scenario

example i sent link to someone and i logout my session from terminalbor i just closed it.

Victim use it after a day how can i see its detail after a day or so?

i cant keep moniter 24/7

[2019-01-15 09:04] An0nUD4Y commented on #187
@daredevil12345  Sorry Dude, After closing & restarting you can't back to your connection. But still you can create the same link which you sent to your victim.

[2019-01-15 09:08] An0nUD4Y commented on #186
@daredevil12345  , Install it again from those commands in [instructions.md](https://github.com/DarkSecDevelopers/HiddenEye/blob/master/instructions.md) ....

[2019-01-16 16:26] daredevil12345 commented on #187
but creating again is beneficial? i mean will i get old password or old details victim entered few days ago?

can web place a file on same web server (ngork) like passwords.php or any thing and place a password over so normal users wont see passwords in it and only create might know.

how does it sounds?

[2019-01-16 16:35] daredevil12345 commented on #186
i followed the RUNNING ON CODE INSTALLATION

for one time it works and run the script perfectly  but when i do on a new session and do Python HiddenEye.py it dosent worked and error is same.

what could be issue? how to solve this?

fatal: destination path 'HiddenEye' already exists and is not an empty directory.
$ chmod 777 HiddenEye.py && python HiddenEye.py
Successful connection!
Traceback (mos

[2019-01-16 17:13] daredevil12345 opened #188 "Issues in Kali"
root@kali:~/HiddenEye# python HiddenEye.py
Traceback (most recent call last):
  File "HiddenEye.py", line 8, in <module>
    from Defs.Checks import *
  File "/root/HiddenEye/Defs/Checks.py", line 3, in <module>
    from urllib.request import urlopen
ImportError: No module named request

[2019-01-16 17:39] daredevil12345 commented on #188
i tried all old same solutions with socialfish but updating PIP and wget others didnt worked out yet

[2019-01-17 02:15] usama7628674 commented on #188
@daredevil12345 Read [here](https://github.com/DarkSecDevelopers/HiddenEye/blob/master/instructions.md)

[2019-01-17 02:15] #188 closed

[2019-01-18 05:45] sTiKyt commented on #183
@lordcharlx i was banned(flaged) for a while -_-

[2019-01-18 16:30] sTiKyt commented on #183
@lordcharlx how?Idk.
Why?Because of little spam :D
By?GitHub anti-spam bots

GitHub support fortunately unbanned me when i requested, so..I'll never spam again xD

[2019-01-18 16:31] lordcharlx commented on #183
lols

[2019-01-19 02:56] usama7628674 commented on #183
@lordcharlx app.py is missing in curiosus_api repo.

[2019-01-19 08:11] lordcharlx commented on #183
@usama7628674   cant figure that out

[2019-01-19 14:30] lordcharlx commented on #183
@usama7628674   cant figure that out

[2019-01-24 14:54] Ranjithkumar567 opened #189 "slove the error"
chmod +x HiddenEye.py
root@kali:~/Desktop/HiddenEye# python3 HiddenEye.py
Traceback (most recent call last):
  File "HiddenEye.py", line 8, in <module>
    from Defs.Checks import *
  File "/root/Desktop/HiddenEye/Defs/Checks.py", line 7, in <module>
    from wget import download
ModuleNotFoundError: No module named 'wget'

[2019-01-24 17:36] An0nUD4Y commented on #189
@Ranjithkumar567  , its already resolved please check  #172

[2019-01-24 17:36] #189 closed

[2019-01-27 02:13] darkmidus opened #190 "Is termux still supported?"
I have just got this back, and everytime I run it, it says must run as sudo. There is no sudo command in Termux.

[2019-01-27 22:52] An0nUD4Y opened #191 "Release, This new HiddenEye version .."
@sTiKyt  @usama7628674 , Please Release the new version....

[2019-01-28 07:34] sTiKyt commented on #183
@lordcharlx we can speak about this project at Discord, i'm clossing issue cause of off-topic

[2019-01-28 07:34] #183 closed

[2019-01-28 07:41] sTiKyt opened #192 "Termux sudo warning"
Just gonna make it to show something like "You're using Termux, please install HiddenEye from Termux branch" if user on Termux

[2019-01-28 07:50] An0nUD4Y commented on #192
@sTiKyt  I didn't get your point. Please make it clear.

[2019-01-28 07:53] sTiKyt commented on #192
@An0nUD4Y don't worry, i gonna do it :D
I assigned myself to it and you'll see pull what i mean at pull request

[2019-01-28 07:58] alialpha123 opened #193 "Too many connections"
Too many connections issue coming in NGROK

[2019-01-28 08:01] An0nUD4Y commented on #193
@alialpha123 , In that case, You can Stop Keylogger,...
Please try to stop keylogger, If problem still remains, then Let Us Know...!!

[2019-01-28 08:16] alialpha123 commented on #193
Same issue

[2019-01-28 08:45] alialpha123 commented on #193
@usama7628674 tried serveo it's giving this error

"Network error. Verify your connection."

[2019-01-28 08:59] jepunband opened #194 "Add Custom Template"
--add custom template like from -- https://github.com/jeretc/cfp

[2019-01-28 09:08] jepunband commented on #193
ngrok:
too many connections
serveo:
"Network error. Verify your connection."

both not working.

[2019-01-28 11:17] usama7628674 commented on #194
@jepunband I'll add this but captive portal is useful in mitm attack like spawning a fake AP then redirect victim to fake portal page to capture creds.I'll still add this just to extend the functionality of the tool.

[2019-01-28 12:07] alialpha123 commented on #193
@An0nUD4Y like i tried for facebook standard page and choose custom url as below

" facebook.serveo.net "
" http://facebook.serveo.net "
" https://facebook.serveo.net "

nothing worked

[2019-01-29 04:34] jepunband opened #195 "Keylogger Error"
Tried creating the file index.html but didn't work either. Even when selected "N", the error still pops out.

![screenshot_20190129-122444](https://user-images.githubusercontent.com/46950575/51884388-0cfc4e00-23c2-11e9-86d3-db0604fba98d.png)

[2019-01-29 15:46] sTiKyt commented on #195
@An0nUD4Y xD

[2019-01-29 15:54] sTiKyt commented on #191
@An0nUD4Y also updated into BlackArch repository

[2019-01-29 18:26] An0nUD4Y commented on #195
@jepunband , Let me know which attack you are using.

_Let me explain it further, Currently it will work only with those templates/webpages which has index.html as their default page, For those templates/webpages which has index.php or index2.html, or mobile.html this will not work..,, I will further resolve this issue in few days.., OR You can do it change with yourself, Let Me explain it  _  _JU

[2019-01-29 18:48] An0nUD4Y commented on #193
@alialpha123 , Come On Dude, You can not use URL , which even looks like suspicious, as in your case ...
After a lot of misuse of serveo for wrong purposes, serveo implemented limitations on their custom URL choosing option.. So try your luck next time, Craft some good url....

[2019-01-30 06:06] KingMhamad opened #196 "wget"
./HiddenEye.py
Traceback (most recent call last):
  File "./HiddenEye.py", line 8, in <module>
    from Defs.Checks import *
  File "/data/data/com.termux/files/home/HiddenEye/Defs/Checks.py", line 7, in <module>
    from wget import download
ModuleNotFoundError: No module named 'wget'
______________________
i have wget installed.

[2019-01-30 08:45] sTiKyt commented on #196
#178 #189 #186 #172
Check these ones...
Probably you just need to install Python3 wget..I think you have wget for python 2.
And please, next time search closed issues with your problem.

[2019-01-30 08:49] KingMhamad commented on #196
$ pip3 install wget
No command 'pip3' found, did you mean:
 Command 'pico' from package 'alpine'
 Command 'php' from package 'php'
 Command 'pick' from package 'pick'
 Command 'pil' from package 'picolisp'
 Command 'zip' from package 'zip'
 Command 'ip' from package 'termux-tools'
 Command 'ping' from package 'termux-tools'
$
_______________
i am on termux pip3 doesnt work and i cant download pyth

[2019-01-30 09:02] sTiKyt commented on #196
@KingMhamad install python-pip3 package...

[2019-01-30 09:11] KingMhamad commented on #196
$ apt install python-pip3
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package python-pip3
$ pkg install python-pip3
Hit:1 https://termux.net stable InRelease
Ign:2 https://dl.bintray.com/xeffyr/x11-packages x11 InRelease
Get:3 https://dl.bintray.com/xeffyr/x11-packages x11 Release [6055 B]
Hit:3 https://dl.bintray.com/xeffyr/x11-pack

[2019-01-30 11:26] Bartixxx32 opened #198 "Facebook`s websites seems broken"

[2019-01-30 11:41] sTiKyt commented on #198
#99 #27

[2019-01-31 10:05] littleheary opened #199 "keylogger error"
Traceback (most recent call last):
  File "HiddenEye.py", line 29, in <module>
    addingkeylogger()
  File "/soft/yanlian/hiddeneye/Defs/Actions.py", line 315, in addingkeylogger
    with open('Server/www/index.html') as f:
FileNotFoundError: [Errno 2] No such file or directory: 'Server/www/index.html'

[2019-01-31 13:41] #199 closed

[2019-01-31 15:31] Ldog8315 opened #200 "Keylogger error on Termux"
If you say yes to the keylogger on Termux there is an error. If there is any way I could help let me know.

[2019-01-31 15:33] Ldog8315 commented on #200
Never mind it is just on Snapchat the other ones are ok

[2019-01-31 15:37] Ldog8315 opened #201 "Snapchat not working"
The code is looking for index.html intead of index.php. I think that is the problem.

[2019-01-31 16:03] #200 closed

[2019-02-01 13:19] KingMhamad commented on #196
i guess nothing works then :(

[2019-02-01 15:58] An0nUD4Y commented on #201
@Ldog8315 , please check #195

[2019-02-01 15:58] #201 closed

[2019-02-02 05:34] Ldog8315 commented on #201
oh... well now i feel stupid. Sorry to bother you man.  XD

[2019-02-03 14:33] sTiKyt commented on #196
@KingMhamad Linux repository... I mean
Arch linux, Ubuntu, Kali Linux, Manjaro, Linux Mint or what?

[2019-02-03 14:34] sTiKyt commented on #200
#195

[2019-02-03 14:46] KingMhamad commented on #196
i am on termux i didnt change anything i just clone scripts and tools and testing them and try to learn the python language by looking inside the file and try to learn somthing

[2019-02-03 14:52] KingMhamad commented on #196
About the linux repo i guess it is kali linux or something linux. lol

[2019-02-03 15:05] sTiKyt commented on #196
... I'm very sorry man but can you please delete linux and install Windows? This just not for you..
Sorry again @KingMhamad

[2019-02-03 15:05] #196 closed

[2019-02-04 16:22] DopeWiz commented on #179
what are we here for??
we can!!

[2019-02-04 17:52] sTiKyt commented on #194
@An0nUD4Y next time when you gonna release something please use "pre-release" tag

[2019-02-05 15:38] jepunband opened #202 "Ngrok Syntax Error"
hi after selecting ngrok and choosing custom domain i get this error..
![screenshot at 2019-02-05 23-29-28](https://user-images.githubusercontent.com/46950575/52284270-0c098480-299f-11e9-82a5-68b26d6cdbef.png)

./Server/ngrok: 1: ./Server/ngrok: Syntax error: "(" unexpected

[2019-02-05 17:10] An0nUD4Y commented on #202
@jepunband  , I am Unable to reproduce this error, Can You Give Me More Info...  OR Try again with the instructions.md command guide.

[2019-02-07 16:07] ilija02 opened #203 "SSH ERROR: Broken pipe..."
Whenever i try to use serveo as my host i get the following error
![untitled](https://user-images.githubusercontent.com/45182003/52424601-a3371f00-2afa-11e9-8550-b644108d7059.png)
I provided a good redirect url : www.instagram.com and whatever i use for the custom subdomain the error still proceeds to show

[2019-02-07 16:39] An0nUD4Y commented on #203
@ilija02  , Let me know what are you using as custom subdomain...

[2019-02-07 16:47] ilija02 commented on #203
![untitled](https://user-images.githubusercontent.com/45182003/52427266-ee9ffc00-2aff-11e9-87b2-aaa2120866c5.png)
I also tried using just exampledomain123 (wihout the serveo.net domain) but i get the same error.
Also when i try to connect to serveo manually via ssh with this command ssh -R **exampledomain123.serveo.net:80:localhost:8888 serveo.net** i get the follwing error packet_write_wait: Conn

[2019-02-07 19:34] An0nUD4Y commented on #203
@ilija02 , Try It Without , Custom URL..
Use this command..
`ssh -R 80:localhost:1111 serveo.net`

[2019-02-07 19:49] An0nUD4Y commented on #203
@ilija02  CHECK IF THESE ANSWERS CAN HELP YOU TO RESOLVE THE ISSUE.
[CHECK HERE](https://unix.stackexchange.com/questions/2010/what-does-the-broken-pipe-message-mean-in-an-ssh-session)
OR
[CHECK HERE](https://askubuntu.com/questions/127369/how-to-prevent-write-failed-broken-pipe-on-ssh-connection)
Try To Find The Solution On various Forums , Some Have Mentioned Above.

[2019-02-07 20:15] ilija02 commented on #203
I can't seem to fix the problem, maybe it happens because I'm on a VM. I'll try bridged mode on my network adapter for my virtual machine.

[2019-02-07 20:22] ilija02 commented on #203
I solved the problem. Solution is to change the network adapter from NAT to bridged mode, because ssh will not work if two devices share the local ip.

[2019-02-08 05:30] #203 closed

[2019-02-08 12:01] sTiKyt opened #204 "NAmeError: name 'log' is not defined"
![image](https://user-images.githubusercontent.com/35602029/52477251-ec927780-2ba9-11e9-9be5-27a7cf355342.png)

[2019-02-08 20:25] lordcharlx opened #205 "No such file: server/www/index.html"
![screenshot from 2019-02-08 20-23-06](https://user-images.githubusercontent.com/5570136/52504202-9d673980-2bdf-11e9-88f8-fb3601cad54f.png)
    why this error

[2019-02-09 07:03] sTiKyt commented on #205
@lordcharlx what page you tried to use?

[2019-02-09 09:48] An0nUD4Y commented on #205
@lordcharlx  plz check  #195 ....
Always Check For Previous Closed Issues, To Find If Your issue were already solved or not.

[2019-02-09 09:51] sTiKyt commented on #195
@An0nUD4Y please check if there any index.php instead of index.html and message users.. We still have this, and i think this bug

[2019-02-09 15:10] unknwn404 opened #206 "Serveo is Not Working"
Serveo Is Not Working.

Script Stoped Automaticaly

Give This Out Put
Insert a custom subdomain for serveo

CUSTOM Subdomain>>> rabbyyyy

FAILED !!!...FAILED !!!..FAILED !!!

[!] Please Make Sure:
 1)~ If You are still connected to the Internet.
 2)~ If You Have Chosen A Valid Custom URL.
     As Serveo Implemented More Security To Stop misuse of the service.
 3)~ You Can Give another Try.

SCRIPT

[2019-02-09 15:31] lordcharlx commented on #205
gmail

[2019-02-09 15:48] lordcharlx commented on #206
try another sub domain!

[2019-02-09 17:24] jepunband commented on #205
This is already working..

[2019-02-10 17:13] deepufeliz commented on #202
ngrok  won't create any link. how to fix this issue ?

[2019-02-14 04:44] jepunband opened #207 "Serveo error after link generated."
[*] SERVEO URL: http://iduser.secure.serveo.net

Traceback (most recent call last):
  File "./HiddenEye.py", line 33, in <module>
    selectServer()
  File "/root/HiddenEye/Defs/Actions.py", line 96, in selectServer
    runServeo()
  File "/root/HiddenEye/Defs/Actions.py", line 140, in runServeo
    data = urlopen("http://tinyurl.com/api-create.php?url="+url)
  File "/usr/lib/python3.7/urllib/requ

[2019-02-14 09:44] jepunband commented on #202
OK got it to work by doing "chmod 755 ngrok" in the HiddenEye/Server folder.

[2019-02-14 09:44] #202 closed

[2019-02-14 15:37] jepunband commented on #198
facebook page & facebook messenger is broken.

[2019-02-14 22:56] Darkcast commented on #190
termux link is dead

[2019-02-14 22:57] Darkcast opened #208 "Termux link dead"
The termux link on the read me is dead

[2019-02-15 02:40] usama7628674 commented on #198
@jepunband I'll update pages starting from tomorrow.

[2019-02-15 03:51] Ldog8315 opened #209 "Cannot install pip3"
Whenever I put in sudo apt install python3-pip I get the error

E: Could not get lock /var/lib/dpkg/lock - open (11: Resource temporarily unavailable)
E: Unable to lock the administration directory (/var/lib/dpkg/), is another process using it?

[2019-02-15 03:54] darkmidus commented on #198
Is there any webpages that need to be updated

[2019-02-15 03:58] Ldog8315 commented on #198
darkmidus I can help you with that tomorrow after we get home

[2019-02-15 07:37] usama7628674 commented on #198
@darkmidus @Ldog8315 Are you two brothers?

[2019-02-15 07:38] usama7628674 commented on #209
@Ldog8315 Go to task manager of your linux and kill packagekitd

[2019-02-15 12:28] darkmidus commented on #198
@usama7628674 No, we're just good friend's of each other

[2019-02-15 12:43] usama7628674 commented on #198
@darkmidus So you two live close to each other.

[2019-02-15 13:33] Ldog8315 commented on #198
@usama7628674 yeah we go to the same school

[2019-02-15 14:45] #209 closed

[2019-02-15 14:47] #208 closed

[2019-02-15 14:48] sTiKyt commented on #190
@Darkcast solved

[2019-02-15 14:51] #205 closed

[2019-02-15 16:22] Ldog8315 commented on #198
Sorry this is kinda random but we should make an irc channel to talk through ik its ancient, but its pretty secure XD

[2019-02-16 02:44] usama7628674 commented on #198
@sTiKyt @jepunband @Bartixxx32 Fixed.Pull latest commit and try again.

[2019-02-16 02:51] jepunband commented on #198
Ok thanks. Will try again.

On Sat, Feb 16, 2019, 10:44 AM Usama Abdul Sattar <notifications@github.com>
wrote:

[2019-02-16 12:19] jepunband commented on #198
hey guys fb messenger & fb page are good. Only the loopback option "Leave Blank To Loop The Phishing Page" does not work..

thanks.

[2019-02-16 13:04] sTiKyt opened #210 "--help base"
I'll use Argparse to make help system.

[2019-02-16 13:11] usama7628674 commented on #210
Remember argparse is used mostly for tools that use flags to run not for ui style scripts.

[2019-02-16 14:16] krblood00 opened #211 "How to fix expired ngrok link?"
![screenshot at 2019-02-16 21-58-24](https://user-images.githubusercontent.com/47693145/52900998-565cf200-3238-11e9-9e6d-c61867cba706.png)
It was working yesterday but now I have no idea how to fix this problem. Can you help me?
For future users whom will encounter this error as well.

long live darksec

[2019-02-16 14:25] usama7628674 commented on #211
Ngrok won't work continuously for hours you've to generate or run hiddeneye again after some hours.I think serveo will work for longer period of time.

[2019-02-16 14:28] krblood00 commented on #211
Oh, but still I don't know what to do . Even if I do generate a new one; it gives me the same link thus this will appear.

[2019-02-16 14:30] krblood00 commented on #211
i think the problem is my HiddenEye stopped generating new links(Probably)?. I never touched the files tho

[2019-02-16 14:41] sTiKyt commented on #211
@krblood00 just wait, we'll help you as soon as possible!

[2019-02-16 14:43] sTiKyt commented on #210
@usama7628674 now i'm not sure about UI, we really need it?
I mean, there nothing hard that must have UI to be user-friendly.

[2019-02-16 14:45] krblood00 commented on #211
will do sir thank you for the response.

[2019-02-16 15:19] usama7628674 commented on #210
@sTiKyt The tools that run only if flags are given as arguments not for this tool cuz it's streamline and more of a UI style.What would you put as argument cuz it's not a tool that just you can run by giving arguments for example `python Hiddeneye.py here you assin argument as a flag like --help`.

[2019-02-16 15:25] #198 closed

[2019-02-16 16:48] sTiKyt commented on #210
Done

[2019-02-16 16:48] #210 closed

[2019-02-16 17:43] sTiKyt opened #215 "Code reorganization"
We need to code clear, our code must be good readable and easy for newcomers.
So, if there  someone who can help me to rename all things using this[ guideline](https://github.com/DarkSecDevelopers/HiddenEye/wiki/Contributor%3F-Read-please!)?

And yep, @usama7628674 @An0nUD4Y read [this](https://github.com/DarkSecDevelopers/HiddenEye/wiki/Contributor%3F-Read-please!) please.

i just wanna be able t

[2019-02-16 17:52] sTiKyt opened #216 "Fix 'subprocess call with shell=True identified, security issue.' issue in Defs\Actions.py"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found an issue: subprocess call with shell=True identified, security issue.

It's currently on:
[Defs\Actions.py:115
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/Defs/Actions.py#L115)

[2019-02-16 18:19] sTiKyt opened #218 "Fix 'subprocess call with shell=True identified, security issue.' issue in Defs\Actions.py"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/dev) found an issue: subprocess call with shell=True identified, security issue.

It's currently on:
[Defs\Actions.py:115
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/dev/Defs/Actions.py#L115)Commit 1987e473189476b32123089bdd0c4c9c571523fd

[2019-02-16 18:38] codacy-bot opened #219 "Unnecessary pass statement"
### [Codacy](https://app.codacy.com/app/DarkSecDevelopers/HiddenEye/commit?cid=324733226) detected an issue:
#### Message: `Unnecessary pass statement`

#### Currently on:
+ **Commit**:  8f9f00ff821d559fc22529a9423ef9a3b2f5fec2
+ **File**:    [Defs/Actions.py](https://github.com/DarkSecDevelopers/HiddenEye/blob/8f9f00ff821d559fc22529a9423ef9a3b2f5fec2/Defs/Actions.py)
+ **LineNum**: [322](https://

[2019-02-16 20:37] codacy-bot opened #220 "Consider possible security implications associated with check_output module."
### [Codacy](https://app.codacy.com/app/DarkSecDevelopers/HiddenEye/commit?cid=324733220) detected an issue:
#### Message: `Consider possible security implications associated with check_output module.`

#### Currently on:
+ **Commit**:  b4a27f8acf3b0364431134d40b34dabd6a0e060b
+ **File**:    [Defs/Actions.py](https://github.com/DarkSecDevelopers/HiddenEye/blob/b4a27f8acf3b0364431134d40b34dabd6a0e0

[2019-02-16 22:03] codacy-bot opened #221 "Redefining built-in 'exit'"
### [Codacy](https://app.codacy.com/app/DarkSecDevelopers/HiddenEye/commit?cid=324733220) detected an issue:
#### Message: `Redefining built-in 'exit'`

#### Currently on:
+ **Commit**:  b4a27f8acf3b0364431134d40b34dabd6a0e060b
+ **File**:    [Defs/Actions.py](https://github.com/DarkSecDevelopers/HiddenEye/blob/b4a27f8acf3b0364431134d40b34dabd6a0e060b/Defs/Actions.py)
+ **LineNum**: [10](https://g

[2019-02-16 22:13] codacy-bot opened #222 "Too many arguments for format string"
### [Codacy](https://app.codacy.com/app/DarkSecDevelopers/HiddenEye/commit?cid=324733220) detected an issue:
#### Message: `Too many arguments for format string`

#### Currently on:
+ **Commit**:  b4a27f8acf3b0364431134d40b34dabd6a0e060b
+ **File**:    [Defs/Actions.py](https://github.com/DarkSecDevelopers/HiddenEye/blob/b4a27f8acf3b0364431134d40b34dabd6a0e060b/Defs/Actions.py)
+ **LineNum**: [114

[2019-02-16 22:40] codacy-bot opened #223 "[no-consecutive-blank-lines] Remove 1 line before node"
### [Codacy](https://app.codacy.com/app/DarkSecDevelopers/HiddenEye/commit?cid=324733216) detected an issue:
#### Message: `[no-consecutive-blank-lines] Remove 1 line before node`

#### Currently on:
+ **Commit**:  400c9d9825575b197dc12c60fa119bb93a992ddc
+ **File**:    [instructions.md](https://github.com/DarkSecDevelopers/HiddenEye/blob/400c9d9825575b197dc12c60fa119bb93a992ddc/instructions.md)
+

[2019-02-16 22:41] codacy-bot opened #224 "[list-item-spacing] Missing new line after list item"
### [Codacy](https://app.codacy.com/app/DarkSecDevelopers/HiddenEye/commit?cid=324733216) detected an issue:
#### Message: `[list-item-spacing] Missing new line after list item`

#### Occurred on:
+ **Commit**:  6a208a5fefaf079f9342a6d0ced98d1b70cd3e91
+ **File**:    [README.md](https://github.com/DarkSecDevelopers/HiddenEye/blob/6a208a5fefaf079f9342a6d0ced98d1b70cd3e91/README.md)
+ **LineNum**: [

[2019-02-16 22:57] sTiKyt opened #225 "Fix 3 Duplication issues in WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found multiple issues:

#### Duplicate Code
[WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css:6115-6129
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/WebPages/Instagram_autoliker/assets/css/cssv2/bootstrap.css#L6115)[WebPages\Instagram_autoliker

[2019-02-16 22:57] sTiKyt opened #226 "Fix 'Negative text-indent doesn't work well with RTL. If you use text-indent for image replacement explicitly set direction for that item to ltr.' issue in WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found an issue: Negative text-indent doesn't work well with RTL. If you use text-indent for image replacement explicitly set direction for that item to ltr.

It's currently on:
[WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css:6406
](https://www.codefactor.io/repository/github/darksecde

[2019-02-16 22:57] sTiKyt opened #227 "Fix 11 Compatibility issues in WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found multiple issues:

#### The property -moz-appearance is compatible with -webkit-appearance and should be included as well.
[WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css:139
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/WebPages/Instagra

[2019-02-16 22:57] sTiKyt opened #228 "Fix 14 Compatibility issues in WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found multiple issues:

#### Missing vendor-prefixed CSS gradients for Firefox 3.6+, Old Webkit (Safari 4+, Chrome).
[WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css:5154
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/WebPages/Instagram_autolike

[2019-02-16 22:58] sTiKyt opened #229 "Fix 33 Performance issues in WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found multiple issues:

#### Values of 0 shouldn't have units specified.
[WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css:1779
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/WebPages/Instagram_autoliker/assets/css/cssv2/bootstrap.css#L1779)[WebP

[2019-02-16 22:58] sTiKyt opened #230 "Fix 6 Performance issues in WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found multiple issues:

#### The universal selector (*) is known to be slow.
[WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css:200
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/WebPages/Instagram_autoliker/assets/css/cssv2/bootstrap.css#L200)[We

[2019-02-16 22:58] sTiKyt opened #231 "Fix 6 Performance issues in WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found multiple issues:

#### Attribute selectors with ^= are slow!
[WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css:219
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/WebPages/Instagram_autoliker/assets/css/cssv2/bootstrap.css#L219)[WebPages\Ins

[2019-02-16 22:58] sTiKyt opened #232 "Fix 2 Performance issues in WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found multiple issues:

#### Unqualified attribute selectors are known to be slow.
[WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css:49
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/WebPages/Instagram_autoliker/assets/css/cssv2/bootstrap.css#L49

[2019-02-16 22:58] sTiKyt opened #233 "Fix '@import prevents parallel downloads, use <link> instead.' issue in WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found an issue: @import prevents parallel downloads, use <link> instead.

It's currently on:
[WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css:1
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/WebPages/Instagram_autoliker/assets/css/cssv2/bootstra

[2019-02-16 22:59] sTiKyt opened #234 "Fix 'The properties margin-top, margin-bottom, margin-left, margin-right can be replaced by margin.' issue in WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found an issue: The properties margin-top, margin-bottom, margin-left, margin-right can be replaced by margin.

It's currently on:
[WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css:4371
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/WebPages/Inst

[2019-02-16 22:59] sTiKyt opened #235 "Fix 66 Maintainability issues in WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found multiple issues:

#### Use of !important
[WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css:203
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/WebPages/Instagram_autoliker/assets/css/cssv2/bootstrap.css#L203)[WebPages\Instagram_autoliker\ass

[2019-02-16 22:59] sTiKyt opened #236 "Fix 10 Accessibility issues in WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/overview/master) found multiple issues:

#### Outlines should only be modified using :focus.
[WebPages\Instagram_autoliker\assets\css\cssv2\bootstrap.css:56
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/WebPages/Instagram_autoliker/assets/css/cssv2/bootstrap.css#L56)[WebPa

[2019-02-17 07:39] #221 closed

[2019-02-17 08:25] #179 closed

[2019-02-17 09:55] codacy-bot opened #242 "Unused argument 'module'"
### [Codacy](https://app.codacy.com/app/DarkSecDevelopers/HiddenEye/commit?cid=324760516) detected an issue:
#### Message: `Unused argument 'module'`

#### Currently on:
+ **Commit**:  0ec25199201d305cb67ab3a155cd0975d7b197b4
+ **File**:    [Defs/Actions.py](https://github.com/DarkSecDevelopers/HiddenEye/blob/0ec25199201d305cb67ab3a155cd0975d7b197b4/Defs/Actions.py)
+ **LineNum**: [257](https://gi

[2019-02-17 09:56] codacy-bot opened #243 "Unused variable 'user'"
### [Codacy](https://app.codacy.com/app/DarkSecDevelopers/HiddenEye/commit?cid=324760516) detected an issue:
#### Message: `Unused variable 'user'`

#### Currently on:
+ **Commit**:  0ec25199201d305cb67ab3a155cd0975d7b197b4
+ **File**:    [Defs/Actions.py](https://github.com/DarkSecDevelopers/HiddenEye/blob/0ec25199201d305cb67ab3a155cd0975d7b197b4/Defs/Actions.py)
+ **LineNum**: [356](https://gith

[2019-02-17 09:56] codacy-bot opened #244 "Wildcard import os"
### [Codacy](https://app.codacy.com/app/DarkSecDevelopers/HiddenEye/commit?cid=324760516) detected an issue:
#### Message: `Wildcard import os`

#### Occurred on:
+ **Commit**:  70f0e30bb169c1d1e7530459d8b16fcbb5d9f4b1
+ **File**:    [Defs/Checks.py](https://github.com/DarkSecDevelopers/HiddenEye/blob/70f0e30bb169c1d1e7530459d8b16fcbb5d9f4b1/Defs/Checks.py)
+ **LineNum**: [4](https://github.com/Da

[2019-02-17 09:57] codacy-bot opened #245 "Statement seems to have no effect"
### [Codacy](https://app.codacy.com/app/DarkSecDevelopers/HiddenEye/commit?cid=324760516) detected an issue:
#### Message: `Statement seems to have no effect`

#### Occurred on:
+ **Commit**:  34cfcc82e6e43b84fd9d87d8ce8e45648268361f
+ **File**:    [Defs/Languages.py](https://github.com/DarkSecDevelopers/HiddenEye/blob/34cfcc82e6e43b84fd9d87d8ce8e45648268361f/Defs/Languages.py)
+ **LineNum**: [44]

[2019-02-17 09:57] codacy-bot opened #246 "Unused import gettext"
### [Codacy](https://app.codacy.com/app/DarkSecDevelopers/HiddenEye/commit?cid=324760516) detected an issue:
#### Message: `Unused import gettext`

#### Occurred on:
+ **Commit**:  4ee71519a1156235e5b8827e380dfc63460f436c
+ **File**:    [HiddenEye.py](https://github.com/DarkSecDevelopers/HiddenEye/blob/4ee71519a1156235e5b8827e380dfc63460f436c/HiddenEye.py)
+ **LineNum**: [4](https://github.com/Dar

[2019-02-17 09:58] codacy-bot opened #247 "Unused import sys"
### [Codacy](https://app.codacy.com/app/DarkSecDevelopers/HiddenEye/commit?cid=324760516) detected an issue:
#### Message: `Unused import sys`

#### Occurred on:
+ **Commit**:  34cfcc82e6e43b84fd9d87d8ce8e45648268361f
+ **File**:    [HiddenEye.py](https://github.com/DarkSecDevelopers/HiddenEye/blob/34cfcc82e6e43b84fd9d87d8ce8e45648268361f/HiddenEye.py)
+ **LineNum**: [7](https://github.com/DarkSec

[2019-02-18 07:02] eMgniK commented on #207
I am getting this same issue on 2 separate Ubuntu OS.

[2019-02-18 15:56] jepunband commented on #207
yup it's not fixed yet.

[2019-02-19 12:30] abigail24 opened #249 "Server Ngrok Syntax Error"
hi guys,
followed the installation as per instructions. Installation was successful. During the choosing of the servers ;
1.ngrok
2. serveo

on choosing ngrok i get this error:

./Server/ngrok: 1: ./Server/ngrok: Syntax error: "(" unexpected

I also followed a closed solution here #202 which did not work.

I'm using Kali Linux - 3.4.0 - Nethunter

[2019-02-21 10:40] arghyadipchak opened #250 "Github Page not Proper."
The Github Page appearing in the Attack is not ok.
Please change the index.html file in the /WebPages/Github
I have already done it in the file below.
Please replace it if you like.

[index.zip](https://github.com/DarkSecDevelopers/HiddenEye/files/2888890/index.zip)

[2019-02-21 10:48] usama7628674 commented on #250
I'll fix it.

[2019-02-22 10:02] voldemort1912 opened #251 "Service Not Available Error!!"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Followed the Installation Steps
2. Instagram Phishing
3. Selected yes to IPLogger
4. Selected Serveo as Domain added subdomain etc...
5. Eroor

**Expected behavior**
Expected the Program to execute successfully, Give me a subdomain and well...do it's jon

**Screenshots**

[2019-02-22 11:01] usama7628674 commented on #251
Please attach screenshot

[2019-02-22 16:34] Knowledge-Wisdom-Understanding commented on #206
What is the proper syntax for the CUSTOM Subdomain for serveo?
https://examplesite.com OR www.example.com OR example OR examplesite.serveo.net
I can't get Serveo to work. Do we have to register the subdomain first or can it be anything that we make up? I haven't used Serveo very much. Any advice would be much appreciated.
Ngrok works perfectly though.

[2019-02-22 17:57] sTiKyt commented on #251
@voldemort1912 Describe the bug please...

[2019-02-22 19:45] eMgniK commented on #207
@sTiKyt do you have any idea what is causing this? I was running a version that was perfectly fine then coming back to using it I'm greeted by this error. I come to believe it is a problem creating a tinyurl link as they have started to prohibit the use of serveo being shortened.

This means this is not a code bug but a server based error of sort.

[2019-02-22 21:19] voldemort1912 commented on #251
![screenshot_20190222-151735_termux](https://user-images.githubusercontent.com/47709143/53271843-a3980280-3715-11e9-8563-000d0c31f339.jpg)
@usama7628674 @sTiKyt

[2019-02-22 21:21] voldemort1912 commented on #251
P.S. ngrok works fine though!! But I need to use Serveo as it allows me to have a custom Subdomain

[2019-02-23 04:00] usama7628674 commented on #250
@arghyadipchak Resolved.

[2019-02-23 04:00] #250 closed

[2019-02-24 10:19] Crewxx commented on #211
Having same issue as well, and am finding it difficult setting up serveo to work properly. Please help

[2019-02-25 15:12] Pranay1004 opened #254 "What's the problem and how to resolve?"
Traceback (most recent call last):
  File "./HiddenEye.py", line 8, in <module>
    from Defs.Checks import *
  File "/root/HiddenEye/Defs/Checks.py", line 7, in <module>
    from wget import download
ModuleNotFoundError: No module named 'wget'

[2019-02-25 19:49] An0nUD4Y commented on #254
@Pranay1004  Don't Be lazy man...
We have already solved this shit issue ...
Please check closed issues...
#178 #189 #186 #172 #196

[2019-02-25 19:49] #254 closed

[2019-02-25 19:50] An0nUD4Y commented on #251
Solved clone It Again...

[2019-02-25 19:51] An0nUD4Y commented on #249
@abigail24  Please try again with new commits , clone again..

[2019-02-25 23:08] actooalizame commented on #251
This issue isn't resolved yet.

Cloned the latest version and still got the error on the attached screen capture.

![cap-bug-hiddeneye](https://user-images.githubusercontent.com/11241403/53375102-4fb13780-3928-11e9-9092-4d8d6fa0ced3.png)

[2019-02-27 07:11] jepunband commented on #251
Yeah this issue happens with serveo after generating the link. I opened this issue b3fore but it was closed by @sTiKyt

[2019-02-27 08:21] usama7628674 commented on #251
I'll peep into it later.

[2019-02-27 14:47] An0nUD4Y commented on #251
@actooalizame , @voldemort1912 , Please Clone with latest commits... I have removed The tinyurl , But Later It will be added...???

[2019-02-27 22:09] eMgniK commented on #207
@sTiKyt Issue is solved after latest push. Was correct about TinyURL not working. Please close the issue! Cheers

[2019-02-28 18:14] llegall924 opened #255 "Ngrok is not downloading"
Used both versions, for termux and not, same error. Tried to delete `checkNgrok()` and moved nrok file to Server and Defs folders. Root is working also
![error](https://user-images.githubusercontent.com/48101408/53588251-b186d100-3bb6-11e9-8a5d-07e311f26390.JPG)

[2019-02-28 18:31] llegall924 opened #256 "How to turn off Ngrok and get just localhost link"
i have a problem with installing Ngrok, can i just turn off this part and get raw localhost link?

[2019-02-28 18:37] Mokruy commented on #211
same problem

[2019-02-28 22:53] #207 closed

[2019-03-01 02:56] usama7628674 commented on #256
@llegall924

[2019-03-01 02:56] #256 closed

[2019-03-01 09:28] actooalizame commented on #251
@An0nUD4Y OK fixed now!

Clone + git commit 392a970  solved Serveo issue.

Thank you!

[2019-03-01 11:39] #251 closed

[2019-03-02 02:40] An0nUD4Y commented on #255
@llegall924 I will check for it... wait sometime

[2019-03-02 03:03] An0nUD4Y opened #257 "NEED HELP !! NEW TEMPLATE"
@sTiKyt @usama7628674
Check this blog, https://blog.trendmicro.com/trendlabs-security-intelligence/how-a-hacking-group-is-stealing-popular-instagram-profiles/

This is the currently active phishing campaign,
Lets add this template to our tool,
Here is the currently active phishing link
https://instagrambluetick[.]ml

I have uploaded the template script , but as i don't have enough time , i can't c

[2019-03-02 03:04] An0nUD4Y commented on #257
Check This Active Phishing Campaign : https://instagrambluetick.ml
I am waiting for Reply...

[2019-03-02 07:12] An0nUD4Y commented on #257
OK Guys I have Added this..

[2019-03-02 07:13] #257 closed

[2019-03-02 07:52] usama7628674 commented on #257
@An0nUD4Y Where did you add it I can't see any new commit?

[2019-03-02 10:25] CptJoker commented on #206
same issue with me i tired all subdomains still now working please help

Thanks in Advance :)

[2019-03-05 12:22] root1825 opened #259 "cant enter any subdomains"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-03-05 12:23] #259 closed

[2019-03-05 12:28] root1825 opened #260 "doesnt accept any subdomains"
maybe something has gone wrong on the installation or i dont know why this tool isnt acceptting  any url

![screenshot from 2019-03-05 18-25-13](https://user-images.githubusercontent.com/26313436/53805453-61bc5700-3f74-11e9-8f69-28295f6d6d41.png)
![screenshot from 2019-03-05 18-25-31](https://user-images.githubusercontent.com/26313436/53805455-61bc5700-3f74-11e9-91f4-f08d9525ee52.png)
![screenshot

[2019-03-05 15:55] sTiKyt commented on #260
Try without serveo.net...

[2019-03-06 03:18] ashu021 opened #261 "servers failure and options not working"
**Describe the bug**
A clear and concise description of what the bug is.
I tested the script for two - three days,A great idea but is having some issues that i found,Firstly the servers is a big failure in this,I read many issues related to servers errors,In my opinion you should be adding an option of self choosing of server.Secondly you can add the options of fake mails,So that the  link  genera

[2019-03-06 04:37] sTiKyt commented on #261
@ashu021 thanks for your feedback! We'll analyze and fix problems soon.

[2019-03-06 05:44] usama7628674 commented on #261
@ashu021 You aren't using https are you?

[2019-03-06 12:38] ashu021 commented on #261
@usama7628674 yeah i am using https.

[2019-03-06 12:40] ashu021 commented on #261
@sTiKyt yeah thank you,looking forward for your reply.

[2019-03-07 02:41] An0nUD4Y commented on #261
@ashu021  Check the latest updates...

[2019-03-07 02:53] #261 closed

[2019-03-07 04:22] ashu021 commented on #261
@An0nUD4Y i will check the update for sure.

[2019-03-07 05:00] sTiKyt commented on #261
@An0nUD4Y Please release simmilary with me, you make mistakes

[2019-03-07 06:54] #260 closed

[2019-03-07 06:58] An0nUD4Y commented on #255
@llegall924 you have cloned the master branch , for termux their is another branch available , please clone that branch.
[TERMUX BRANCH HERE](https://github.com/DarkSecDevelopers/HiddenEye/tree/Termux-Support-Branch)

[2019-03-07 06:58] #255 closed

[2019-03-07 07:00] An0nUD4Y commented on #249
No Response .... So closing here.

[2019-03-07 07:01] #249 closed

[2019-03-07 07:01] #247 closed

[2019-03-07 07:01] #246 closed

[2019-03-07 07:14] sTiKyt commented on #227
@An0nUD4Y i don't know how to use css and html dude, i'm only python beginner

[2019-03-07 07:15] usama7628674 commented on #227
not a problem just using css property for mozilla and microsoft browsers.Closing

[2019-03-07 07:15] #227 closed

[2019-03-08 03:05] #245 closed

[2019-03-08 04:24] sTiKyt opened #262 "Fix 1 Security, 1 Maintainability issues in Defs\Actions.py"
[CodeFactor](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye) found multiple issues last seen at 7b0ef39a601ec8efd3f24c1c5ad2f4f663c85a28:

#### subprocess call with shell=True seems safe, but may be changed in the future, consider rewriting without shell
[Defs\Actions.py:179
](https://www.codefactor.io/repository/github/darksecdevelopers/hiddeneye/source/master/Defs/Action

[2019-03-08 04:25] sTiKyt commented on #262
@An0nUD4Y

[2019-03-08 05:06] ashu021 commented on #262
@sTiKyt @An0nUD4Y the bug is still not resolved
![screenshot from 2019-03-08 10-34-24](https://user-images.githubusercontent.com/30325189/54008717-e930e280-418d-11e9-9579-d55fc449f4b6.png)

[2019-03-08 05:09] ashu021 commented on #262
@sTiKyt there is also a permission error for the log.

[2019-03-08 05:15] ashu021 opened #263 "permission and log file error"
![screenshot from 2019-03-08 10-43-02](https://user-images.githubusercontent.com/30325189/54009002-20ec5a00-418f-11e9-82a2-a92b79823fba.png)

[2019-03-08 05:16] BrokeTerror69 opened #264 "Help with HiddenEye"
When I try to run python3 HiddenEye.py, I get a traceback error saying that wget is not installed when it is. I have found that it is in python2.7 and not python3. When I try to do sudo apt install python3-pip, I get another error saying python3-pip cannot be located. Any help would be greatly appreciated.

[2019-03-08 07:57] An0nUD4Y commented on #263
@ashu021 , Please use sudo to run.. Check [instructions](https://github.com/DarkSecDevelopers/HiddenEye/blob/master/instructions.md)

[2019-03-08 08:02] An0nUD4Y commented on #262
@sTiKyt , Please give some time to manage the errors and bugs, I am currently a lot busy with my schedule... PLEASE TAKE A LOOK ... I will be thankfull to you.

[2019-03-08 08:03] An0nUD4Y commented on #263
@sTiKyt , Please take a look here, i am currently busy..

[2019-03-08 17:17] Crewxx commented on #264
Learn how to make simple install before loging complaint. Use python3.7 as command and if error persist then check your python installation properly

[2019-03-09 05:23] tchach0 commented on #264
hi bro
I try all step one by one
but in finally link of scama not run or show to me
can you help me plz

[2019-03-09 06:04] BrokeTerror69 commented on #264
As I wrote this when I was extremely tired, I am closing the issue and opening a new, more descriptive one.

[2019-03-09 06:04] #264 closed

[2019-03-09 06:30] tchach0 commented on #264
sorry I have taken all the steps I have taken but at the final stage to get the sites sent to the victim I do not see

[2019-03-09 06:31] tchach0 commented on #264
Keep the blank-free black links not showing I have only a black screen

[2019-03-09 06:40] vishalsoni10 opened #265 "this page isn't working"
plzz help

[2019-03-09 11:13] sTiKyt commented on #264
@tchach0 create issue...

[2019-03-09 11:14] sTiKyt commented on #265
Please explain problem next time.

[2019-03-09 11:14] #265 closed

[2019-03-10 11:01] sTiKyt commented on #263
I'm not sure, probably we can't create this file cause app were used without sudo?

[2019-03-10 11:01] sTiKyt commented on #263
@ashu021 please try to use "sudo python3 HiddenEye.py"
if problem solved - please close this issue.

[2019-03-10 11:02] sTiKyt commented on #263
Also your app may be outdated, please update it to latest release.

[2019-03-12 07:21] sTiKyt commented on #262
@ashu021 i told you what to do, try to use SUDO

[2019-03-13 11:53] k3rn3l-p4n1c1 opened #267 "ngrok and serveo don't work"
Hey,

at first thanks for offering this nice project.

The main problem I'm facing is, that neither ngrok or serveo service are working.

Are you working on a fix?

Thank You!

[2019-03-13 13:26] k3rn3l-p4n1c1 commented on #267
Seems like serveo.net is offline, no wonder why this service isnt working. But ngrok doenst work as well.

[2019-03-13 16:10] sTiKyt commented on #267
@k3rn3l-p4n1c1 can you please fill issue using template?

[2019-03-14 01:48] usama7628674 commented on #267
@k3rn3l-p4n1c1 Serveo is now online and ngrok is also working.

[2019-03-14 08:41] #267 closed

[2019-03-14 21:54] NEXUS2345 opened #273 "Blank screen after selecting proxy service"
When attempting to run the application, once you select the proxy service you wish to use, you are greeted by a blank terminal screen.

Steps to reproduce the behavior:
1. Run script and proceed through as normal till proxy selection
2. Select proxy
3. Blank terminal screen

I expected to be given a link to be able to access my local instance of HiddenEye via the proxy service selected.

Screensho

[2019-03-15 00:20] astr0naut421 commented on #273
I have the same problem. Helppppp!

[2019-03-15 06:42] k3rn3l-p4n1c1 commented on #273
Same problem here, use Serveo instead of ngrok, should fix the problem temporary.

[2019-03-15 06:47] k3rn3l-p4n1c1 opened #274 "Localized version of Facebook Standard Page"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Instead of the english localized Facebook standard page, I liked to have a way to choose different languages.

Maybe it is possible to swap the linked content in the index.html to change the language of the webpage?

Thanks a lot for all your efforts.

[2019-03-15 08:59] sTiKyt commented on #273
@NEXUS2345 we'll fix it as soon as possible! As you can see this just pre-release, we not released stable version yet.

[2019-03-17 05:07] vishalpc2018 commented on #273
same problem.please fix it as soon as possible.

[2019-03-17 07:04] Dipraj commented on #83
as we know now ngrok required authtoken... i also provide my authtoken to ngrok itself.. but it still black. it's request to the developer try to fix it as soon as posssible

[2019-03-17 20:25] sTiKyt commented on #274
Sounds good but we don't have enough employees to do cool things like this
We have people to keep app in stable status but we add other features really slow

[2019-03-18 20:44] #274 closed

[2019-03-19 05:27] StratoMusic opened #276 "Facebook Standard and Security"
Hello, would like to point out that Facebook standard and security aren't working on mobile, are they being updated?

Thank you!!

[2019-03-19 17:34] pretech86 opened #277 "dear thank for the project but it not work with me it give a blank page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-03-19 17:37] sTiKyt commented on #277
@pretech86 why you posted bug as feature request? -_-
We know about this bug, everyone have this problem now because of ngrok and serveo problems.
We will fix it as soon as possible.

[2019-03-19 17:37] #277 closed

[2019-03-19 17:37] sTiKyt commented on #277
#273

[2019-03-21 06:13] rootroota1 opened #278 "HIDDENEYE"
Hi guys
After I cloned HiddenEye in my Linux, I tried to run “python3 HiddenEye.py” but it pops an error in network. It shows exactly like “network error; confirme your connection”
Help

[2019-03-21 08:15] An0nUD4Y commented on #278
@rootroota , check closed issues... And please don't be lazy , it's what it is saying... Check your internet connection.

[2019-03-21 08:15] #278 closed

[2019-03-21 10:03] rootroota1 commented on #278
![2F1882BC-32F7-4A80-8D0D-9F2A285074B4](https://user-images.githubusercontent.com/45772333/54745063-b220ef00-4bd9-11e9-9125-b46e04cc4734.jpeg)

[2019-03-22 15:03] sTiKyt commented on #278
@rootroota1 probably you don't have internet connection or not able to reach google.com

[2019-03-22 15:06] #206 closed

[2019-03-22 15:08] #211 closed

[2019-03-22 15:08] sTiKyt commented on #211
This not a problem, just restriction of free version of Ngrok.
Sorry :\

[2019-03-22 15:10] sTiKyt commented on #204
Seems like "sudo" fixed this problem...

[2019-03-22 15:10] #204 closed

[2019-03-22 15:12] sTiKyt commented on #215
We have to do it later, now we have more important problem to solve.

[2019-03-22 15:12] #215 closed

[2019-03-22 15:13] #110 closed

[2019-03-22 15:13] sTiKyt commented on #159
No time to do it

[2019-03-22 15:13] #159 closed

[2019-03-22 17:52] toxub23 opened #279 "GG site"
It would be useful to add a website supportpolish website https://www.gg.pl/ it is like messenger

[2019-03-23 12:44] rootroota1 commented on #159
I have tried it but it fails again

On Fri, Mar 22, 2019, 6:13 PM Artur Tretiak <notifications@github.com>
wrote:

[2019-03-23 18:10] vishalpc2018 opened #280 "Any Kalilinux Phising tools currently not worked"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-03-23 18:51] rootroota1 commented on #280
Shellphis works form me

On Sat, Mar 23, 2019, 9:18 PM AnonUD4Y <notifications@github.com> wrote:

[2019-03-23 20:35] uran86 opened #281 "Ngrok or server dont work"
When choosing ngrok or server nothing happens.
Everything else work, but it does not create any links.

I removed it and installed it again, still the same thing.

![Skärmbild från 2019-03-23 17-30-22](https://user-images.githubusercontent.com/11734119/54871365-32398700-4d89-11e9-9be7-678b06ec6b0b.png)

Any idés why?

[2019-03-23 21:07] An0nUD4Y commented on #281
#273 .. its a bug, we will resolve it as soon as possible.

[2019-03-23 21:09] An0nUD4Y commented on #279
@toxub23 We will add this in next release. Thanks for Request.

[2019-03-23 21:10] #279 closed

[2019-03-23 21:10] #219 closed

[2019-03-23 21:10] #216 closed

[2019-03-23 21:11] #218 closed

[2019-03-23 21:11] #220 closed

[2019-03-23 21:12] #222 closed

[2019-03-23 21:13] #244 closed

[2019-03-23 21:13] #243 closed

[2019-03-23 21:13] #242 closed

[2019-03-23 21:15] #236 closed

[2019-03-23 21:16] #235 closed

[2019-03-23 21:16] #223 closed

[2019-03-23 21:16] #224 closed

[2019-03-23 21:17] #234 closed

[2019-03-23 21:17] #233 closed

[2019-03-23 21:18] #232 closed

[2019-03-23 21:18] #231 closed

[2019-03-23 21:18] #225 closed

[2019-03-23 21:19] #226 closed

[2019-03-23 21:19] #230 closed

[2019-03-23 21:19] #229 closed

[2019-03-23 21:20] #228 closed

[2019-03-23 21:22] An0nUD4Y commented on #195
@sTikyt , It's now fixed..

[2019-03-23 21:22] #195 closed

[2019-03-23 21:25] An0nUD4Y commented on #192
@sTikyt , Do it dude, but currently I am closing it... Feel free to reopen.

[2019-03-23 21:25] #192 closed

[2019-03-23 21:27] An0nUD4Y commented on #276
@StratoMusic , Now now , you have to wait until next release.

[2019-03-23 21:27] #276 closed

[2019-03-23 21:32] An0nUD4Y commented on #280
@rootroota1 , it's better if you let us know the issues you are facing.

[2019-03-23 21:35] An0nUD4Y commented on #263
No response ... Closing. You can reopen anytime.

[2019-03-23 21:35] #263 closed

[2019-03-24 02:12] panime opened #282 "git clone https://github.com/DarkSecDevelopers/HiddenEye fatal: destination path 'HiddenEye' already exists and is not an empty directory."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-03-24 05:40] An0nUD4Y commented on #282
@panime , Try to clone in other directory. Or delete the old cloned before cloning new.

[2019-03-24 05:40] #282 closed

[2019-03-25 12:53] mimou1340 opened #283 "Serveo link down after one try, and Ngrok is not generating link"
Serveo link die after one try ..
Please fix it to be stable .
Thanks am loving the tool so far.. Especially the ability to custom links and redirects..
The only problem is that the link die quickly..

[2019-03-25 13:42] An0nUD4Y commented on #283
@mimou1340 ,
I will fix it as soon as possible.

[2019-03-27 22:45] uran86 commented on #281
How is it going bro, with fixing the bug?

[2019-03-31 12:17] SomeRandomPigeon opened #284 "HiddenEye doesn't start"
Basically when i want to start up HiddenEye it only gives me a traceback, even though i installed the requirements. I start HiddenEye with python3, as i should. Please help!

[2019-03-31 22:55] Alien-Virus commented on #280
Is Theresa any problema with Linux O.S's? Neither Kali nor Parrot or Termux pentesting os working. Ngrok doesn't run green. Can't use blackeye, hiddeneye nor socialfish. Help me...

[2019-03-31 23:07] rootroota1 commented on #280
Use Shellphish,  it's working

On Mon, Apr 1, 2019, 1:55 AM Alien-Virus <notifications@github.com> wrote:

[2019-04-01 02:01] usama7628674 commented on #284
@SomeRandomPigeon How did you install requirements with pip or pip3?

[2019-04-01 16:40] Alien-Virus commented on #280
Why my ngrok doesn't run green on termux. What's wrong with my phone?
Please Help me.

A segunda, 1/04/2019, 00:07, Roota <notifications@github.com> escreveu:

[2019-04-02 11:03] craziestsaint opened #285 "ngrok.url"
I'm a windows user, after managing to setup the ngrok and other stuff.on getting to the end i get a message ngrok.url not found how can i fix this.
![ngrok](https://user-images.githubusercontent.com/49193217/55397966-3f2e4700-54fc-11e9-9fdf-8865621afb0b.PNG)

[2019-04-03 01:16] usama7628674 commented on #285
@craziestsaint It is not for windows.

[2019-04-03 01:16] #285 closed

[2019-04-03 11:24] craziestsaint commented on #285
Can I run it on cygwin ?

[2019-04-03 13:18] usama7628674 commented on #285
@craziestsaint Maybe try it out.

[2019-04-03 13:18] sTiKyt commented on #285
@craziestsaint just try

[2019-04-03 13:18] sTiKyt commented on #285
@usama7628674 Lol, same message -_-

[2019-04-03 13:21] sTiKyt commented on #280
@Alien-Virus seems like Ngrok problem, we'll fix it as soon as possible

[2019-04-03 13:23] sTiKyt commented on #281
#273

[2019-04-03 13:23] #281 closed

[2019-04-03 13:24] sTiKyt commented on #280
#273

[2019-04-03 13:24] #280 closed

[2019-04-04 17:27] AbitathaRoy opened #286 "Suggestions to make this tool even better"
Dear Developers,
It's Abitatha Roy, a computer enthusiast.
I have tested many phishing tools and came up with the issue which prevails over all tools. Suppose, when we create our own local server using the ngrok tool, the link remains active unless it is manually terminated or our computer is shut down.
However, for tools like this one, the links are active for a very short time after which they t

[2019-04-05 20:32] Alien-Virus commented on #280
Termux is asking to run HiddenEye sudo but when i do ir doesn't workshop.

I've already tried the following cores:
sudo ./HiddenEye.py
tsudo ./HiddenEye.py
tsu ./HiddenEye.py.

What more shall i do?

[2019-04-05 23:59] cybergost opened #287 "keylogger problem"
i am unable to track keystrokes from my target phone is it because of the touch screen feed?

[2019-04-06 07:18] sTiKyt commented on #280
@Alien-Virus you should install TERMUX EDITION, please read README.md

[2019-04-06 12:26] An0nUD4Y commented on #287
@cybergost , This is because , the android browsers does not allows some scripts. Like those in desktop browsers... I will add another better option for this , wait a week .. I am busy currently... Thanks to share your issue.

[2019-04-06 12:28] An0nUD4Y commented on #286
Hey abitatha, thanks to share your views about this tool, we will make it more realistic , wait few weeks..

[2019-04-07 08:58] SomeRandomPigeon commented on #284
Hey there!, i tried with both installation

Usama Abdul Sattar <notifications@github.com> ezt írta (időpont: 2019. ápr.
1., H, 4:01):

[2019-04-07 13:03] usama7628674 commented on #284
@SomeRandomPigeon Please post screenshot of error here.It's very hard to debug without any info.

[2019-04-08 13:27] strejfz commented on #284
PermissionError: Permissions denied! Please run as 'sudo'
 What i need to doo?

[2019-04-08 14:58] usama7628674 commented on #284
@strejfz Are you using termux on android?If you're then please clone termux branch or head over [here](https://github.com/DarkSecDevelopers/HiddenEye/blob/master/instructions.md#running-for-android-users-in-termux) for complete installation of Hiddeneye on termux.

[2019-04-08 20:47] Ashbuhrz opened #288 "Not working... Ngrok and surveo doesn't work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-04-09 15:45] #288 closed

[2019-04-10 17:38] panus18261 opened #289 "Icloud can't use"
Icloud Phising can't use and it  redirect to icloud.com auto .

[2019-04-11 06:07] usama7628674 commented on #289
@panus18261 It won't if you're using android device

[2019-04-11 13:37] strejfz commented on #284
@usama7628674  can you add me on ig strafe.exe im going to send you ss

[2019-04-13 10:01] KnightSec-Official opened #290 "IP address 'bogon' issues."
**Describe the bug**
Everything works but when i put the creds into the page it gets me this error...

**To Reproduce**
Steps to reproduce the behavior:
1. Start the tool
2. Instagram
3. take ngrok link and acces it
4. Type username and password(for test) and error occurs

**Expected behavior**
Expected to work perfectly... When i remove the IP scripts from credget() it works fine

**Screenshots**

[2019-04-16 02:20] YInMn-xPL01T commented on #286
Not sure if you want suggestions here. But more options such as PlayStation or other gaming platforms would make this application 100x much better. Once I saw it had secure links I fell in love. Great build. Hope to see big updates soon!

[2019-04-16 12:23] abhibadshah1 opened #291 "not run hidden eye"
Traceback (most recent call last):
  File "HiddenEye.py", line 8, in <module>
    from Defs.Checks import *
  File "/root/Desktop/HiddenEye/Defs/Checks.py", line 7, in <module>
    from wget import download
ModuleNotFoundError: No module named 'wget'

[2019-04-16 13:41] An0nUD4Y commented on #291
Check closed issues...

[2019-04-16 13:41] #291 closed

[2019-04-17 12:43] Kingkhan12398 opened #292 "Servio not working"
when i open servio custom domain or random its not working. please help. ngrok also not working

[2019-04-18 17:27] An0nUD4Y commented on #292
Wait till next update..

[2019-04-18 17:27] #292 closed

[2019-04-18 19:19] Kingkhan12398 commented on #292
when will update come?

[2019-04-19 03:13] fadiking456 commented on #172
Traceback (most recent call last):
  File "HiddenEye.py", line 8, in <module>
    from Defs.Checks import *
ModuleNotFoundError: No module named 'Defs'

[2019-04-19 11:10] S1lkys commented on #283
I have the Problem too, it creates serveo links but they dont work like they dont show anything. Ngrok does not even generates a link

[2019-04-19 11:12] An0nUD4Y commented on #283
I am working hard to get fix these issues...

[2019-04-19 15:44] jaseeer opened #293 "new feature"
please add poll for instagram.
and facebook poll not working

[2019-04-19 17:00] An0nUD4Y commented on #293
May be in next release. .. but in few days I will add new update.. and issues fixing.

[2019-04-19 17:00] #293 closed

[2019-04-19 19:03] Vardaan79 opened #294 "Facebook Module is not working"
Hi,

Things are good to go except the facebook module. Please re-work on it.

[2019-04-20 06:44] An0nUD4Y commented on #294
Thanks to share, i will re-work on it..

[2019-04-20 06:44] #294 closed

[2019-04-20 06:45] #287 closed

[2019-04-20 06:45] An0nUD4Y commented on #289
NEED SOME TIME, ITS HARD TO FIX ALL AT ONCE..

[2019-04-20 06:45] #289 closed

[2019-04-20 06:46] An0nUD4Y commented on #290
I will try to reproduce & fix it , Thanks to share,,,

[2019-04-20 06:50] An0nUD4Y commented on #286
@YInMn-xPL01T , Always Ready to listen suggestions, Updates are comming soon... I will also try to add playstation or some gaming platform phishing... just give me the names of those websites..

[2019-04-20 06:51] An0nUD4Y commented on #284
@strejfz , please share screenshot here ,

[2019-04-20 06:54] An0nUD4Y commented on #273
Will be fixed in next release.. Thank you.. Wait for version 0.2.6 to be released..

[2019-04-20 06:54] #273 closed

[2019-04-20 15:32] amroytb commented on #283
Hey bro @An0nUD4Y thankyou for your hard work, i still can't generate link with ngrok or serveo server.
I select **instagram** phishing and then i follow your steps to type this command _"(./Server/ngrok http 1111)"_ but, i have 502 Bad Gateway on my ngrok server. Can you help me to fix my problem ?

[2019-04-20 15:56] pretech86 opened #295 "linked page not working well"
.thanks for your efforts but i face this problem the linkedin page not working well
![hiddeneye error](https://user-images.githubusercontent.com/46816468/56459559-f4d31400-639d-11e9-85fe-9e529761ff82.jpg)

[2019-04-20 16:01] usama7628674 commented on #295
@pretech86 It'll be fixed in coming days.

[2019-04-20 16:50] pretech86 commented on #295
Really thanks for your interest and your efforts also please try to fix facebook problem it not working also .. i think millions of people wait you
Thanks a lot

[2019-04-20 18:21] MircoCagni opened #296 "Facebook not work"
SELECT ANY ATTACK VECTOR FOR YOUR VICTIM:
------------------------
 [1] Facebook             [10] Yahoo               [19] Pinterest
 [2] Google               [11] Twitch              [20] ProtonMail
 [3] LinkedIn             [12] Microsoft           [21] Spotify
 [4] GitHub               [13] Steam
 [5] StackOverflow        [14] VK
 [6] WordPress            [15] iCloud
 [7] Twitter              [

[2019-04-21 15:53] S1lkys opened #298 "Failed to listen on 127.0.0.1:1111"
**Describe the bug**
When ngrok or serveo tries to get a url it fails and it displays:" Failed to listen on 127.0.0.1:7650 (reason: Address already in use). I tried to change the port and killed all services but after restarting HiddeEye it displays it again. It generates links but these have no content/ displa

y nothing"

**To Reproduce**
Steps to reproduce the behavior:
1. Start Hiddeneye
2. Se

[2019-04-21 20:02] An0nUD4Y commented on #298
@S1lkys , Try to kill port 1111 on localhost, use this command .
' fuser -k 1111/TCP '

[2019-04-21 20:20] S1lkys commented on #298
@An0nUD4Y nope nothing it says the Specified filename 1111/ TCP does not exist.

[2019-04-21 20:26] An0nUD4Y commented on #296
@MircoCagni , please clone again , as I have fixed this issue during testing..

[2019-04-21 20:26] #296 closed

[2019-04-21 20:43] S1lkys commented on #298
you can close it if you want i had to edit my host file to 127.0.0.1 localhost
in kali 127.0.0.1 points to kali @ default. thx for taking time for me anyway :)

[2019-04-21 20:43] #298 closed

[2019-04-21 21:13] An0nUD4Y commented on #286
Closing it to get consider some other important issues
 Open it again whenever you want

[2019-04-21 21:13] #286 closed

[2019-04-21 21:18] An0nUD4Y commented on #284
Please , clone again the script...
Open again if still found these issues..
As we have solved them in latest release v.0.2.6

[2019-04-21 21:18] #284 closed

[2019-04-21 21:23] An0nUD4Y commented on #283
Guys try this latest Released v.0.2.6 ,
I have fixed most of link down issues,
Closing Now , Feel free to Reopen whenever need ....

[2019-04-21 21:23] #283 closed

[2019-04-21 21:26] rootroota1 commented on #284
Hey guys help me on this as well...  Am I missing something?

On Mon, Apr 22, 2019, 12:18 AM AnonUD4Y <notifications@github.com> wrote:

[2019-04-21 21:26] An0nUD4Y commented on #194
Too old ... Not respond....
Suggestions not applied...
Open Again if Have any quory..

[2019-04-21 21:26] #194 closed

[2019-04-21 21:28] An0nUD4Y commented on #262
Closing issue, as latest version v.0.2.6 has got fixed these issues...
Reopen if still have any doubts...

[2019-04-21 21:28] #262 closed

[2019-04-22 03:01] johnny21212 commented on #295
hey my computer can't open sudo, so i don't know how to download Hidden Eye

[2019-04-22 06:26] pretech86 commented on #296
yes facebook working now thanks a lot

[2019-04-22 06:31] pretech86 commented on #286
@AbitathaRoy can you tell me please whish phishing tool you used because i searched more and more finding only hieddin eye the most proffessional one >>
thanks a lot and sorry to interrupt you

[2019-04-23 10:34] pretech86 opened #300 "credential color"
thanks for this tool
can you make the color of the credential green instead of red .. thanks a lot

also can i use the tool 2 sites or more than 2 at same time ?

best regards

[2019-04-23 10:39] pretech86 commented on #298
@S1lkys can you tell me how you edit your localhost to 127.0.0.1 only to silve this problem
thanks a lot

[2019-04-23 10:44] S1lkys commented on #298
In kali:
nano /etc/hosts

127.0.01 localhost

[2019-04-23 13:16] 8755245756 opened #302 "instagram is not still working even your updated vesrsion"
i am still getting tunnel not starting error while hoating instagram phising page and also get a new issue that your local host is already running on this 127.0..0.1:1111 ...
please chceck the issue and provide some solution

[2019-04-23 13:20] 8755245756 commented on #302
i will be very thankfull to you if you fixed that issue as soon posiible

[2019-04-24 14:25] An0nUD4Y commented on #300
@pretech86 , ok i will change the colour for credentials..
Off course you can use two attacks simultaneously, but for that you have to make some changes in script ...
1)- Make another copy of Hiddeneye ,
2)- In the copied Hiddeneye goto defs folder you will find actions.py file their ..
3)- Just change all 1111 values with any other value like 4321 or 1234 or 4444 anything you like, it will just c

[2019-04-24 14:34] An0nUD4Y commented on #302
@8755245756 , As I have already mentioned in solved issues that Ngrok do not allows multiple requests at once and stops connection, try serveo instead..
As Instagram page built to be not detected by browsers so it uses its own files to host , So need a multiple requests at once to completely load the page which is not possible with Ngrok..

And the second issue is a bug. I  don't have enough time

[2019-04-24 15:01] #300 closed

[2019-04-24 15:12] pretech86 commented on #300
thanks for your kindly interest

[2019-04-24 17:12] pretech86 opened #303 "work as a real page"
when the victim enered any user name and any password and also when the victim hit login without write any usename or password he can go direct to the redirect redirect page

is there any method to force him enter the correct user name or password ? i mean , we not let him entered to the redirect page until put his username and password correctly > isit possible ?

thanks for your efforts

[2019-04-25 03:22] usama7628674 commented on #303
We can check both field if they are empty the page won' t redirect untill both fields are filled.I've did that for snapchat page

[2019-04-25 11:38] pretech86 commented on #303
How we can make this ?

[2019-04-25 14:05] usama7628674 commented on #303
@pretech86  [Here](https://github.com/DarkSecDevelopers/HiddenEye/blob/master/WebPages/Snapchat_web/login.php) it is for snapchat.I haven't yet implemented for other webpages.

[2019-04-25 15:02] An0nUD4Y commented on #303
@pretech86 i think it should work,
Just add ( required  )
In any web page where the input boxes are available
Like below example from instagram verified badge attack,
As here we put a tag " required " , so now the user cannot leave it empty before submitting..

name="password" type="password" value="" required></div>

[2019-04-25 22:37] argtje99 opened #304 "No internet connection?"
HiddenEye shows me this error after i run python3 HiddenEye.py

_  _ . ___  ___  ___ _  _  ___ _  _ ___                     |__| | ]  | ]  | |__ |\ |  |__ \__/ |__                     |  | | ]__| ]__| |__ | \|  |__  ||  |__                       [!] ^Network error^. Verify your Internet connection.                                                         root@kali:~/HiddenEye#

I tried on 4G and on

[2019-04-26 03:51] usama7628674 commented on #304
I'll fix it.This is a known issue.

[2019-04-26 03:53] usama7628674 commented on #303
@pretech86 Like @An0nUD4Y said it can also be done by just putting required in input tag however there are various ways you can also write javascript or php script to achieve that.

[2019-04-26 04:33] cahyosh opened #305 "Failed to listen on 127.0.0.1:1111 (reason: Address already in use)"
Failed to listen on 127.0.0.1:1111 (reason: Address already in use)

How to resolve this problem?

[2019-04-26 07:36] pretech86 commented on #303
Sorry , i just a beginner what i understand i shall edit the web page in hidden eye and put required .... can you explain more please by steps .. sorry to interrupt you

Also can you add it to the tool code directly ?
Thanks for your efforts with us

[2019-04-26 07:58] An0nUD4Y commented on #305
@cahyosh , This is a known bug,
 You can resolve it by these steps..
(1) After completing the Script  (Do not close) . Open another terminal & Follow these commands.
(2) fuser -k 1111/tcp    (This will kill the port 1111 which is running)
(3) Goto the HiddenEye/Server/www location in cloned folder.Follow below command.
(4) cd HiddenEye/Server/www
(5) Now run php server from here with port 1111. Fo

[2019-04-26 08:02] usama7628674 commented on #305
@cahyosh It's fixed do `git pull` or reclone it again.

[2019-04-26 08:11] An0nUD4Y commented on #304
@usama7628674
Please mention the bug here , I m unable to get it.